[2019-11-01 20:47] bb03 commented on #265
The environment variable that the above maps to is SPLUNK_ANSIBLE_PRE_TASKS

[2019-11-01 22:06] nwang92 commented on #268
I would create the containers via `docker run` or `docker-compose` and after the container fails to provision successfully, run a `docker logs <container-id/name>` to grab the output. Then drop it in a gist and send it to me.

[2019-11-02 16:22] OllieJC commented on #268
I've been trying to update my containers to `v8.0.0` but app volume mounting seems broken in recent versions.

Based on this documentation: https://splunk.github.io/docker-splunk/advanced/APP_INSTALL.html
I got the following to work (where `LOCAL-APP-FOLDER` is the local folder with `default` / `metadata` etc. in, and `APP-ID` is the same as the `LOCAL-APP-FOLDER` name and the `id` field in `app.c

[2019-11-04 18:35] rlewkowicz commented on #264
I switched to fluentd and HEC. Thanks though!

[2019-11-04 18:35] #264 closed, assigned to nobody

[2019-11-05 10:36] nabiljsk opened #270 "How to deploy a cluster index splunk with docker compose on two server"
Hello,
I want to deploy a clustering index splunk with docker compose with docker compose on two server.

In the first server (192.168.10.10), I have two splunk container (searchead and indexer), and in the secend server (192.168.20.10), Ihave three splunk conteniar (cluster master ,searchead and indexer)
here are the files yml I used:

file server one

`# sever1.yml (192.168.10.10)

version: '2'

[2019-11-05 18:24] KlausGlueckert opened #271 "error docker launch splunk_build_type undefined"
getting fatal: [localhost]: FAILED! => {} 'splunk_build_type' is undefined when I launch a docker

` docker run -it -p 8000:8000 -e "SPLUNK_PASSWORD=<password>" -e "SPLUNK_START_ARGS=--accept-license" splunk/splunk:latest`

my system is ubuntu 18

[2019-11-05 18:33] KlausGlueckert commented on #271
also splunk/splunk:8.0.0 is throws the same error

[2019-11-05 22:56] bb03 commented on #271
@KlausGlueckert I'll start taking a look at this

[2019-11-05 23:16] bb03 commented on #271
I'm not able to reproduce the error, can you send me the SHA of the image you're working with?  Or just do a ```docker pull splunk/splunk:latest``` to make sure you're on the most current image

[2019-11-05 23:44] KlausGlueckert commented on #271
@bb03 Yes, using sha256:8f5a586f4e63565399b1116562592b5bdd0b4e8b0183c045bf36fd154b99a367

I found out that this error only happens if I mount volumes like /opt/splunk. I just read that appearantly you should only mount /opt/splunk/var and /opt/splunk/etc.

Maybe it's useful to mention this on https://github.com/splunk/docker-splunk or include an example mounting just those 2 folders

    #-v /home

[2019-11-05 23:44] #271 closed, assigned to nobody

[2019-11-06 09:10] yjaaidi opened #272 "Ansible hangs on kubernetes"
Hi 👋
I am trying to add a simple splunk container to a helm chart (https://github.com/wishtack/helm-kong-demo/tree/master/splunk) and `ansible-playbook` seems to freeze on escalation.
This is what I see with `ANSIBLE_DEBUG=1`:
[code]

The container runs well when using docker directly. This issue only happens with kubernetes.

Thank you in advance!

[2019-11-06 22:16] bb03 commented on #270
@nabiljsk Can I ask a couple questions about your environment?  Are the passwords the same across all components?  If they are not, try again with identical passwords across the cluster.  If the problem still persists, I would ask you to log in through the UI on each component through the UI.  Ideally, each container should be up and reachable.  If they aren't, can you check the status of each con

[2019-11-06 22:16] nwang92 commented on #270
To add on: I think the ideal solution would be to take your 2 servers and `docker swarm init` + `docker swarm join` them together to form a 2-node swarm cluster. Then, you can create only 1 compose file (ex: https://github.com/splunk/docker-splunk/blob/develop/test_scenarios/3idx3sh1cm.yaml) which share the same overlay network and you can reference containers internally in that deployment using c

[2019-11-06 23:55] bb03 commented on #272
Hi @yjaaidi,
 We're looking into this.  If there is any additional information you can provide us, that would be helpful.  Otherwise, we will try things out and see if we can successfully reproduce and debug the issue.

[2019-11-07 00:18] jonathan-vega-splunk commented on #272
Hey @yjaaidi do you mind adding what version of kubernetes you're running.  Also are you using docker as the container runtime in this cluster?

[2019-11-07 01:06] nwang92 commented on #268
The example under "Volume-mount app directory" still works for me using `splunk/splunk:8.0` - although it's important to point out that's mounting the untarred app directly into `/opt/splunk/etc/apps/`.

The example above should also be fine - although you may need to use `COPY --chown` if you run into permissions problems.

[2019-11-07 16:53] kuroiokami commented on #268
So here is what happens

1. Compose up, Playbook completes without any failures
2. Try to go to splunk login page and get the horse oops page
3. Looking in the volume mounted directory only learned and search directories are created.

Looking at the logs via docker logs doesn't actually show any failure in any of the ansible task.

Recap for one that doesn't mount correctly

Recap for one that doe

[2019-11-07 17:44] nwang92 commented on #268
Ah - I'm wondering if there's some discrepancies between how volumes are mounted in the `docker run` vs. `docker-compose` commands then.

In your docker-compose.yml, have you tried changing
[code]
to
[code]

I'm thinking what's happening is you're overriding everything in `/opt/splunk/etc/apps` with your original configuration which will have undesired outcomes such as getting those 500s.

[2019-11-07 18:31] kuroiokami commented on #268
The even stranger thing is... there are sometimes it just works????? I just tried it twice.. First time detecting everything correctly and starting up fine. Second time it was even worse than the other failed instance as the only folder created on startup was learned.

At this point I'm just going to stick with a standard docker run to get past this issue but will hopefully figure out what is wron

[2019-11-07 21:53] nwang92 commented on #268
That's likely a limitation on the docker host itself. If you're using Docker for Mac, I think there's something in the settings to configure the disk image size. If you're running on top of Linux, you'll want to add some mount/increase the storage space available at `/var/lib/docker`.

Another helpful tip is to run `docker volume prune` or `docker image prune` or `docker system prune` periodically

[2019-11-08 00:48] defektive opened #275 "What happened to debian/why is redhat the new default?"
Previously we had to opt in to redhat by adding `-redhat` to a tag. Starting with version 8, it seems redhat is the default and there isn't a debian tag that I could find. Was this intentional? Will there be a debian tag?

[2019-11-08 01:02] defektive commented on #265
@neogeek83 I just did this. I am not sure where you are getting UID/GID of 999 for the splunk user. [The default is 41812](https://github.com/splunk/docker-splunk/blob/dc7d3211e4b55810b2f6a92557e77ac06403b145/splunk/common-files/Dockerfile#L50). Maybe you're on a different/older image.

Since the default IDs are specified as arguments you could build your own image with different args.
[code]

I e

[2019-11-08 07:49] yjaaidi commented on #272
Hi @bb03 and @jonathan-vega-splunk!
Thank you guys for your quick reply.

I am experimenting this on minikube with docker as  a container runtime and I am using kubernetes 1.15.5 because some charts I am depending on seem to have an issue with kubernetes 1.16.0.

You might be able to reproduce the error by cloning this repo https://github.com/wishtack/helm-kong-demo and trying to install the splun

[2019-11-08 10:38] nabiljsk commented on #270
Hello @bb03

the password is the same in all instances, and the status of all contener i up.

I have these message in logs in indexer-idmbs-in002-log
`11-07-2019 10:17:04.095 +0000 WARN  CMSlave - Failed to register with cluster master reason: failed method=POST path=/services/cluster/master/peers/?output_mode=json master=192.168.20.10:20089 rv=0 gotConnectionError=0 gotUnexpectedStatusCode=1 actu

[2019-11-08 23:08] nwang92 commented on #275
cc @mikedickey

Yeah this was an intentional change for OpenShift compliance. I believe only 7.3.x series will be supporting both debian + redhat, but 8.x and beyond will likely support redhat for the foreseeable future.

[2019-11-08 23:10] nwang92 commented on #268
Closing this since I'm not quite sure what the exact issue here is, but it seems intermittent and not reliably reproducible. If you're still having issues, I'm happy to continue the discussion either here or through the public Slack channel though!

[2019-11-08 23:10] #268 closed, assigned to nobody

[2019-11-08 23:43] mikedickey commented on #275
Please see [this blog article](https://www.splunk.com/blog/2019/05/08/an-insider-s-guide-to-splunk-on-containers-and-kubernetes.html) for more info. I plan to publish a follow-up article about changes in 8.0 soon, but it has been delayed.

[2019-11-08 23:43] #275 closed, assigned to nobody

[2019-11-10 22:36] #177 closed, assigned to nobody

[2019-11-10 22:47] aegershman opened #276 "Splunk apps_location from default.yml?"
Using `splunk/splunk:8.0.0`

If passing in `splunk.apps_location[]` values to the ansible config as code (described in [`defaults.yml`](https://github.com/splunk/splunk-ansible/blob/develop/docs/ADVANCED.md#apps)), none of the URLs appear to be registered. When dumping out the ansible vars during provisioning, it shows an empty array `[]`. Only when env vars for `SPLUNK_APPS_URL` are passed do any

[2019-11-11 17:20] mikedickey commented on #276
I noticed the same issue, and believe it's a bug in splunk-ansible. In particular this code appears to clobber any values passed via defaults.yml:

[code]

We have an internal issue CSPL-160 also tracking this.

[2019-11-12 09:33] halr9000 opened #278 "Docs bug missing page for Multiple Apps"
Reading [docs/advanced/APP_INSTALL.md](https://github.com/splunk/docker-splunk/blob/develop/docs/advanced/APP_INSTALL.md), line 12 refers to a section that does not exist.

[2019-11-12 09:42] halr9000 commented on #278
Nm found the section it was meant to refer to, will submit a PR to fix.

[2019-11-12 09:42] #278 closed, assigned to nobody

[2019-11-14 21:12] nafets227 opened #281 "deploy to Kubernetes 1.16 fails"
Deploy to Kubernetes 1.16 using the samples in test_scenarios/kubernetes Fails.

Required changes:
- api Version of Deployment has changed from externsions/v1beta1 to apps/v1
- selector has to be present in Deployments

[2019-11-16 05:18] tinkerbeast opened #282 "Command execution via CLI fails"
Steps to reproduce
------------------------

1. Use `docker run -it -p 8000:8000 -e "SPLUNK_PASSWORD=abcd1234" -e "SPLUNK_START_ARGS=--accept-license" splunk/splunk:latest` to create the docker instance
2. Verify running instance
[code]
3. Login to the instance with `docker exec -it 0ccbaa320218 /bin/bash`
4. See status
[code]

Trouble shooting
---------------------

All commands are failing becau

[2019-11-19 00:58] nwang92 commented on #282
I believe this can accomplished in a variety of manners:
`docker exec -it <splunk-container> bash` can be followed by a `sudo -u splunk bash` to assume a session as the `splunk` user.

Alternatively, you can do this all in one command:
`docker exec -it -u splunk <splunk-container> bash`

[2019-11-19 06:24] nwang92 commented on #276
Closing because the PR was merged - this should be available in versions >=7.3.3 (ETA 11/19) and >=8.0.1. I'll also add a test for this.

[2019-11-19 06:24] #276 closed, assigned to mikedickey

[2019-11-19 18:21] nwang92 commented on #248
Done here: https://github.com/splunk/splunk-ansible/pull/304

[2019-11-19 18:21] #248 closed, assigned to hendolim

[2019-11-19 18:22] #282 closed, assigned to nobody

[2019-11-21 20:01] aegershman opened #288 "Advice on forwarder monitoring?"
**TL;DR**, is there a `splunk_forwarder_monitor`-type ansible role equivalent?

I'm currently running a deployment composed of 3 `splunk_heavy_forwarder` pods whose only responsibility is to receive logs ([from the Pivotal Cloud Foundry splunk firehose nozzle-- it just emits platform app logs to an HEC](https://github.com/cloudfoundry-community/splunk-firehose-nozzle)), perform props/transform rul

[2019-11-21 21:30] #281 closed, assigned to nwang92

[2019-11-21 21:31] nwang92 commented on #210
Should be fixed here: https://github.com/splunk/docker-splunk/pull/280

[2019-11-21 21:31] #210 closed, assigned to bb03

[2019-11-22 00:31] bb03 commented on #288
Hi @aegershman, I asked some people about your request and was not able to obtain a clear answer about if something like this exists or is in the roadmap.  I think this is a feature request that would be best brought up to your sales rep.

The alternative would be to build a splunk app that does what you're asking.  The type of data that you're looking for should all be easy to create searches for

[2019-11-22 03:37] aegershman commented on #288
Hey @bb03 thanks for reaching out. What I'm looking for is this: https://docs.splunk.com/Documentation/Splunk/8.0.0/DMC/Configureforwardermonitoring + https://docs.splunk.com/Documentation/Splunk/8.0.0/DMC/ForwardersDeployment

I'd like to be able to configure using it through `docker-splunk`. Does that make sense? Thanks again 👍

[2019-11-22 18:36] bb03 commented on #288
@aegershman Yes, it does.  Thanks!

[2019-11-25 15:33] aegershman commented on #288
Right on 👌 With that said, do you or anyone know if there's a way to set that up with `docker-splunk`? (or does previous comment still hold?)

[2019-11-26 09:44] nabiljsk commented on #270
Hello @nwang92
I have do the docker docker swarm init + docker swarm join and I have spécifiée the server one as manager;
But when I run docker stack deploy -c docker-compose.yml splunk , I have this error :

`invalid mount config for type bind: bind mount source path does not exist: /opt/container-data/splunk/config/global/`

how can I solve this error ?

regards

[2019-11-26 18:02] bb03 commented on #270
@nabiljsk Whatever's going on, docker does not think that the /opt/container-data/splunk/config/global directory exists.  So I would suggest you check a couple things first.
1) Verify that the directory exists, that there are no misspellings in the path, etc.
2) Verify that the permissions are correct so the docker user has visibility into the folder.

[2019-11-27 09:24] dmpopoff commented on #209
the issue was reproduced then run 8.0.0 over 7.2.4 (stop 7.2.4, rm 7.2.4 container, run 8.0.0)
error is the same. chmod 777 to auth folder and splunk.secret file helps to workaround but I think this is not appropriate.

here is the error message:
Wednesday 27 November 2019  12:13:25 +0300 (0:00:00.042)       0:00:03.629 ****
TASK [splunk_common : Check for existing splunk secret] *****************

[2019-11-27 13:35] nabiljsk commented on #270
Hello @bb03
How I can acces to the interface web of each service splunk?

regards

[2019-11-27 17:54] bb03 commented on #270
@nabiljsk if its up and running, ```docker ps``` should show you the port mappings associated with the container.  Look for what the container's port 8000 is mapped to.

[2019-11-28 08:16] dmpopoff commented on #209
Why issue is marked as "Closed"? Where is no decision, only workaround. @nwang92 @bb03 @jmeixensperger What are right permissions should be?

[2019-11-29 17:25] mikedickey commented on #276
I just fixed another bug related to this in splunk-ansible: https://github.com/splunk/splunk-ansible/pull/312/files

[2019-12-03 15:37] PaleWooten opened #290 "7.3.1-7.3.2 JAVA issue"
Hi!
I ve got a problem with starting a docker container with 7.3.2 image. When im adding java - its just dont work.

[code]

[2019-12-03 15:38] PaleWooten commented on #290
im using proxy and docker-compose:

[code]

[2019-12-03 15:41] PaleWooten commented on #290
After that ive tried to start 8.0 - all works fine. But i need exactly 7.3.2

[2019-12-03 22:27] bb03 commented on #290
@PaleWooten Okay, thank you for letting us know. We'll start tracking this internally and look at updating the 7.3.2 container with the latest splunk-ansible. Ping me again if I don't add an ETA by Thursday.

[2019-12-04 23:32] bb03 commented on #290
@PaleWooten would a 7.3.2.1 build be suitable for your needs?

[2019-12-05 09:06] PaleWooten commented on #290
Yeah,i just cant get to 8.0 yet because of python scripts that i have.

I just need some stable 7.3* with java. Strange thing - i have some old 7.3.1 edge build with no java problems

[2019-12-06 15:01] PaleWooten commented on #290
Just now tested 7.3.3 - same error

[2019-12-06 19:47] hendolim commented on #290
Taking a look at it. By any chance, were you on different networks when trying to start these containers @PaleWooten ? The reason Im asking is that sometimes some of these key/license server block requests if you are behind proxy, on corporate network, and things like that.

[2019-12-06 22:03] hendolim commented on #290
I tried on my local and it works with all the 7.3.* images.
Also, on the current 8.0.0 image we do not support Java, so the container will start successfully but no Java will be installed.
So yeah, let me know if your network varies between all those run.

[2019-12-06 22:42] PaleWooten commented on #290
All those runs are made on one machine with same settings. im using our corporate nginx proxy - as you can see in compose file.
  - http_proxy=http://uhq-proxy1:3128
  - https_proxy=http://uhq-proxy1:3128

As for apt-get -       - /mnt/sas/compose/prod-bak/splunk/proxy.conf:/etc/apt/apt.conf.d/proxy.conf
im mapping proxy within a file

i know that it might be  a proxy,but i cant work without it

[2019-12-09 03:24] hendolim commented on #290
@PaleWooten Using the proxy, were you able to run any 7.3.* container succesfully with Java installed at all?
I will look into other sources where we are able to get the OpenPGP key through proxy.

[2019-12-09 09:50] PaleWooten commented on #290
I've got some old edge image:
[code]

It works fine on exact same settings. With openjdk and proxy

[2019-12-09 12:03] PaleWooten commented on #290
Ive tested latest edge image (18353691fd2e linux/amd64) right now - error too,but different
[code]

[2019-12-09 21:56] hendolim commented on #290
@PaleWooten on the old 7.3.1 edge you have can you run `cat /etc/*-release` and paste the output here

[2019-12-09 22:36] jmeixensperger commented on #288
Hey @aegershman, I've opened a PR in the splunk-ansible repo (https://github.com/splunk/splunk-ansible/pull/314) that uses 2 new env vars to control forwarder monitoring:
-  DMC_FORWARDER_MONITORING (bool) - if true, creates the saved search which enables forwarder monitoring on all standalone/search head instances. Defaults to False
- DMC_ASSET_INTERVAL (string) - cron schedule for the saved sear

[2019-12-10 07:09] PaleWooten commented on #290
Here it is

[code]

[2019-12-10 09:22] PaleWooten commented on #290
And java version
[code]

[2019-12-10 19:15] hendolim commented on #290
I see, the latest 7.3.* images are all Debian 10. On Debian 9 we use different Java installation that does not involve fetching the PGP key from the license/key server.
I will look into PGP key source that can work with proxy.
But in the mean time, to unblock yourself you can build a Debian 9 container from this repo and use that.

[2019-12-11 09:40] PaleWooten commented on #290
You have some instructions how to build that?

And another question - in redhat as i can see i have a problem with proxy,env variablse seems either not working,or nor affecticting java installer.
Can you tell me how to set up proxy correct in redhat image?

[2019-12-11 20:15] hendolim commented on #290
Checkout the version you'd like:
`git checkout 7.3.2`
then build:
`make splunk-debian-9`
the image will be tagged as 'splunk-debian-9:latest'

[2019-12-11 20:21] hendolim commented on #290
In the current released version of redhat container, the splunk-ansible is not updated to support Java. If you need a redhat container that support Java, you can pull splunk-ansible from `develop` branch, put it inside your docker-splunk repo and build the image: `make splunk-redhat-8`

[2019-12-12 07:25] GrahamHannington commented on #68
A local colleague has just looked at this issue, and suggested something I wish I'd thought of: when you start a Docker container, pass an environment variable that sets the Splunk Web port.

We looked at the table of supported environment variables under the documentation heading "[Environment variables for Splunk instance](https://splunk.github.io/splunk-ansible/ADVANCED.html#environment-variabl

[2019-12-13 21:42] cmanzi commented on #272
I am encountering a similar issue (kubernetes 1.15.4, splunk/splunk:8.0). Relevant logs (with -vvvv and debug on):
[code]
Here's what I see when I exec into the container:
[code]
I've tried running `python /opt/ansible/inventory/environ.py --list` manually, and it locks up the terminal with no output. Stumped on this one, any ideas?

[2019-12-14 17:32] cmanzi opened #294 "Splunk Enterprise hangs on start on Kubernetes 1.15.4"
I am currently trying to run Splunk Enterprise on Kubernetes 1.15.4. I was able to run this image previously, but I believe that was when we were on Kubernetes 1.14.x. After encountering some issues with the latest image (8.0), seemingly related to https://github.com/splunk/docker-splunk/issues/272, I decided to try the 'legacy' image without Ansible instead.

Here is what I am seeing: I can run t

[2019-12-16 14:15] PaleWooten commented on #290
Ive tried to fork and clone repo - but it didnt work,even after i set up proxy for git

[code]

[2019-12-16 19:01] SloshBurch commented on #208
@arctan5x just verified and I can confirm that this is no longer an issue in the 8.0.1 release (perhaps newer even, but not sure).
Leaving the message here for posterity since the closure is otherwise unclear.

[2019-12-17 17:15] Adam2Marsh opened #295 "Universal Forwarder No Longer Copies App"
Good Evenyone,

Recently upgraded our universalforwarder image from 6.4.3 to 7.3.3 to fix the datetime xml issue. During this change I wanted to test 7.3.3 would work with an updated K8s Cluster as we plan to upgrade early next year.

One of the things changing in the later versions of k8s is the ReadOnly Confimap which means we can't volume mount our configuration directly into the /etc/apps fold

[2019-12-17 19:52] justinrush opened #296 "handshake operation timed out"
I'm running this on this on kubernetes v1.14.8 in a stateful set I built out.  If its important, the pod contains multiple containers, one of which is the 7.3.3 splunk container.  The other two are a syslog-ng and a logrotate container.  On first deployment, everything works fine.  If I kill the pod and let it restart, it sometimes gets into a state while running "test basic https endpoint" (that

[2019-12-17 20:02] bb03 commented on #296
@justinrush
+ @nwang92
 A timeout and/or a few retries here make sense, given what you've described.  Can you make a local change and let us know if it works for your environment?  Just something like
[code]
to that task and let us know if it works for you.

[2019-12-17 20:20] justinrush commented on #296
What file do I make that change in?  Sorry, don't know ancible at all.

[2019-12-17 20:36] bb03 commented on #296
It's in roles/splunk-common/tasks/enable_forwarding.yml . Look the the stanza at the bottom and add the last two lines (after no_log) with the same indentation level
[code]

[2019-12-17 22:05] justinrush commented on #296
That seemed like it worked for one pod, but another one I tested with just continues to restart.  I tried upping the delay to 60 seconds.  Is there a specific log file that may contain useful information?  I can exec into the container and tail the log until it crashes.

[2019-12-18 12:47] PaleWooten commented on #290
Another question - is image 8.0.1 supports java?
As i can see - it redhat

[2019-12-18 23:13] nwang92 commented on #294
Can you supply the manifest you're using to bring up the `splunk-0` pod? Also any other info on `LimitRange` or potentially other resource quotas in the namespace you're deploying into would be helpful and good to know.

[2019-12-18 23:24] nwang92 commented on #295
There's been a considerable overhaul from the previous 6.4.3 images to the images you see in this repo now - we've only recently started supporting Splunk in Docker since 7.2.x.

Anyways, regarding your app installation problems we're trying to standardize on the following approaches:
- Mount directory (unarchived) into `/opt/splunk/etc/apps/` but obviously this doesn't work for your use case
- Mo

[2019-12-18 23:33] nwang92 commented on #294
Also what Kubernetes platform are you using? GKE/EKS/minikube/straight kubeadm? :P Not sure if that matters at all, but if I can I'd like to replicate your exact environment.

[2019-12-18 23:35] nwang92 commented on #272
Mentioned this in the other linked issue, but to gather some more data:

[2019-12-18 23:36] nwang92 commented on #295
The only means of installing an app from an untarred source would be option #1 but that doesn't seem to be possible given the permission lock on RO configmaps.

[2019-12-19 00:16] cmanzi commented on #294
@nwang92 Thanks for your replies. I'm deploying using a slightly customized version of Kops. I'm deploying as a statefulset, here is the manifest:
[code]

[2019-12-19 13:47] PaleWooten commented on #290
@hendolim ,i've tried to make image - but still got issue with gpg

[code]

[2019-12-19 15:51] justinrush commented on #296
is there a variable i can set to do this or some tunable?  including that file as a configmap is a bit ugly.  I either have to escape a bunch of stuff or include it as a file because it is itself a GO template.  While helm and k8s seems OK with it, rancher seems to be unable to load my statefulset when trying to get info on that configmap.

[2019-12-19 16:08] justinrush commented on #296
on further testing, it doesn't seem that changing these values is making a difference.  Still seems to randomly run into the error

[2019-12-19 19:59] bb03 commented on #296
@justinrush Check out the ansible.log in /opt/container-artifact That should contain the setup log.  The other splunk specific logs would be in /opt/splunk/var/log/splunk or /opt/splunkforwarder/var/log/splunk
Let us know what you find and we'll be happy to assist.

[2019-12-20 14:17] cmanzi commented on #294
@nwang92 It turned out that this was not an issue with Splunk, we run some Aquasec tools and thought they were in 'audit-only' mode, but were apparently blocking some system calls, causing containers to hang.

[2019-12-20 14:17] #294 closed, assigned to nobody

[2019-12-23 16:54] justinrush commented on #296
Not seeing anything standing out as an issue.  it looks like it starts up fine.  For testing purposes, should I modify a file to have it ignore failures and see if the service is actually still healthy?  splunkd log section attached as well as the artifact log.
[splunk_ancible.log](https://github.com/splunk/docker-splunk/files/3995639/splunk_ancible.log)
[splunkd.log](https://github.com/splunk/doc

[2020-01-02 15:53] romanmelko commented on #265
Interesting. My current approach is the following to make it happen:

In outside Ansible playbook (not inside the container, my own one which is used to prepare the environment, define volumes etc.) I determine dynamically the user who executed the playbook with:
[code]
Then I pass the UID to Dockerfile via Ansible template:
[code]
which just changes the UID and ownership inside the container. But

[2020-01-02 16:03] romanmelko opened #298 "Splunk fails to start after changing admin password"
Hello,

When changing admin password after the installation Splunk fails to start. I suppose this is due to ansible's implementation inside the container which uses $SPLUNK_PASSWORD environment variable originally set during **docker run** command.
The password change mechanism does not updates that variable so ansible playbook fails to perform some actions via REST API during start:

[code]
Versi

[2020-01-02 19:14] arctan5x commented on #298
Hello, how are you changing the admin password? We support changing the password during the initial container start time through changing the container env variable. You can either pass in the variable through the docker run command or a yaml file (if you use docker-compose).

[2020-01-02 19:21] arctan5x commented on #254
Will update if Linux/armv7l universal forwarder is decided to be supported officially. Closing for now.

[2020-01-02 19:21] #254 closed, assigned to nobody

[2020-01-02 19:23] arctan5x commented on #290
8.0.1 supports Java. Please keep gpg issue separately from this thread. Closing this issue and feel free to reopen if you see a persisting Java issue.

[2020-01-02 19:23] #290 closed, assigned to hendolim

[2020-01-03 09:28] romanmelko commented on #298
Hi @arctan5x,

Yes, this is known about setting initial password during the deployment.
I was talking about changing the password later (via Splunk Web or REST API) when such a need occurs. When we change it later via UI then after restart Splunk can't start due to not updated environment variable.

So my question is - does this approach means that we have to re-deploy the container every time whe

[2020-01-06 18:37] brett-fitz opened #300 "Ansible-playbook fails to run due to SSL Error"
I am trying to start my splunk docker container in an environment which utilizes TLS decrypt.
This container fails to start because the ansible-playbook requires SSL verification and this fails because there is no option to provide a ca-bundle at runtime. Is there any known workarounds?

[code]

[2020-01-06 18:46] arctan5x commented on #298
@romanmelko

I changed my Splunk password via UI, restarted Splunk, and was able to re-login with the changed password. Splunk itself doesn't check the environment variable when it starts. So as long as your container is alive (without restarting a container), your Splunk should work with any changed passwords.

We have a logic baked into a container that checks the environment variable (separate

[2020-01-06 18:47] arctan5x commented on #300
@brett-fitz

Hi. What are the arguments (or a yaml) to start your container?

[2020-01-06 18:58] arctan5x commented on #270
@nabiljsk

Closing this ticket due to the last update being a while ago. Let us know if the solution didn't work.

[2020-01-06 18:58] #270 closed, assigned to nobody

[2020-01-06 19:00] arctan5x commented on #265
Feel free to reopen the issue if this issue is still valid. Closing due to inactivity.

[2020-01-06 19:00] #265 closed, assigned to nobody

[2020-01-06 19:16] brett-fitz commented on #300
Hey man! Thanks for getting back to me, here is my docker-compose.yml
[code]

Note (unrelated): I have to use `7.3` not `latest` because openjdk:8 (required by db_connect) will only successfully install on `7.3`

[2020-01-06 21:29] neogeek83 commented on #265
So there has been recent activity on this (someone posted 4 days ago), and there has been a number of workarounds that people have posted -- but there's no standard way / recommended way to do this for the Splunk process, and as @bb03 mentioned, it'd be something to put on the backlog.

[2020-01-06 21:37] neogeek83 commented on #265
This issue has been seeing activity(last post 4 days ago), I can't seem to reopen, but we still don't have an official Splunk recommended set of steps to do this. So it is still unresolved.

[2020-01-09 14:25] jgonzalez98555 opened #301 "Splunk web user prefs for TZ is not working when running Splunk in a docker container"
Hello! I have an issue with the TZ setting when changing it from the GUI, every time the TZ is changed to see the timestamp provided by the browser is updated as the format I want it gets not, I have tried to change it from the configuration files doing it manually going to /etc/users/username/local/user_prefs.conf, after restating the Splunk service I get the same behavior, this has been detected

[2020-01-10 18:22] nwang92 commented on #301
Let me give this a whirl - can you provide the steps you took when you changed the timezone from SplunkWeb just to make sure I'm not missing anything?

[2020-01-10 19:20] nwang92 commented on #301
I think I'm able to reproduce what you're seeing - it seems like with 8.0.1 changing the user's timezone preference does not reflect in updated timestamps when executing a new search (ex: `index=_internal`)

Doing this on 8.0.0 or other versions will show the updated timestamps when re-executing searches. This seems more of a problem in the Splunk product itself and it seems unlikely docker itself

[2020-01-10 20:28] nwang92 commented on #301
K, I think it is indeed an issue with images where the server hosting Splunk was missing some tzdata packages to interpret timezones. This was available in previous debian packages, but I guess we never noticed this for redhat.

[2020-01-10 22:39] #301 closed, assigned to nwang92

[2020-01-10 22:39] #295 closed, assigned to nobody

[2020-01-13 13:38] PaleWooten opened #303 "8.0.1 microdnf issue with proxy"
Hi! After downloading new 8.0.1 image ive encountered some problems with microdnf:

`[ansible@splunk1 splunk]$ sudo microdnf install java-1.8.0-openjdk

(process:9931): librhsm-WARNING **: 16:01:38.293: Found 0 entitlement certificates

(process:9931): librhsm-WARNING **: 16:01:38.295: Found 0 entitlement certificates
Downloading metadata...
error: cannot update repo 'ubi-8-baseos': Cannot downloa

[2020-01-13 18:32] hendolim commented on #303
Hi @PaleWooten
Does this happen consistently? And did you run any other command before doing microdnf install?
If you did, can you try installing from a fresh state (before running anything) and see if it works

[2020-01-13 18:55] jmeixensperger commented on #288
The proposed change was merged and should be available in the newest 2 releases (7.2.9.1 and 8.0.1). Please re-open if the change doesn't meet your ask.

[2020-01-13 18:55] #288 closed, assigned to jmeixensperger

[2020-01-13 18:59] hendolim commented on #303
And actually I can't tell if it is honoring your proxy env or not.
You can try with and without the proxy env and see if it emits the same error. It might actually be going through your proxy but some config in the proxy is causing timeout.

[2020-01-13 21:42] aegershman commented on #288
! apologies for abandoning this. I should've checked this earlier. Thank you, I will try this out ASAP.

[2020-01-14 09:24] PaleWooten commented on #303
Nope,its fresh install.

Ive tried both - install after i start the clean image,and install it by adding JAVA_VERSION variable in docker file.

In second case error is the same:

`TASK [splunk_common : Install openjdk for Redhat] ******************************
fatal: [localhost]: FAILED! => {
    "changed": true,
    "cmd": [
        "microdnf",
        "install",
        "java-1.8.0-openjdk"

[2020-01-14 09:34] PaleWooten commented on #303
Also i ve checked access rights on proxy - *.redhat.com is in whitelist

[2020-01-14 09:42] PaleWooten commented on #303
curl is working fine:
[ansible@splunk1 splunk]$ curl https://google.com
<HTML><HEAD><meta http-equiv="content-type" content="text/html;charset=utf-8">
<TITLE>301 Moved</TITLE></HEAD><BODY>
<H1>301 Moved</H1>
The document has `moved
<A HREF="https://www.google.com/">here</A>.
</BODY></HTML>

[2020-01-14 10:30] PaleWooten commented on #303
ok,i ve found workaround - but its pretty bad:
1) Start clean container
2) exec in it ,login as root(not ansible)
3) export https_proxy=ip:port

Why proxy settings in docker file dosent affect root user?

[2020-01-14 19:56] bb03 commented on #303
Took a quick look at our sudoers, and we have ```env_reset``` enabled. My guess is that this is getting picked up by ansible when we run ```sudo microdnf ``` .  After some poking around, this is probably the best option
https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html

[2020-01-15 09:13] PaleWooten commented on #303
Another issue with java - as i can see in ansible java task, JAVA_HOME only set when distrib is debian,and not when redhat is used.

And as another workaround:
1) create file "environment"
`https_proxy=ip:port`
`http_proxy=ip:port`
`no_proxy=whatever`

2)map it in container

`Volumes:`
 `- hostdirectory/environment:/etc/environment`

[2020-01-15 09:15] PaleWooten commented on #303
Will some adjusments will be done to images? Doing and remebering all of this workarounds not so much of docker concepts(

[2020-01-15 09:51] PaleWooten opened #304 "JAVA_VERSION flag is not working after container recreating"
Hi! Ive encoutered issuses with JAVA_VERSION flag. It dont work when container is recreated, if i have splunk\etc mapped from the host.

For understanding,here is my docker-compose file:

  `splunk1:`
     `networks:`
       `splunk_net:`
         `aliases:`
           - `splunk1.sovcombank.group`
     `image:` `splunk/splunk:8.0.1`
     `command:` `start`
     `hostname:` `splunk1.sovcombank.grou

[2020-01-17 14:58] romanmelko commented on #298
Hi @arctan5x
That's exactly what I was talking about. Sorry for not being clear on that.
My issue is applicable when container restarts after changing the password through the GUI, REST API or CLI. Unfortunately I haven't found how to bypass this logic in documentation. Anyway, now I know that this is known behavior.
I think we may now close this issue.

Thank you

[2020-01-22 14:27] brett-fitz commented on #300
Note: The issue of not being able to install JDK8 was due to persistent volumes. For anyone experiencing this issue:

[code]

I tested splunk:8.0.1 and was successful finally.

Best workaround for the above issue (SSL Errors) is to whitelist *.splunk.com. Furthermore, if you install Java, you will have to whitelist the domain that is used for acquiring the GPG key for Java, as well as any redhat d

[2020-01-23 17:36] teamosceola opened #307 "All searches fail when using NFS backed PV for /opt/splunk/var"
I'm using:
Openshift 4.2.4 w/ kubernetes 1.14.6 on RHCOS
image: docker.io/splunk/splunk:8.0.1
persistent volumes are on NFS and dynamically provisioned using quay.io/external_storage/nfs-client-provisioner
NFS server is RHEL 8.1, NFSv4 only
NFS export: ```/exports/data *(rw,sync,no_wdelay,no_root_squash,insecure,fsid=0)```

Here is my statefulSet yaml:
[code]

The container successfully completes

[2020-01-23 18:42] bb03 commented on #307
+ @nwang92 @mikedickey @matthewmodestino
CCing for visibility and awareness of this issue.

[2020-01-23 21:06] mikedickey commented on #307
Please see Splunk Enterprise docs on [NFS considerations](https://docs.splunk.com/Documentation/Splunk/8.0.1/Installation/Systemrequirements#Considerations_regarding_Network_File_System_.28NFS.29) and [answers topics](https://answers.splunk.com/topics/nfs.html). This problem is not specific to Docker or Kubernetes.

If you REALLY want to use NFS, it may be possible to only use it for your index bu

[2020-01-29 06:57] nwang92 commented on #304
Looks like I missed this issue - this should be fixed here: https://github.com/splunk/splunk-ansible/pull/338

We'll get it pushed out in the next Splunk image release (8.0.2).

[2020-01-29 06:57] #304 closed, assigned to nobody

[2020-01-29 06:59] nwang92 commented on #300
Closing this due to listed workarounds.

[2020-01-29 06:59] #300 closed, assigned to nobody

[2020-01-31 16:30] nwang92 commented on #304
Also added a test for this here: https://github.com/splunk/docker-splunk/pull/309

[2020-01-31 16:32] nwang92 commented on #307
Closing this issue because it seems like the Splunk docs answers the best practices if NFS is the desired persistent volume storage class.

[2020-01-31 16:32] #307 closed, assigned to nobody

[2020-01-31 16:38] nwang92 commented on #298
If you change the admin password after a successful container creation using these images, you'll need to either:
* Update the `SPLUNK_PASSWORD` environment variable you started the container ith
* Update the `default.yml` file that is volume-mounted to the container (either via configMap or secret, if using k8s) and make the new password reflected in `splunk.password`

But at the moment, there's

[2020-01-31 16:38] #298 closed, assigned to nobody

[2020-02-07 11:48] kunalverma94 opened #312 "could not set db path to provided in the env variable"
transport endpoint is not connected. when i map config file.

 docker run -it  -p 8000:8000 -p 8088:8088    -e 'SPLUNK_START_ARGS=--accept-license' -e 'SPLUNK_PASSWORD=testpass'    -v ${pwd}:/app -e "SPLUNK_DB=/app" splunk/splunk
Error:
**fatal: [localhost]: FAILED! => {
    "changed": false,
    "path": "/app/etc/.ui_login"
}**

 docker run -it  -p 8000:8000 -p 8088:8088    -e 'SPLUNK_START_ARGS=

[2020-02-07 15:11] kurktchiev opened #313 "Instances are not able to monitor the full cluster"
So this could 100% be user error, but I am trying to use the monitoring console to see the health of a test cluster I have deployed (3idxc3shc1cm1lm1dep-pvc). When I log into the Captain I am not able to see stats for the other search heads, and when I log into the Master i am unable to see any stats for the other indexers. In order to get stats I have to log into each individual instance to get i

[2020-02-10 13:54] CyrilleFranchet opened #314 "Formatting problem in documentation"
Hi, the line number 211 on page [https://splunk.github.io/docker-splunk/EXAMPLES.html] is erroneously escaped and it breaks all the formatting in client browser.

[2020-02-13 22:13] nwang92 commented on #313
We have some work in our backlog to get [distributed monitoring console](https://docs.splunk.com/Documentation/Splunk/latest/DMC/DMCoverview) integrated with the rest of the docker-splunk project. Hoping to get it in the next release, so stay tuned!

[2020-02-13 22:21] nwang92 commented on #312
Hmm from what I'm reading it seems like it is recommended you set `SPLUNK_DB` within `/opt/splunk/etc/splunk-launch.conf` which should be possible with the latest 8.0.2 version of the image:
[code]

Could you try that out with your use case and see if it works? Theoretically, you wouldn't be getting the stdout/stderr messages you see because SPLUNK_DB will no longer be the default `/opt/splunk/var

[2020-02-14 12:12] getkub opened #318 "container Always expect a password flag to be passed"
The Splunk docker image expects the password to be passed in command line.  This prevents full blown automation (using k8s or compose).

In older versions of this image, the bootstrapping could have been done using
[code]
OR using
`user-seed.conf`

But these are NOT possible as the current version expects password is always passed !!
Error shown below from `docker logs`

[code]

[2020-02-14 18:42] nwang92 commented on #318
`SPLUNK_BEFORE_START_CMD=edit user admin -password {{newPass}} -role admin -auth admin:changeme`

There was a change in Splunk version 7.0 (or 7.1?) which removed the default admin password of `changeme`. If you install any recent version of Splunk from scratch, splunkd will not start properly until you provide the [admin credentials](https://docs.splunk.com/Documentation/Splunk/latest/Security/Se

[2020-02-14 18:47] getkub commented on #318
I agree you can pass SPLUNK_PASSWORD flag on docker run, but that's very basic running on CLI

In real life purposes, like via docker-compose etc, such flags are not a possibility. It has to be part of a SPLUNK_BEFORE_START or some kind of at start time trigger which can be coded into a file needs to be present.
And moreover we never use CLI passwords, but rather than hashed passwords even for dem

[2020-02-14 18:52] nwang92 commented on #318
`SPLUNK_PASSWORD` is an environment variable passed into the container at run-time. So the above CLI can be translated directly into a docker-compose.yml that looks like the following:
[code]

As I understand it, the previous usage of `SPLUNK_BEFORE_START_CMD` was also an environment variable as well but correct me if I'm mistaken.

[2020-02-14 19:00] nwang92 commented on #318
As far as the security aspect goes, we would not recommend putting the admin password in plaintext - but that will inevitably be the case if you formerly used `SPLUNK_BEFORE_START_CMD` using the older format of the container image.

The latest Splunk Docker image supports setting parameters using a yaml file we refer to as the `default.yml`. This can be generated and used with something like:
[cod

[2020-02-18 09:14] ch0mik commented on #318
Hi,

please add support to password from files (secrets)
ex :
 --env SPLUNK_PASSWORD_FILE="/run/secrets/splunk-password"

PS. Im using the splunk/universalforwarder:latest image

[2020-02-18 18:38] alishamayor commented on #314
Yeah, GitHub Pages has some idiosyncrasies with how things like fenced code blocks and HTML elements are rendered, as compared to the Markdown on GitHub.com. We're currently working on a documentation update that will also include formatting changes to render the docs correctly for both.

In the meantime, please reference the local [EXAMPLES.md](https://github.com/splunk/docker-splunk/blob/master/

[2020-02-20 16:17] nwang92 commented on #318
Done in mentioned PR - this will be released in the next docker-splunk image publish (likely with Splunk version 8.0.3)

[2020-02-20 16:17] #318 closed, assigned to nobody

[2020-02-23 04:37] drum7 commented on #265
User Namespace Isolation should help you with this.  I don't believe this is a Splunk issue.  There could be _n_-number of users with conflicting UID/GIDs.  Docker and the Linux Kernel give you the ability to manage this in a supported way.

[2020-02-23 04:46] drum7 opened #319 "UF Container Splunk User UID/GID not 41812"
UF Container Splunk User UID/GID not 41812 for version 8.0.2 of container.  Docker user is 999:999 and ansible is 998:998.

Conflicts with documentation docs/SECURITY.md

[2020-02-24 05:49] #312 closed, assigned to nobody

[2020-02-24 18:21] nwang92 commented on #319
Good catch - I'm seeing the same thing. Let me dig into the Dockerfiles/build to see how this happened. It seems like `splunk/splunk:8.0.2` is unaffected.

[2020-02-25 19:40] nwang92 commented on #319
I'm closing this - I'll discuss internally with some folks to see if we want to republish the UF container images for this or if we'll just punt it to the next release.

[2020-02-25 19:40] #319 closed, assigned to nwang92

[2020-02-25 19:41] nwang92 commented on #272
Going to close this since it seems like this issue is stale and I haven't been able to reproduce it - but please re-open if you have more information!

[2020-02-25 19:41] #272 closed, assigned to nobody

[2020-02-28 17:44] ryanfaircloth opened #322 "Splunk "restarts" during container startup"
While running a standard single instance test with HEC enabled the container will "restart". This appears to be caused by using restart after enabling input ports via the API. Rather than enable ports this way produce the appropriate inputs.conf entries as files prior to starting Splunk the first time. The impact of this is the inability to "trust" that a successful login or connection indicates r

[2020-02-29 19:09] baby3873575 opened #324 "docker run failed with runtime configuration"
Hi, just follow the documentation listing in https://splunk.github.io/docker-splunk/ADVANCED.html#runtime-configuration

docker run --rm -it splunk/splunk:latest create-defaults > default.yml

then

docker run -d -p 8000:8000 -v default.yml:/tmp/defaults/default.yml -e SPLUNK_START_ARGS=--accept-license -e SPLUNK_PASSWORD=<password> splunk/splunk:latest

Will generate

PLAY [Run default Splunk pro

[2020-03-01 06:14] #324 closed, assigned to nobody

[2020-03-03 04:39] jonnyyu commented on #209
the fix mentioned above was overridden by another change to use 'splunk.user'

https://github.com/splunk/splunk-ansible/commit/4ab2caa4339457211f45704e5b82cfeb6dd8c9af

but the second change actually cause problem. In old splunk image, user id of `splunk` is 999. But in new splunk image, the ansible user id is 999, the splunk user id is 41812.

[2020-03-05 01:18] nwang92 commented on #209
Sorry I seem to have stopped getting emails about this issue until the last comment. Let me take a look at the 7.2.x to 8.x upgrade path.

Regarding @jonnyyu, the old Splunk image is not compatible with the new Splunk image: https://github.com/splunk/docker-splunk/blob/develop/docs/INTRODUCTION.md#history

[2020-03-09 20:48] nwang92 commented on #209
Is the issue that the container fails to recreate, or is the problem with the Splunk behavior once the image has been updated?

Asking because I'm seeing the case of the latter right now. The docker image itself ships with an Enterprise trial license, which does seem to expire after a certain amount of time. I don't quite know how it checks or when the expiry is scheduled to occur because it doesn

[2020-03-10 00:21] mikedickey commented on #209
@nwang92 As we discovered today, this is not a problem related to containers but rather how the Splunk Enterprise trial license works. The same problem exists for all deployment methods.

Summary is that all Splunk Enterprise trial licenses expire on a specific hard-coded date which is included in the original package files. March 8, 2020 happened to be one of those dates. Fix is to always use the

[2020-03-10 03:17] nwang92 commented on #322
Sorry it's taken me a bit to get to this - the problem is the s2s input uses `notify` to trigger a restart - which you would want if you were running these plays against a running Splunk instance.

But for the Docker case, this happens before Splunk is running. Ideally the "Splunk Start" task clears this event but it does not seem like that's an option. Let me play around with it and see if I can

[2020-03-10 15:44] ghost opened #331 "repFactor is set to 0 when variables for indexer cluster are set"
Currently working on setting indexer clustering in k8s and faced with the issue that repFactor is set to 0 even if variables for adjusting indexer cluster are specified. In the result all nodes(master/SH/indexer) configured for indexer clustering as expected, but indexes are not replicated between indexers.

[2020-03-10 16:03] nwang92 commented on #331
Can you share what your yaml/s looks like for how you're setting up the Splunk cluster?

[2020-03-10 16:10] ghost commented on #331
Indexer config:
    containers:
        - name: indexer
          image: splunk/splunk:latest
          env:
            - name: SPLUNK_HOME
              value: /opt/splunk
            - name: SPLUNK_START_ARGS
              value: "--accept-license"
            - name: SPLUNK_ROLE
              value: splunk_indexer
            - name: SPLUNK_CLUSTER_MASTER_URL
              value: master

[2020-03-10 21:39] nwang92 commented on #331
Thanks! Where are you seeing the repl factor being set to 0? Based on your YAML above:
[code]
This instance is an indexer that will connect to the cluster master at the host `master`. The indexer itself might not be aware of the replication factor, as I believe it's the cluster master role that is responsible for setting and ensuring the desired repl + search factor is met. So you'll want to make

[2020-03-11 06:56] ghost commented on #331
On master node:

cat /opt/splunk/etc/system/default/indexes.conf | grep repFactor
repFactor = 0

Also as understood indexes.conf should be distributed across indexers. Therefore this config will be the same on all indexers.
Master node config:

      containers:
        - name: master
          image: splunk/splunk:latest
          env:
            - name: SPLUNK_HOME
              value: /opt/spl

[2020-03-11 17:08] nwang92 commented on #331
I don't think you want to look at `/opt/splunk/etc/system/default/indexes.conf` - these are all the default configurations for the Splunk system that you get out-of-the-box.

If you look at `/opt/splunk/etc/system/local/server.conf`, you'll see the search factor reported there:
[code]

I'm not certain where the replication factor is stored - I was under the impression it was here as well. But if y

[2020-03-11 18:08] ghost commented on #331
Okay,it works from my side as well. Replication factor that you show on the screenshot shows how may copies of the data should be presented in clustered indexers. repFactor as a variable(indexes.conf) shows whether  index/es should be replicated.
And that's the key point Replication factor is set and therefore in Splunk UI you can see it's value the problem is in repFactor variable. By default it'

[2020-03-12 09:24] ghost commented on #331
After setting this param on all indexers master started to show new indexes:
![image](https://user-images.githubusercontent.com/31631542/76506417-31977600-645c-11ea-8439-503358eb0b68.png)
Now digging in why replication data is not spread across other indexers.

Update:
It only seems to work if the index is represented on all the indexes where the data should be replicated, otherwise it shows an er

[2020-03-13 19:42] nwang92 commented on #331
Ah, I see what you mean. Out of the box, Splunk doesn't come with many indexes for you - I believe outside of the privately used `_`-prefixed indexes (ex. `_internal`, `_audit`, etc.), you only get `index=main`, `index=summary`, and `index=history`.

After that, index creation is a responsibility for the user. Typically, we recommend doing this in the following ways:
* Follow [custom conf creation

[2020-03-15 22:47] westurner opened #338 "Are the DockerHub images out of date?"
When I go to https://hub.docker.com/publishers/splunk , it says:

[code]

This is confusing to me as a user; would I be installing old versions of splunk, or do the images pull a new version of splunk every time they're started?

[2020-03-15 22:48] westurner commented on #338
... There are various ways to build and release a new container image with CI systems for every release.

[2020-03-15 22:52] westurner commented on #338
And now I've found: https://hub.docker.com/u/splunk and https://hub.docker.com/r/splunk/splunk/

- [ ] Maybe update the https://hub.docker.com/publishers/splunk  description with a link to the current containers?

[2020-03-15 23:17] westurner opened #339 "DOC: Which volumes do I need to mount in order to persist my config, apps, and data?"
I've reviewed the listed resources, but I'm not sure which volumes I need to [bind] mount in my `docker run` command invocation or `docker-compose.yml` in order to persist my config, apps, and data?

- https://hub.docker.com/r/splunk/splunk
- https://github.com/splunk/docker-splunk/blob/develop/README.md
- https://docs.splunk.com/Documentation/Splunk/latest/Installation/Beforeyouinstall#Deploy_and

[2020-03-15 23:18] westurner commented on #339
I'm a home user who may be considering enterprise use.
I'm comparing Splunk with RRD, Prometheus, Grafana (which supports alerting for free), Loki, https://github.com/influxdata/sandbox (which supports alerting for free, can run on a RaspberryPi (ARM))

[2020-03-16 00:55] nwang92 commented on #338
As far as I'm aware, we're only publishing to https://hub.docker.com/u/splunk and in particular, the `splunk/splunk` + `splunk/universalforwarder` images in that repository.

I'm not too familiar with https://hub.docker.com/publishers/splunk or why it says it was last updated 9mo ago (we recently published new images just last week). Is this a separate repository @mikedickey?

[2020-03-16 00:58] nwang92 commented on #339
There are docs around persistent volume usage: https://github.com/splunk/docker-splunk/blob/develop/docs/STORAGE_OPTIONS.md

But TLDR: `/opt/splunk/etc` will preserve any configurations you make (new viz, indexes, savedsearches, etc.) whereas `/opt/splunk/var` will preserve the indexed data.

We have in the midst of the process of making docs easier to read and navigate, sorry for the inconvenienc

[2020-03-16 02:51] westurner commented on #339
Thanks! Should've looked in ``/docs``.

- [ ] A reference in ``/README.md`` would be helpful.
- [ ] A reference in https://docs.splunk.com/Documentation/Splunk/latest/Installation/DeployandrunSplunkEnterpriseinsideDockercontainers

Here's an (untested) example docker config that may be appropriate for the README:

[code]

- https://docs.splunk.com/Documentation/Splunk/latest/Admin/CLIadmincommands

[2020-03-16 08:15] ghost commented on #331
What can you recommend for rapidly changing environment where changes occurs rather often(create/delete/change index or it's config)?
It sounds a bit tricky to change config every time you have changes and restart endpoint after it.

[2020-03-16 17:13] nwang92 commented on #339
Noted, that's a good suggestion. The top-level `README.md` of the repo has a link to the [published Github docs](https://splunk.github.io/docker-splunk/) but admittedly the link isn't very obvious and the workflow is still a little clunky.

Also just to note for your last example - [you can install apps at runtime](https://github.com/splunk/docker-splunk/blob/develop/docs/advanced/APP_INSTALL.md).

[2020-03-16 17:34] nwang92 commented on #331
Gotcha - if you plan on making changes via UI or API calls, my recommendation would be to make sure `/opt/splunk/etc` is backed by some persistent volume.

All configuration changes would exist in that directory (system config changes, new users, new apps, app config changes, etc). As long as you can guarantee that persistent storage block follows your Splunk instance around, you don't necessarily

[2020-03-16 19:56] westurner commented on #339
Thanks! Is there a good way to keep these app packages updated?
Python wheels with pinned versions, checksums, and TUF?
Or a different dependency tool like conda (and the conda-forge CI build and
upstream version watcher PR bot)? (Which would make managing
https://splunkbase.splunk.com/app/2882 Python for Scientific Computing and
anything in any language much easier, checksummed, and likely to be

[2020-03-16 22:38] nwang92 commented on #339
From Splunkbase, I'm not too sure. Per the example in the docs, it is possible to add a version in the Splunkbase URL as follows:
[code]

I'm guessing for that sci-py Splunk app, you can retrieve v1.4 via something like `https://splunkbase.splunk.com/app/2882/1.4/download` but v2.0.0 would be something like `https://splunkbase.splunk.com/app/2882/2.0.0/download`.

For any custom/internally develop

[2020-03-16 23:28] westurner commented on #339
Got it. Thanks again

On Mon, Mar 16, 2020, 6:38 PM Nelson Wang <notifications@github.com> wrote:

[2020-03-17 01:10] #339 closed, assigned to nwang92

[2020-03-17 01:13] nwang92 commented on #322
Done here https://github.com/splunk/splunk-ansible/pull/406

This will be out in the next release (8.0.3).

[2020-03-17 01:13] #322 closed, assigned to nwang92

[2020-03-17 18:45] ghost commented on #331
Thanks for ideas,I'm mostly interested in the best way of index management(i.e new team want to be monitored in Splunk -> create a separate index for them and another team want to disable their index). How to manage them centrally and in the most automated way(as changing indexes.conf on master every time when changes happen is not so flexible).
I understand that you tried to describe this questio

[2020-03-18 18:41] nwang92 commented on #331
For that specific case, I would still recommend backing `/opt/splunk/etc` using some persistent volume so you can save the state of all indexes - this would allow you to support CRUD on all indexes, whether it be through the UI or REST API.

I'm assuming you're using an indexer cluster, so you have 1 cluster master and n indexers. The best way to distribute changes to indexes is to create a cluste

[2020-03-18 18:42] nwang92 commented on #331
I guess part of the problem is Splunk REST API doesn't inherently support a native mechanism to create configs/files in `etc/master-apps/_cluster/` - if this was possible, then you could more easily automate your problem using remote API calls.

[2020-03-22 18:43] ghost commented on #331
Thanks a lot for your response. Is it possible somehow to contact you if I have new questions?

[2020-03-23 05:32] nwang92 commented on #331
Absolutely! You can use my Splunk email (nwang@splunk.com), the email in my Github profile, or even LinkedIn. I'm also in the #docker channel of the splunk-usergroups slack https://splunk-usergroups.slack.com/archives/C1RH09ERM if you wanna ping me directly through there.

Going to close this since we've kinda went away from and beyond the issue issue.

[2020-03-23 05:32] #331 closed, assigned to nobody

[2020-03-26 19:16] NateLedet commented on #338
Hi @nwang92, not sure if this is a separate issue or related...

I followed the u/splunk link to https://hub.docker.com/r/splunk/splunk and it shows it was updated 11 hours ago.

On my local Docker, I completely purged all containers, images, volumes, etc to get a totally fresh slate: `$ docker system prune -all`

Once that was completed, I followed the instructions on the splunk/splunk  page:
`$

[2020-03-26 19:39] nwang92 commented on #338
Just to go back to the original issue - I'm still not sure what https://hub.docker.com/publishers/splunk is or how that's different, but I strongly advise using and/or sticking with https://hub.docker.com/r/splunk/splunk.

We publish splunk/splunk:edge on a nightly basis, so that's probably what you're seeing there. Dockerhub is just reporting when the repo was last updated, but not necessarily wh

[2020-03-26 20:03] alishamayor commented on #338
@NateLedet `latest` should point to 8.0.2.1 now. Was an error on my end when I published the 7.3.4.2 patch

[2020-03-26 20:17] nwang92 commented on #338
Going to close this since all of the above is resolved. I don't have access to https://hub.docker.com/publishers/splunk so not sure how to change things there, but hopefully if other people come across this, search will lead them to this issue and they'll know to use https://hub.docker.com/r/splunk/splunk :)

[2020-03-26 20:17] #338 closed, assigned to nobody

[2020-04-01 17:49] nwang92 commented on #296
Sorry this kinda fell off my radar. I think the problem is actually in "test basic https endpoint". Given the above output I'm noticing:
[code]

It looks like it's attempting to hit the splunkd management port on 8089 over HTTP and not HTTPS. Assuming you haven't disabled SSL on port 8089, this *should* always be using HTTPS, at least by default.

A while ago I [added retries over this section](ht

[2020-04-01 17:49] #296 closed, assigned to nobody

[2020-04-03 17:26] #314 closed, assigned to alishamayor

[2020-04-07 09:20] dadux opened #352 "Latest image does not start with runtime other than docker"
Hi,

Since the 8.0.3 image, the container fails to start under `containerd` with the following error when running with :

```ERROR! Specified hosts and/or --limit does not match any hosts```

I believe this is due to this commit https://github.com/splunk/docker-splunk/commit/0ede5cdf86e79a381b14d8a3c2bdb82d41938a44

I've raised a similar issue with the splunk-ansibe repo, https://github.com/splunk

[2020-04-10 12:49] gliptak opened #355 "Docker packaging of AppInspect?"
Are there plans to officially package AppInspect using Docker?

https://dev.splunk.com/enterprise/downloads/

[2020-04-10 21:36] nwang92 commented on #352
Addressed in the splunk-ansible issue - we're gonna republish `8.0.3` in the coming days with the fix as well.

[2020-04-10 21:36] #352 closed, assigned to nwang92

[2020-04-10 21:40] nwang92 commented on #355
This might be a better question for the AppInspect team but it's a bit out-of-scope for this project :) I will relay your question to a few folks internally though.

(And if anyone on the Splunk AppInspect team is reading this, feel free to use this thread for any further questions/details).

[2020-04-10 21:40] #355 closed, assigned to nobody

[2020-04-16 00:00] d3vzer0 commented on #352
Same issue here, pulled the latest 8.0.3 image but the error still pops up. Has the fix been re-uploaded to Docker hub as well? :)

PS. Using Podman since Centos/RHEL 8 doesn't really support Docker anymore (?!?). Images are 100% compatible though.

[code]

[2020-04-16 00:05] dadux commented on #352
@d3vzer0 Running in `podman` you might have to fake either a dockerenv by mounting and empty file in`/.dockerenv` or setting a dummy env variable to faking running in Kubernetes by settting the `KUBERNETES_SERVICE_HOST` env variable.

This is the code responsible to detect it's running in Docker :

https://github.com/splunk/splunk-ansible/pull/433/files#diff-6b53eddb7a76d7bf044b32a0ee84fc58R93

[2020-04-16 00:11] d3vzer0 commented on #352
@dadux Awesome, thanks! Setting the KUBERNETES_SERVICE_HOST environment seems to solve the issue for now :)

[2020-04-16 00:15] dadux commented on #352
@nwang92 - this should probably be documented somewhere, most of the recent linux distribution (redhat, fedora, AWS linux 2, ...) have replaced `docker` , either with `containerd` or `podman` , and not everyone is running Kubernetes.

[2020-04-16 19:56] nwang92 commented on #352
Got it, I can add some docs around this.

Our [official support policy](https://github.com/splunk/docker-splunk/blob/develop/docs/SUPPORT.md) doesn't include containerd/crio/podman yet, and we're also lacking a bit with regards to automation around testing against those runtimes. But this is probably a larger conversation we'll be having internally with other groups given that we have other projec

[2020-05-18 21:22] justinrush opened #368 "Search Head Cluster on K8s"
Struggling to get a search head cluster up on K8s.  Didn't know you had the examples, so started one way and got close, but the peers seemed to failing on the last step of registration with the captain.  Found your examples and modified my helm chart to use that approach and got stuck at the same spot with a slightly different issue.

My environment:
* kubernetes v1.17.2 on prem via Rancher 2.3.5

[2020-05-19 07:08] nwang92 commented on #368
Both approaches should work, although I'm not certain where it went wrong. Could you provide the full manifests you're deploying?

There are a few gotcha's with SHC that are called out [in the docs](https://docs.splunk.com/Documentation/Splunk/8.0.3/DistSearch/SHCdeploymentoverview), specifically:

and

This makes me think the root cause of your issue is specifically around the DNS config. I belie

[2020-05-19 14:07] justinrush commented on #368
Thanks for the response - appreciate any help here, about to start banging my head on the desk.

The last example was just me not totally understanding what you were doing with the hostname and dnspolicy bits.  Thinking more about it, they really shouldn't be needed:
* Instead of hostname, the service name should be used
* The ClusterFirst policy is default and thus isn't needed
* The search domai

[2020-05-19 22:29] nwang92 commented on #368
That's interesting, do you happen to know what CNI you're using in your cluster? I'm not too familiar with Rancher, but is the cluster deployed in your own datacenter or through some cloud provider?

Going to glean over the yamls you sent my way and see if I can reproduce this.

[2020-05-19 23:32] justinrush commented on #368
On prem - we use canal with rancher

[2020-05-20 01:12] nwang92 commented on #368
Shooting you a bundle of manifests: [justinrush.zip](https://github.com/splunk/docker-splunk/files/4654047/justinrush.zip)

I've been deploying it with just `kubectl apply -f ./justinrush` after extraction. I followed the configmap pattern you were using, although I did remove some of the SA/Role/PV/PVCs/Ingress kinds you had in your file for simplicity. Could you see if this deploys properly and

[2020-05-20 12:20] justinrush commented on #368
Seeing the same issue where it tries to hit the node IP.  I could try switching to an unencapsulated network provider, such as Calico, in one of our dev clusters, or spin up a new one, but I'm not really sure of the implications to our other services or if that even a possibility in production.  We've never encountered this before - what is Splunk doing that is different here?

peer and captain k8

[2020-05-20 23:48] nwang92 commented on #368
Just providing an update: I'm still working on this :P I created a new EKS cluster and changed the CNI to Calico, the same files in that zip still creating a working SHC for me.

I'm going to dig into some flannel things to see if I can make sense of how that's set up. I'm not sure exactly what how DNS resolution happens within Splunk. I suppose it could get tricky with ip-in-ip encapsulation or S

[2020-05-21 01:14] justinrush commented on #368
I tried switching a cluster to calico and it didn't go well, so I backed that out to move back to canal. I'll spin up some new nodes tomorrow and see if I can start then fresh on calico.

My thought is inline with yours - maybe the vxlan nature of canal is somehow causing Splunk to think the source up is the canal node up rather than the pod ip. Maybe the fully routable nature of calico will addre

[2020-05-21 04:52] nwang92 commented on #368
I'm guessing you're seeing something akin to what's described here: https://github.com/coreos/flannel/issues/835#issuecomment-369233572

This SNAT done by flannel could absolutely be causing the errors you're observing with SHC. From the view of the server, the source IP of the client is not the actual IP of the client (pod IP), but rather it gets masqueraded and comes in as a node IP. I suppose t

[2020-05-21 16:26] xueshanf opened #369 "8.0.3 image scan not clean"
We would like to upgrade from 7.3 image to 8.0.3, however, the 8.0.3 container image scan shows 57 security vulnerabilities and all of them have fixes from package vendors. We use GCP container image scan service.

Would you mind updating the image with latest OS patches? I can help to scan if necessary.

Thanks!

[2020-05-21 22:51] justinrush commented on #368
I'm seeing the same thing when using calico for the CNI - splunk ultimately ends up trying to connect to a node IP or API IP.

[2020-05-22 20:43] mikedickey commented on #368
Please try using the [Splunk Operator for Kubernetes](https://github.com/splunk/splunk-operator). Happy to help if you run into issues with that, but there are far too many gotchas without it.

[2020-05-23 15:04] justinrush commented on #368
@nwang92 After adding the hostname like we discussed I still see the same behavior on both the Calico and Canal/Flannel clusters.
@mikedickey I ran into the same problems with the operator on the Canal/Flannel cluster, but it appears to have worked on the Calico cluster.  Sort of.
* I don't see the same odd errors where the captain or peer nodes are trying to connect to the k8s nodes
* I put an in

[2020-05-25 20:01] csamarajeewa opened #372 "forwarder serverName"
When starting the Forwarder in AWS Fargate, you cannot change the container name. So the logs have container id as the host name. I've tried setting multiple commands SPLUNK_CMD set servername or set default-hostname but it always registers the container id first which is a problem.

[2020-05-25 20:38] nwang92 commented on #372
I believe you can change this by adding the `hostname` field in the Fargate task definition: https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_definition_parameters.html

[2020-05-25 20:51] csamarajeewa commented on #372
I tried using the hostname but it looks like Fargate ignores it.

[2020-05-26 14:14] csamarajeewa commented on #372
Hello Nelson,

The issue is hostname is not supported with awsvpc networking mode.

On Mon, May 25, 2020 at 1:38 PM Nelson Wang <notifications@github.com>
wrote:

[2020-05-26 15:29] timdonovanuk commented on #296
I'm getting `FAILED - RETRYING: Test basic https endpoint (60 retries left).` on a first deploy of splunk. I've got about the most basic setup, and just copied the docker run commands from https://github.com/splunk/docker-splunk.

Unfortunately it doesn't actually even show what endpoint it's trying to reach, and because the container doesn't actually start I cannot log into it to see whats going

[2020-05-26 23:26] nwang92 commented on #369
Could you elaborate more on the errors you're seeing and how to reproduce them?

As far as I'm aware, we do use the clair scanner as part of CircleCI, which should flag any vulnerabilities in the image OS layer. I haven't seen that stage fail in a while, but wondering if you're also using clair or something else?

[2020-05-27 03:08] nwang92 commented on #368
Ah, I just realized I was testing with `splunk/splunk:8.0.3` and not `splunk/splunk:7.3.3`. In any case, I tried reproducing the error you saw and still couldn't see the node IP from grepping through the logs in `${SPLUNK_HOME}/var/logs/splunk`.

I guess that disappeared for you as well. I wonder if it was indeed the Splunk restart that cleared things up? As far as your SplunkWeb failures you're s

[2020-05-27 05:41] xueshanf commented on #369
I am using google gcr.io registry which comes with image scan service.
To produce the scan report, I pulled  splunk/universalforwarder impage from dockerhub, and tagged it and push to GCP project's gcr.io container registry. Google container service scanned it.  Here is part of the result screenshot:

<img width="787" alt="Screen Shot 2020-05-26 at 10 38 45 PM" src="https://user-images.githubuserc

[2020-05-27 05:56] xueshanf commented on #369
Clair may not have  CVE database for redhat:enterprise_linux:8?

[2020-05-27 16:18] nwang92 commented on #372
Ah interesting, I wasn't aware of that. Could you try this workaround using the env var `SPLUNK_BEFORE_START_CMD`?
[code]

[2020-05-27 18:43] mikedickey commented on #368
The SplunkWeb interface issues are likely caused by not enabling sticky sessions for your ingress. There are examples for nginx and Istio [here](https://github.com/splunk/splunk-operator/blob/master/docs/Ingress.md). I would expect Calico has similar mechanisms.

[2020-05-27 19:20] csamarajeewa commented on #372
Hello Nelson,

I tried that too but it will register the container id as the server name
first before showing the correct server name. So it shows 2 hosts every
time on splunk server. For the time being I had to initially start the
container with a fake splunk server and then use a command to add the real
one since it is executed at the end of the playbook.

Thanks

On Wed, May 27, 2020 at 9:19 AM

[2020-05-27 21:41] justinrush commented on #368
@mikedickey thanks, enabling cookie affinity made the web page work.

We figured out how to switch our larger cluster over to calico and came up with an interesting use case even if we can't use a SH only cluster with our existing 7.3.5 IDX cluster.  We've been wanting to split _internal logs out to their own instance and using internal storage on k8s to do that seems like a decent idea.

So I dep

[2020-05-29 05:37] nwang92 commented on #372
Got it, I'll play around with Fargate a bit more and see if I can come up with anything else.

[2020-05-29 06:36] nwang92 commented on #369
Took me a sec to get access to a GCloud acc, but I can see the vulnerabilities. I checked `splunk/splunk:8.0.4` and only got 17 medium level ones, but I'll go through the latest `edge` images and get them sorted out for the next release.

[2020-06-01 03:33] nwang92 commented on #372
I was able to change it reported hostname with the following `docker run` command:
[code]

This changes the `${SPLUNK_HOME}/etc/system/local/inputs.conf` before Splunk starts to show something like:
[code]
And it also changes the hostname of the server in `${SPLUNK_HOME}/etc/system/local/server.conf` to be:
[code]

Upon Splunk starting, a search in `index=_internal | stats count by host` only show

[2020-06-01 03:46] dadux opened #375 "Splunk workload management (WLM) in a container"
We'd like to migrate our Splunk cluster to using containers and the docker-splunk image, however the last remaining blocker that we've identified is that we cannot enable the workload management config in the container in recent version of Splunk (`>= 7.3`)

It fails the pre-flight checks :
[code]

[code]

It appears to be looking for a systemd unit and the associated cgroups - which obviously doe

[2020-06-01 03:54] dadux commented on #375
It's worth mentioning that I was able to successfully run WLM in Splunk **7.2.10**, in a container (and in Kubernetes) where there is **no pre-flight checks**.

So it appears to be a regression, and/or the documentation not up-to-date for more recent versions.

The following work for `7.2.10` :

There's a couple things required to get it work, and can be run as an ansible pre-task :
* apt-get upda

[2020-06-01 03:59] dadux commented on #375
The documentation still mention configuring WLM for a non-systemd linux even for Splunk 8,

https://docs.splunk.com/Documentation/Splunk/8.0.4/Workloads/Configurenonsystemd

But I cannot get the pre-flight checks to pass.

[2020-06-01 14:35] csamarajeewa commented on #372
Thanks

On Sun, May 31, 2020 at 8:33 PM Nelson Wang <notifications@github.com>
wrote:

[2020-06-01 16:33] #372 closed, assigned to nobody

[2020-06-01 18:06] #369 closed, assigned to nobody

[2020-06-03 19:04] justinrush commented on #368
@mikedickey @nwang92 had some time to dig a lot more into this and I have more thoughts and potential workarounds.  As the direction is to use the Operator, I submitted those thoughts on that project:
https://github.com/splunk/splunk-operator/issues/86

[2020-06-03 20:28] bb03 commented on #375
Hi @dadux, just wanted to say that we're looking into this and prioritizing the work.  For the solution that you posted (for the cgroups pre-task), was that for 7.2.10 or was it for 8+

[2020-06-04 02:58] dadux commented on #375
Hi @bb03 - the solution I posted is for `7.2.10`.

I've also managed to create my own container for `8.0.4` and run Splunk under systemd (inside the container!). Once Splunk is under systemd, no problem to enable the WLM. 🎉

I'm creating a PR so you can have a look at the changes I did to make it work.

[2020-06-04 23:22] nwang92 commented on #368
Sorry I've gotten a little side-tracked from this ticket. This seems like a classic case of NAT hell you're in right now :P In particular, I'm wondering if there's a Splunk config somewhere that we can flip to be less picky with respect to the source IP? Going to dig through some docs and see what I can find.

[2020-06-09 02:34] edumserrano commented on #324
I understand that this issue is closed but I faced the same issue and it still took me some time to find the solution so I'm leaving it here in hopes it helps others.

The issue is that the paths used when doing the volume mount must be absolute or else it gets mounted as a directory. See [Differences between -v and --mount behavior](https://docs.docker.com/storage/bind-mounts/#differences-between

[2020-06-09 02:42] edumserrano opened #377 "Possible documentation update"
Hi encountered the same as described in #324 but it was closed without further information.
It still took me a while to figure out what I was doing wrong so I thought it was worth it at least to add a reply to the closed issue.

I was wondering if you would feel useful a small PR to improve the docs with a warning on this? Perhaps even update to use the --mount instead of -v option which even prod

[2020-06-10 18:12] nwang92 commented on #377
Yeah, any warnings or errors hit would be good to capture + note for future users :) I can make a quick docs PR by the end of the day, unless you beat me to it

[2020-06-11 09:03] edumserrano commented on #377
Well done @nwang92 ! Thanks for picking this up.

[2020-06-11 09:03] #377 closed, assigned to nobody

[2020-06-11 17:41] nwang92 commented on #368
Overall, it seems like Splunk Enterprise is highly opinionated around source IPs, which is the core of the problem we're trying to work around here. We've seen this before in Docker Swarm, but this might be something we want to raise internally @mikedickey

I've been combing through https://docs.splunk.com/Documentation/Splunk/8.0.4/admin/Serverconf and found the following, not sure if they're goi

[2020-06-11 19:23] justinrush commented on #368
As it stands I don't see how the operator or a self built cluster will work in a k8s cluster where your pod IPs aren't routable, which is the default for any on-prem cluster.  Those options look like they would do what we want here, but I'm not sure how to tell the operator to add that parameter to the server.conf.  Looking at the [defaults spec](https://github.com/splunk/splunk-ansible/blob/devel

[2020-06-15 17:04] nwang92 commented on #368
Another thought that occurred to me is possibly changing how the CNI is setup. I believe I'm unable to reproduce this on my Calico-enabled environment because the out-of-the-box installation doesn't use any overlay/encapsulation.

But this is a configurable parameter in the IP address pool that Calico manages: https://docs.projectcalico.org/networking/vxlan-ipip. Maybe it's possible to disable thi

[2020-06-16 04:59] 772279 opened #383 "Deployment server fails to start when starting the docker-compose cluster"
I'm trying to simulate the setup of deployment server + 1 universal forwarder so I use the `1deployment1uf.yaml` for my `docker-compose up` command. I'm using it as in
[code]
from the `test_scenarios` directory.

When starting up, the deployment server shows an error. From the ansible logs,  I see the following.

[code]

Is there anyway to setup these docker-compose files ?

[2020-06-17 16:45] justinrush commented on #368
We do pre-create the IPPool using the following spec:
[code]

If we switch to natOutgoing = false, everything stops working because we aren't peering the subnets with any northbound BCP peers.  If you aren't configuring BGP in your instance, is it somehow configured for you in AWS?  What does the following return for you?
[code]

What is your ippool spec settings?
``bash
kubectl get ippool -o yaml

[2020-06-17 18:23] justinrush commented on #368
So i was going to start playing with those settings as they seemed interesting.  I went to validate and things were just working.  I think I know the configuration that was causing the problem, although I don't know the technical routing/calico reason for it.

Until thursday last week our controlplane/etcd nodes were in a different subnet than the worker nodes.  We recently moved them to the same

[2020-06-17 18:23] #368 closed, assigned to nobody

[2020-06-17 20:23] nwang92 commented on #383
This seems to be semi-related to the `appserver` role that gets created as part of the compose: https://github.com/splunk/docker-splunk/blob/develop/test_scenarios/1deployment1so.yaml#L20

The purpose of this container is just to serve the app (splunk_app_example.tgz) at some web address accessible by each of the Splunk instances. It looks like the `tests/fixtures` dir contains the unarchived vers

[2020-06-18 00:09] nwang92 commented on #383
TLDR:
[code]
then re-run the `docker-compose up` :)

[2020-06-18 00:09] #383 closed, assigned to nobody

[2020-06-18 13:40] smonyan opened #385 "Since Upgrade Splunk from 7.3.3 to 8.0.4.1 in Docker Ansible error"
Hello everybody

I have the problem that since I'm update my docker containers with splunk from 7.3.3 to 8.0.4.1, I receive following error message:

TASK [Check all instances for required restarts] *******************************
fatal: [localhost]: FAILED! => {}
MSG:
The field 'become_user' has an invalid value, which includes an undefined variable. The error was: 'splunk' is undefined

The conf

[2020-06-18 14:52] smonyan commented on #385
I correct myself, the problem exists since 7.3.5

[2020-06-23 16:31] nwang92 commented on #385
I don't believe that should have changed, we do have a test case for upgrading from [7.3.4](https://github.com/splunk/docker-splunk/blob/develop/tests/test_docker_splunk.py#L46) to the [latest](https://github.com/splunk/docker-splunk/blob/develop/tests/test_docker_splunk.py#L2380). I can test it with 7.3.5 and get back to you though.

[2020-06-23 16:53] nwang92 commented on #385
I'm not able to reproduce this, it seems like my upgrade is successful. But I did encounter a similar error when passing in bad parameters to the mount configuration (note, this is not Kubernetes):

This caused a problem because the directory was mounted within the container as a directory and it expected a file.
[code]

This was corrected with a change in the `--volume` configuration on the conta

[2020-06-23 17:25] nwang92 commented on #303
Sorry this ticket is a bit old, but since this ticket was created we did expose a `ansible_environment` key in the `default.yml` which adds environment variables to the Ansible runtime context. See: https://github.com/splunk/splunk-ansible/blob/develop/docs/advanced/default.yml.spec.md and https://github.com/splunk/splunk-ansible/pull/374

This can also be manipulated via the container env var `SP

[2020-07-01 07:24] smonyan commented on #385
Sorry for my late response. The mount cannot be the problem, because we use kubernetes and the defaults.yml file will be mounted from a secret in the path /var/tmp/defaults/...

And no, the file isnt mounted as a directory with the name defaults.yml, thats the first thing that i checked. Thats the mount in the container:

splunk@splunk-hec-857c8c9c6c-8cc9g:/opt/splunk$ ls -al /var/tmp/defaults/def

[2020-07-07 19:22] nwang92 commented on #313
DMC is now included as part of https://github.com/splunk/splunk-ansible/pull/501. This new splunk_monitor role acts as a standalone search head over all instances in a deployment, and it automatically enables DMC in distributed mode with the peers/groups set appropriately.

cc @TheCamNelson, maybe it would be good to add an new README doc detailing how to use the DMC and the new `splunk_monitor` r

[2020-07-07 19:22] #313 closed, assigned to nobody

[2020-07-10 20:07] nwang92 commented on #385
Did you see other warnings in the startup logs? At least from what I had above, there was some error with the inventory script uses to parse the environment variables.

Additionally, could you share the deployment spec yaml you're using to create this instance?

[2020-07-12 12:45] sarit12 opened #391 "upgrade splunk version on running container"
Hello
i had splunk version 7.2.6 and i wanted to upgrade to 8.0.2
the container already had splunk running and after upgrading im getting this error:

when running splunk version 8.0.2 on "clean" environment it is working fine.

how can i fix this error ?

thanks

[2020-07-14 08:30] teja9415 opened #392 "client is getting rebooted while executing AnsiballZ_setup.py"
Hi Team,

we are facing the issue while running the playbook from server to client during the TASKS [Gathering Facts] machine is getting rebooted

error message:-

<machine_name> ESTABLISH SSH CONNECTION FOR USER: None
<machine_name> SSH: EXEC ssh -C -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,pub

[2020-07-14 12:44] sutcocuk commented on #173
I have the same issue, did you make separate files and then compose them together or 1 by 1. Could you maybe explain it?

[2020-07-14 13:19] sutcocuk opened #393 "Unsupported config option for services.splunk: 'conf'"
I get the following error:

Unsupported config option for services.splunk: 'conf'

this is the code:

[code]

[2020-07-15 01:53] nwang92 commented on #391
Are you using the image through Docker/Swarm or Kubernetes?

It seems like what's happening is when named volumes are mounted on the new container they appear to be owned by `ansible` instead of `splunk`. This might be a side-effect of the default `ansible` user on the container? But knowing which orchestrator you're using would help in providing the appropriate solution.

[2020-07-15 01:59] nwang92 commented on #393
The [docker-compose.yml specification](https://docs.docker.com/compose/compose-file/) does not support the `splunk` or `splunk.conf` stanzas - this is specific to this project.

You'll have to create a `default.yml` and mount it to your container. This `default.yml` should be the location where you enter the `splunk.conf` entries. Please refer to the following:
* https://github.com/splunk/docker-s

[2020-07-15 01:59] #393 closed, assigned to nobody

[2020-07-15 02:00] nwang92 commented on #303
Going to close this because it's a bit stale, but if you find any future issues with this please feel free to comment or re-open this issue!

[2020-07-15 02:00] #303 closed, assigned to nobody

[2020-07-15 02:11] nwang92 commented on #392
1. This might be a better issue here https://github.com/splunk/splunk-ansible/issues, since it seems like you're not using the Docker images at all here, if I'm understanding correctly
2. Could you share the command you're using that causes this?

It does not appear there are other errors until the end, where the machine returns unreachable. But there are steps in your sequence which shows that yo

[2020-07-15 08:20] sarit12 commented on #391
Hello.
thanks for your answer
i'm using image through Docker but running with Kubernetese.

[2020-07-15 15:54] teja9415 commented on #392
Thanks for quick response we got the issue

sorry for inconvenience

Regards,
Teja.

[2020-07-15 15:54] #392 closed, assigned to nobody

[2020-07-15 16:49] nwang92 commented on #391
Perfect, in that case you made need to add the proper `securityContext` so mounted volumes are attached with the correct permissions. For instance:
[code]

Alternatively, you can add an `initContainer` to perform the chown:
[code]

[2020-07-15 20:23] breid1313 opened #395 "Question: committing splunk container as new image"
Hi all,

I'm leveraging the splunk/splunk:8.0.4.1 image for some development. At this time, I've pulled the splunk/splunk image, and configured it according to my needs. I now want to commit that container to save it as a new image, so that I have a baseline container to fall back on and start. However, my newly saved image fails to start when I perform a `docker run`. I've checked the original co

[2020-07-16 11:19] sarit12 commented on #391
Thanks !
i used the first option and now im getting this error:

FAILED - RETRYING: Test basic https endpoint (45 retries left).
TASK [splunk_search_head : Check Splunk instance is running] *******************
fatal: [localhost]: FAILED! => {
    "attempts": 60,
    "changed": false,
    "content": "",
    "elapsed": 0,
    "redirected": false,
    "status": -1,
    "url": "http://splunk-master:80

[2020-07-16 11:37] smonyan commented on #385
I see the following warnings:

[WARNING]:  * Failed to parse /opt/ansible/inventory/environ.py with script
plugin: Inventory script (/opt/ansible/inventory/environ.py) had an execution
error: Traceback (most recent call last):   File
"/opt/ansible/inventory/environ.py", line 692, in <module>     main()   File
"/opt/ansible/inventory/environ.py", line 678, in main
getSplunkInventory(inventory)   Fi

[2020-07-16 15:24] breid1313 commented on #395
Seems better to do this by spinning up a new container preconfigured with everything I need in docker-compose.

[2020-07-16 15:24] #395 closed, assigned to nobody

[2020-07-17 16:28] nwang92 commented on #391
This seemed like an error that was fixed by https://github.com/splunk/splunk-ansible/pull/507, but actually the `Connection reset` may be a legitimate failure. This is generally caused by Splunk failing to start, even though the command `./bin/splunk start` might have appeared to succeed and exit cleanly.

Going to see if I can repro this in a k8s environment. Are you running the image with any of

[2020-07-17 16:31] nwang92 commented on #385
This might be the issue?
[code]

I don't see this in your env vars, so I'm guessing it's in the default.yml. Do you have `splunk.hec.port` set to `tcp://10.127.56.237:8088`? This probably needs to just be `8088`. Typically when the dynamic inventory script fails, it doesn't seem to block the Ansible process from proceeding - this is possibly a bug we can look into.

[2020-07-17 17:07] sarit12 commented on #391
Hey
I really appreciate your help!

Im not sure i understand your question:)

[2020-07-17 23:33] nwang92 commented on #391
Should've been more specific :P Could you show me your kube yaml file for how the container is deployed? And if you have a `default.yml` configmap/secret attached, could you share that as well?

[2020-07-18 08:02] sarit12 commented on #391
are you referring to this ?
[code]
`

[2020-07-20 06:58] smonyan commented on #385
You can see my default.yml in my first post in this channel (without http configuration, sorry). I don't configure the hec port as environment variable because it is not listet here: https://splunk.github.io/splunk-ansible/ADVANCED.html#inventory-script

And i don't configure it in the default.yml because the port is default 8088. The only thing that i configure is the inputs.conf from the http_in

[2020-07-20 07:35] smonyan commented on #385
The environment variable SPLUNK_HEC_PORT was the problem. when i configure it in my deployment as environment variable the problem is solved! In previous versions this was still possible without this environment variable.

[2020-07-20 12:36] alnhk opened #397 "expose splunk thru k8s ingress"
Hello:

Here's the tech stacks i am using :
1. AWS EKS 1.16
2. Deployed "splunk/splunk:latest" to EKS using default - "SPLUNK_START_ARGS=--accept-license"

I used statefulset and service, with service (loadbalancer enabled), i am able to directly access it from my laptop, however with ingress enabled, it is not happening. Even I created  route53 pointing to service (load balancer AWS), still not a

[2020-07-20 16:31] nwang92 commented on #397
Could you share your ingress definition?

[2020-07-20 16:40] alnhk commented on #397
@nwang92 :

[2020-07-20 16:44] nwang92 commented on #385
Got it, I'm leaning towards this error being an effect of [this PR](https://github.com/splunk/splunk-ansible/pull/402/files), which reorganizes the HEC settings and how they get interpreted. Although [this line](https://github.com/splunk/splunk-ansible/blob/545de3dbf874c352e9a801b82aa99293114e3052/roles/splunk_common/tasks/set_as_hec_receiver.yml#L14) should have still successfully reverted to `80

[2020-07-20 16:44] #385 closed, assigned to nobody

[2020-07-22 18:51] nwang92 commented on #391
That looks correct, I guess this is from some helm chart? I'm not too familiar with the origins of this helm chart, but I don't see anything wrong with the default.yml there. The app paths is incorrect, these should be prefixed with `/opt/splunk` instead of `/opt/splaviation`:
[code]
But that shouldn't be the cause of any errors.

So far I haven't had much success reproducing what you're seeing. F

[2020-07-22 19:08] sarit12 commented on #391
thanks, i will give it a try

[2020-07-22 23:15] nwang92 commented on #397
So far I haven't had much success reproducing this. I've been using the following:
[code]
[code]

I'm able to successfully access my Splunk instance through the root path of the load balancer created via the nginx ingress controller. I omitted the `host` directive in the ingress because I didn't want to touch any DNS settings right now.

If you omit your `host: splunk.example.com` line, does it wo

[2020-07-23 09:10] sarit12 commented on #391
Hey
so i've upgraded the version to 8.0.5
now im facing few things:

1. i see that the new version of splunk creates 2 containers, search and bash. this is the way it should be ?
2. in the search container i got the error:

i run

and got this :

what can i do ?

[2020-07-23 14:34] jacauc opened #400 "Error after upgrading splunk inside container"
If I upgrade the splunk version installed in the container, it runs perfectly well, but after I stop and restart the entire container, I get

[code]

even though Splunk is running in the background.

[2020-07-23 17:02] nwang92 commented on #391
This should not be the case - the `splunk/splunk:8.0.5` docker image is a self-contained unit. There must be something else launching the 2nd container in the pod?

The error here is you need to supply a password, but there's not one currently set (unless you ran something before this command). Per the [following guide](https://docs.docker.com/engine/reference/commandline/run/#set-environment-vari

[2020-07-23 17:04] nwang92 commented on #400
This seems to be caused by a [missing js file](https://community.splunk.com/t5/Archive/quot-This-browser-is-not-supported-by-Splunk-quot/td-p/360742), but I'm not quite certain how that could have occurred.

How are you performing the upgrade? What version are you upgrading from/to?

[2020-07-23 21:37] jacauc commented on #400
It's actually been bugging me for a while. Every time I upgrade. Originally from 7.x to 7.y, but the latest was 8.01 to 8.05.

I upgraded using the wget to pull the Deb package and then did dpkg -i to run through the upgrade sequence. After restarting splunk all is good, until I restart the container.

[2020-07-23 21:40] jacauc commented on #400
If I recall correctly, last time I tried to delete the entire /opt/splunk/var folder, ran setup again and it was good. But after restarting container it breaks again

[2020-07-31 16:19] nwang92 commented on #400
I believe the upgrade process we recommend is to bump the image version you're using. Something like:
[code]

There's nothing wrong with the deb approach, but it's kind of treating the container as a VM. Also, upon restart, the entrypoint may try to "reset" the container back to the built-in version which may be the cause of your complications.

[2020-07-31 16:20] nwang92 commented on #397
Going to close this due to inactivity, but feel free to re-open or comment if you're still having issues.

[2020-07-31 16:20] #397 closed, assigned to nobody

[2020-07-31 16:20] nwang92 commented on #391
Going to close this due to inactivity, but feel free to re-open or comment if you're still having issues.

[2020-07-31 16:20] #391 closed, assigned to nwang92

[2020-08-05 04:58] jacauc commented on #400
Hi @nwang92

Sorry for the delayed response, I missed this reply.
Where would I bump this image version? Is that an environment variable?

[2020-08-05 05:03] jacauc commented on #400
Also, I understand that I am treating the container as a VM, and this is probably not ideal. Is there any other means of upgrading the container automatically upon boot or another way?

[2020-08-05 21:37] nwang92 commented on #400
You'd have to change the image itself. I don't think there's a way to do it natively from the `docker run` CLI - maybe if you go through the trouble of using named volumes like:
[code]

Alternatively, you can probably reference the compose file here to achieve the same thing as the above, but through the `docker-compose` CLI:
 https://github.com/splunk/docker-splunk/blob/develop/test_scenarios/1so

[2020-08-06 00:11] robdobtob commented on #60
Based on this issue and adding the splunk_share volume, was able to resolve the issue
`- splunk_share:/opt/splunk/share/splunk/search_mrsparkle/modules`

https://github.com/splunk/docker-splunk-legacy/issues/59

[2020-08-06 05:35] jacauc commented on #400
Thank you very much! I'm not very well versed when it comes to Docker compose as I simply use the containers directly on my synology NAS. I will have to go dig to see how I can change this from the Synology SSH CLI.

Little more intricate than I thought honestly :)

[2020-08-07 17:52] nwang92 commented on #400
No problem, our approach is to make the Splunk container experience feel more like a microservice so that it plays nice with orchestration systems like Swarm/Kubernetes. But those goals may not always jive with smaller-scale deployments - luckily I believe there's ways to achieve what you're after, although with a little bit more YAML unfortunately :P

I'm going to close this ticket, but feel free

[2020-08-07 17:52] #400 closed, assigned to nobody

[2020-08-12 13:39] henricook opened #407 "Bug: Splunk slack channel guidance incorrect"
The README says that support is available on the Splunk slack channel with this text:

`Join the #docker room in the Splunk Slack channel`

But it seems signup is limited to only a small handful of companies, so this support method is useless to most of us customers

[2020-08-12 15:33] henricook commented on #271
@KlausGlueckert This "only mounting etc and var" is really frustrating. I'm on a system where I can only attach one persistent volume and trying to work around it is pretty tough!

Do you know more on why this error happens and how I might be able to get around it with only one mount point?

[2020-08-12 16:16] henricook opened #408 "Running with only one mounted volume, `ERROR: Couldn't read "/data/splunk/etc/splunk-launch.conf"`"
I'm in a company/infrastructure setup where my only option is to use only one persistent volume for Splunk. My dockerfile and entrypoint script are below.

I'm trying to bring up the container, use an entrypoint script to `cp` everything from /opt/splunk to /data/splunk (my mount point) and then start the normal ansible process with amended `SPLUNK_HOME`. The plan seemed sound but I'm hitting some

[2020-08-13 10:21] KlausGlueckert commented on #271
@henricook I believe it is designed that you have to mount var and etc, but maybe try to just mount the splunk root directory. It any case you MUST use predefined docker volumes, I didnt get it to work with just docker run, only with docker-compose. see here: https://splunk.github.io/docker-splunk/STORAGE_OPTIONS.html. If you need to update the image later, you set - SPLUNK_UPGRADE=true in the com

[2020-08-13 10:37] henricook commented on #271
Thanks for the tip, pre-defined volumes gave me hope for a minute. I think you mean adding `VOLUME ["/opt/splunk"]` to the top of my Dockerfile (link to other ticket: https://github.com/splunk/docker-splunk/issues/408). It didn't make a different unfortunately, looking at the container /opt/splunk is still pretty empty when ansible fails with 'splunk_build_type' is undefined.

[2020-08-13 10:41] KlausGlueckert commented on #271
...try first to get it to work with docker-compose and 2 volumes, if that works, try to change it to 1 volume. Not sure if it will work with a Dockerfile. I would try to build a docker-compose environment or docker stack deploy if you have distributed cluster setup

[2020-08-14 01:33] nwang92 commented on #408
Interesting use case! Before building your own image, maybe it's possible to get away with dropping the persistent storage on one of the mounts? If it's of any use:
* `/opt/splunk/etc` will contain all configuration files. If you're using some env vars or the default.yml to set things up, you may not need this
* `/opt/splunk/var` will contain all the indexed data and other raw files. This is proba

[2020-08-14 01:35] nwang92 commented on #407
Ah I wasn't aware of this - let me look into it and see why this is the case.

[2020-08-14 08:09] henricook commented on #408
Thanks @nwang92 - it's a trade-off I'd considered, we're going to be setting up many custom dashboards though so it's something we'd like to keep!

In the end I've spent a day upskilling on what makes our infrastructure tick and then made a few minor tweaks that _seem_ to have allowed me to attach 2xVolumes to my pod - so I've managed to remove the one volume requirement at our infrastructure leve

[2020-08-14 23:37] nwang92 commented on #408
I think I see what's preventing this from working - there's an `/opt/splunk-etc` which stores the etc dir for the specific Splunk version used in the image itself. When $SPLUNK_HOME changes here, it messes this bit up - I'll see if I can fix it.

Thinking out loud, but I wonder if you could just add a PVC to `/opt/splunk`? I recall there being some Docker issues where volumes at specific paths mig

[2020-08-15 00:13] nwang92 commented on #407
Do you mean the sign-up here restricted? https://docs.splunk.com/Documentation/Community/1.0/community/Chat

I'm not certain how the Slack is moderated, but if you're a customer you should be able to join via http://splk.it/slack? If not, I can certainly add this as a note/caveat but I guess was under the impression this was a little more open than it actually is :(

[2020-08-15 08:06] henricook commented on #407
I didn't know about splk.it/slack - nice one. How's this look for a README amendment? https://github.com/splunk/docker-splunk/pull/409

[2020-08-15 08:08] henricook commented on #408
Yeah I think that's the problem, when I add a PVC to /opt/splunk it wipes the whole folder (because a new blank volume is now mounted there)

Dynamically fetching a splunk build is :exploding_head: - could work. Those /opt/splunk-etc changes sound :muscle:

[2020-08-15 16:52] #407 closed, assigned to nwang92

[2020-08-26 04:02] nwang92 commented on #408
Should be available in the nightly `splunk/splunk:edge` image - otherwise, should be fixed in 8.0.6 image tag release.

[2020-08-26 04:02] #408 closed, assigned to nobody

[2020-08-26 09:13] henricook commented on #408
Amazing, thanks @nwang92 !

[2020-08-27 20:33] mkinsley opened #414 "Usage / help text examples missing SPLUNK_PASSWORD"
*Description*

3 out of 4  docker cli example in the usage message don't include SPLUNK_PASSWORD.  SPLUNK_PASWORD is not included in the list of ENV VARS that are of importance.

*Expect*

- usage examples should work

*Observed*

- usage message is printed when SPLUNK_START_ARGS missing (awesome!)
- 3 out of 4 examples do not include SPLUNK_PASSWORD ENV vars
- SPLUNK_PASSWORD is not called out in

[2020-09-11 19:10] qwerty10110 opened #420 "How do I access certain (all) files?"
When I shell into the container I can't access  /opt/splunk/var/run, even when I use `sudo cd run/`

`sudo: unable to send audit message: Operation not permitted`

Why is it that I can't access all directories, even while I'm a sudo user?

PS: I originally posted this in splunk-ansible.  But I figured since I'm using splunk in a docker/kubernetes context, that I should also ask here.

[2020-09-16 20:23] nwang92 commented on #420
Duplicate of https://github.com/splunk/splunk-ansible/issues/539

[2020-09-16 20:23] #420 closed, assigned to nobody

[2020-09-23 10:34] VincentC75 opened #421 "Question: Can the container be started with a forwarder license ?"
I start a container as a heavy forwarder:

`docker run -d -p 8000:8000 -e "SPLUNK_START_ARGS=--accept-license" -e "SPLUNK_PASSWORD=mydummypw" -e "SPLUNK_ROLE=splunk_heavy_forwarder" --name hforwarder splunk/splunk:latest`

When I connect to it and check the license used with `splunk list licenser-groups` it shows a trial license.
I would like to use a forwarder license instead. I there any way I c

[2020-09-23 14:35] VincentC75 commented on #421
Got around it with `docker run -d -p 8000:8000 -e "SPLUNK_START_ARGS=--accept-license" -e "SPLUNK_PASSWORD=mydummypw" -e "SPLUNK_ROLE=splunk_heavy_forwarder" -e "SPLUNK_BEFORE_START_CMD=edit licenser-groups Forwarder -is_active 1" --name hforwarder splunk/splunk:latest`

I didn't know this SPLUNK_BEFORE_START_CMD variable existed.

[2020-09-23 14:35] #421 closed, assigned to nobody

[2020-09-29 12:52] yamila123 commented on #187
Hi Boris - How did you resolve the above issue?

[2020-10-09 13:54] irom77 opened #424 "SSLError"
Getting for redhat-8 or  debian-10, but not for debian-9 or centos-7 ?

`SSLError: HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Max retries exceeded with url: /packages/45/1e/0c169c6a5381e241ba7404532c16a21d86ab872c9bed8bdcd4c423954103/requests-2.24.0-py2.py3-none-any.whl (Caused by SSLError(SSLError(1, u'[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:727)'),))

[2020-10-13 06:50] nwang92 commented on #424
Could you share where/how you're seeing this?

[2020-10-19 14:48] dp-42 opened #428 "Python 2.7 EOL"
Hello,

I noticed each time you start a container the following warning:
[code]
It seems the Ansible version utilized in this project still uses Python 2.7 and that version is [End Of Life](https://www.python.org/doc/sunset-python-2/).

Now I wanted to ask if there are any specific reasons why this version is used and if there are any plans to update to 3.x?

Many thanks!

[2020-10-20 15:35] nwang92 commented on #428
That's part of our roadmap!

[2020-10-22 00:31] tuckcodes commented on #38
SPLUNK_APPS_URL seems to not work for anything with splunk/splunk:latest

Should it be operational at this point? Hard to tell from the github issues.

[2020-10-22 18:23] nwang92 commented on #38
@tuckcodes could you run a `docker pull splunk/splunk:latest`? I'm seeing this to be successful now. The image you should have is:
[code]

[2020-10-23 04:12] tuckcodes commented on #38
Hi @nwang92, yes I can run docker pull splunk/splunk:latest fine; however, if I run something like

`docker run -p 8000:8000 --name splunk -e "SPLUNK_PASSWORD=<password>" -e "SPLUNK_START_ARGS=--accept-license" -e 'SPLUNKBASE_USERNAME=<someusername>' -e 'SPLUNKBASE_PASSWORD=<somepassword>' -e 'SPLUNK_APPS_URL=http://splunkbase.splunk.com/app/1924/release/6.5.3/download/eventgen_653.tgz' -it splunk

[2020-10-23 04:15] tuckcodes commented on #38
If I run the full docker run command above, with splunkbase and apps environment variables, I receive this build error. Also, note that by default I can't launch a vanilla splunk container, install the apps, and then do a docker commit. That also fails on build for some reason. In short, I am finding it hard to leverage modern tools like Gitlab or CICD in general with Splunk App development.

[cod

[2020-10-23 06:46] nwang92 commented on #38
I tried the command using the other CLI you provided in another comment:
[code]

The above works for me, provided I supply the correct credentials. I haven't tried specifically with eventgen, but I'm able to successfully install the app.

This was a bug, but it should be fixed with the newest image. The reason I posted the image ID was just to confirm you're running the correct image - I tend not

[2020-10-23 20:09] eddikay opened #429 "Clarify kernel support"
There is customer confusion about kernel support as listed in the support.md file. It currently states: Kernel version 4.0 or higher. What this means is any version 4.x kernel is supported. But some customers are inferring 5.x kernel support from "4.0 or higher" statement.
Can you change the support.md to "Kernel version 4.x" or something similar. And after 5.x kernel support is added, it can be u

[2020-10-24 21:26] nwang92 commented on #429
👍

We can update the docs to be more explicit in these semantics; I think we do point to [Splunk's system requirements](https://docs.splunk.com/Documentation/Splunk/8.1.0/Installation/Systemrequirements#Unix_operating_systems) somewhere, which at the moment says 5.x is not supported.

[2020-10-26 15:23] eddikay commented on #429
Indeed, there's no 5.x kernel support yet. On that linked page, you can see we use the structure of "Linux 4.x kernel versions," and I'm only looking for consistency. Thanks again!

[2020-10-26 21:26] irom77 commented on #424
Hm..I tried 'make splunk-py23-debian-10' again and it worked...'Successfully tagged splunk-py23-debian-10:latest'

[2020-10-26 21:26] #424 closed, assigned to nobody

[2020-10-27 16:17] #429 closed, assigned to nobody

[2020-11-05 19:02] mromansplunk opened #433 "Security Issue: CVE-2020-14352"
Security scan showed the latest image is vulnerable to CVE-2020-14352

CWE-22
![image003](https://user-images.githubusercontent.com/62660756/98284738-2f43d800-1f67-11eb-82da-8e328654ac42.png)

[2020-11-06 23:41] #433 closed, assigned to nobody

[2020-11-19 22:24] dp-42 commented on #428
Sorry, for the late reply!

Do you have any rough schedule when this planned?

Would you prefer to keep that issue open or should I close it?

[2020-11-21 04:55] ykou-splunk commented on #209
I ran into the same error message `Permission denied`, but the issue went away after I ran `docker-compose down` then run `docker-compose up --build` again.

I'm not a docker expert, can't explain why it wored.

[2020-11-24 00:43] alishamayor commented on #433
@mromansplunk This vulnerability has been resolved in the latest patch release 8.1.0.1. You can find the new images [on Docker Hub](https://hub.docker.com/r/splunk/splunk/tags?page=1&name=8.1.0.1&ordering=last_updated).

[2020-11-24 04:39] nwang92 commented on #428
Let's keep the issue open - I'm hoping to get something out before the end of the year.

[2020-12-04 14:30] bai opened #439 "No more debian images"
👋 It looks like starting with Splunk 8.1.0 debian images are [no longer available](https://hub.docker.com/r/splunk/splunk/tags?page=1&ordering=last_updated&name=8.1) on Docker Hub. I was wondering if it's intentional and debian is no longer supported?

/cc @rfaircloth-splunk @alishamayor

[2020-12-04 14:51] berlincount commented on #439
yeah, I'm having the same problem. have been waiting for a few weeks for the new release to pop up, to no avail. 🤷‍♂️

[2020-12-04 17:00] alishamayor commented on #439
Yes, as of 8.1.0 we are no longer releasing for Debian for security reasons. Please use the RHEL images from now on.

[2020-12-04 17:25] bai commented on #439
Thanks for clarifying 🙏

[2020-12-04 17:29] berlincount commented on #439
Wow.

tbh, I‘d have expected some kind of advance warning or anything - not everyone has RHEL experience, and some people are using Debian _because_ of security reasons and established workflows (if only to address `splunk-ansible` shortcomings).

I respectfully have to push back on this change and request prolonged support of Debian Docker images to allow for integration changes and integration t

[2020-12-04 17:33] berlincount commented on #439
(please reopen this issue until this has been addressed)

[2020-12-04 18:04] nwang92 commented on #439
Thanks for catching this - I thought there were external communication on this done through Splunk Docs but I'm having trouble finding it myself. In any case, this is something we should've announced or mentioned in our change logs or documentation. Apologies for this!

Let me route this to the PM and get some clarifying information on this.

[2020-12-04 18:45] pogdin commented on #439
We did communicate this change [here](https://www.splunk.com/en_us/blog/it/an-insider-s-guide-to-splunk-on-containers-and-kubernetes.html) but I can understand how that could have been missed given that it was not in the usual locations for Splunk platform deprecation in Splunk docs.

[2020-12-04 19:37] berlincount commented on #439
Okay - that indeed could be easily missed.

How long can the window to change be extended, and when can Docker images for the Splunk versions released during that window be expected?

[2020-12-04 20:09] alishamayor commented on #439
@berlincount I've just posted the Debian images for 8.1. You should see them [on Docker Hub](https://hub.docker.com/r/splunk/splunk/tags?page=1&ordering=last_updated&name=8.1) now.

We're planning to deprecate Debian images in the Spring of 2021 and will be sure to make it absolutely clear within our docker-splunk docs. Apologies again for the confusion, and thank you for being patient with us!

[2020-12-04 20:09] #439 closed, assigned to nobody

[2020-12-04 20:22] berlincount commented on #439
Thank you very much for the quick turnaround and for a reliable timeline! :)

[2020-12-04 20:27] alishamayor commented on #439
I definitely recommend reading [An Insider’s Guide to Splunk on Containers and Kubernetes](https://www.splunk.com/en_us/blog/it/an-insider-s-guide-to-splunk-on-containers-and-kubernetes.html) if you haven't yet (also linked by @pogdin above). It's a little old but does well to outline our decision-making.

[2021-01-04 05:37] alnhk opened #446 "splunk custom SPLUNK_DB path ?"
Hello -

We are migrating from old splunk 6.5(running on AWS dedicated ec2 instance) to latest Splunk 8.1.1 (running on AWS EKS kubernetes 1.15)., before we do that, is there any way to remove default path for "SPLUNK_DB", i want to make as "/mnt/splunk" with PVC mounted. Is there any instruction to do that ?

[2021-01-04 05:39] alnhk opened #447 "Avoid data loss incase of k8s pod restart ?"
Hello -
We are migrating from old splunk 6.5(running on AWS dedicated ec2 instance) to latest Splunk 8.1.1 (running on AWS EKS kubernetes 1.15)., we were able to spin up the splunk 8.1  on AWS EKS kubernetes, for my testing purpose, changed "Pause indexing if free disk space (in MB) falls below" from default 5000 to (say) 3000. The Splunk service is restarted from kubectl command, not from splunk

[2021-01-04 12:11] #446 closed, assigned to nobody

[2021-01-04 12:11] alnhk commented on #446
not necssary/

[2021-01-04 19:51] nwang92 commented on #447
You can refer to [these docs](https://github.com/splunk/docker-splunk/blob/develop/docs/STORAGE_OPTIONS.md) for storage persistence, but the TLDR of it is:
* Enable persistence over `/opt/splunk/etc` for configuration changes (like your free disk space setting)
* Enable persistence over `/opt/splunk/var` for indexed data

I'd also recommend using [SmartStore](https://docs.splunk.com/Documentation/

[2021-01-04 19:51] #447 closed, assigned to nobody

[2021-01-08 11:27] mbwhelan opened #449 "Fix CVE-2020-27783 on python lxml module"
https://nvd.nist.gov/vuln/detail/CVE-2020-27783

To resolve CVE in the /opt/splunk data that is copied into image needs lxml updated in /opt/splunk/lib/python3.7/site-packages and opt/splunk/lib/python2.7/site-packages.

[2021-01-08 15:27] circa10a commented on #414
@mkinsley Since docs were updated, good to close this one?

[2021-01-11 23:48] nwang92 commented on #449
This looks to be part of the Splunk product bits, I'll see if I can relay this issue into our product security team. Thanks!

[2021-01-12 01:14] #428 closed, assigned to nobody

[2021-01-25 17:22] nwang92 commented on #449
This will be addressed internally in a future Splunk/Docker image release.

[2021-01-25 17:22] #449 closed, assigned to nobody

[2021-01-25 17:27] nwang92 commented on #449
Since this is a product vulnerability as opposed to something in the Docker image itself, we have a Product Security reporting portal here: https://www.splunk.com/en_us/product-security/report.html

[2021-02-01 13:33] lukasz1992 commented on #187
I have the same problem
@yamila123 did you manage to make it work?

[2021-02-15 17:28] frambeise opened #456 "splunk-debian-9 fails to build (python3-apt v1.4.2 is not available anymore)"
install.sh fails for splunk-debian-9 because python3-apt v1.4.2 package is not available anymore (replaced by 1.4.3 due to a security vulnerability)

https://packages.debian.org/stretch/python3-apt

[2021-02-18 14:43] ehlo550 opened #458 "tzdata not correctly installed in rhel based images"
Hi,

While troubleshooting several problems related to timezone issues i found this old [issue ](https://github.com/splunk/docker-splunk/issues/301).

I just checked with the following images and the results are quite interesting:
[code]
To me it looks like the rhel based images don't have a correct installation for tzdata although it is specifically mentioned in the [install.sh](https://github.co

[2021-02-18 22:43] ehlo550 commented on #458
1. I am able to reproduce the issue for user selected timezone.
2. A simple `microdnf update` seems to do the trick
[code]

[2021-02-19 00:44] nwang92 commented on #458
As mentioned in that former issue, the TZ selection from the Splunk server (or container in this case) seems to get lost without the appropriate timezone packages on the host/container. I believe out of the box, the Splunk container will interpret everything as UTC time but that may also depend on how the underlying node is setup.

[2021-02-19 00:45] nwang92 commented on #458
I'll shoot a PR to apply the fix you found though!

[2021-02-19 01:15] #456 closed, assigned to nwang92

[2021-02-21 03:13] Treverr opened #461 "Timezone Settings Ignored"
I have recently moved over from a host install to docker and after doing so I have noticed that Splunk no longer honors my timezone set in preferences. I am on an enterprise license so I should be allowed to configure all of it, but it does not seem to actually do anything. I can set my timezone to literally any timezone and the time on the search result does not change.

Example:
<img width="343"

[2021-02-22 08:34] Treverr commented on #461
This is due to #460

[2021-02-22 08:34] #461 closed, assigned to nobody

[2021-02-22 21:01] #458 closed, assigned to nobody

[2021-02-23 15:01] mikurth commented on #209
Solved the problem on my end by creating the user splunk with id 41812 on ubuntu where i run docker on. I was not able to run splunk with a different user in docker other then root.
    environment:
      SPLUNK_USER: splunk

[2021-02-26 18:52] alnhk opened #463 "splunk ingress ?"
can you please include splunk ingress in kubernetes folder ? We were able to deploy the splunk to the kubernetes using "3idxc3shc1cm1lm1dep-pvc", however, splunk ingress seems to be hard to use , for instance, we had to always open this link as an example this below link works

When we log out, it redirects to

When we re-login, it stucks at  and never moves forward

So, we had to always open this

[2021-03-02 20:57] nwang92 commented on #463
Just a guess here, but this might be more of how the ingress controller is configured? If you're deploying multiple search heads in a search head cluster, you probably want to enable some form of sticky sessions so you're always directed to the same pod, if available. Otherwise, I imagine that's where you're seeing issues with re-logins getting stuck.

Alternatively, if you pin the ingress/service

[2021-03-02 20:57] nwang92 commented on #463
Those ingress settings/annotations would depend on which ingress controller you're using.

[2021-03-12 02:51] vinitmasaun opened #471 "SPLUNK_DEFAULTS_URL with Azure Devops Repo not working"
Hello,

I am unable to use an Azure Devops Repo url to retrieve the defaults.yml file when passing the url as a value for the SPLUNK_DEFAULTS_URL var. The container starts but the ansible play doesn't start to install and configure the splunk forwarder. I am using the latest splunkuniveralforwarder image.   If I provision it via the example nginx webserver pod http://splunk-defaults/ it works.  Fo

[2021-03-16 20:15] nwang92 commented on #471
I can add something to enable this. Out of curiosity, would this be an ephemeral token or a static auth token? And are you comfortable with having auth tokens exposed as env vars? I don't know too much about the Azure Devops, but just trying to see what can be done here while still preserving any access permissions.

[2021-03-16 20:32] vinitmasaun commented on #471
The Preference is for ephemeral but we can use a static token.  We can mask the tokens as secrets in our build process so the actual token wont be exposed.

[2021-03-24 21:06] dlaidlaw opened #476 "World writeable file"
The docker container contains a world writeable file:
[code]
This causes issues when certifying the container with CIS Security benchmarks. Any chance of getting the permissions on that file changed so that is it not world writeable?

[2021-03-30 18:55] MikeTomlin19 opened #477 "journalctl in base-redhat-8 uf image"
Can we have the option to include journalctl and it's dependencies in the universal forwarder image?  This would allow the journald scripts that come in the *nix app to work from within this container.

[2021-03-31 16:08] nwang92 commented on #476
I'll take a look, thanks for reporting this!

[2021-03-31 16:51] #463 closed, assigned to nobody

[2021-04-06 13:51] dilipbravo commented on #477
@matthewmodestino  can you assist here ..?

[2021-04-07 16:26] nwang92 commented on #476
This is actually coming from the 8.1.3 package itself - I've bubbled this up to our internal product security team to review, but it should be fixed in a future version.

[2021-04-07 16:26] #476 closed, assigned to nwang92

[2021-04-07 16:27] nwang92 commented on #471
Per the above PR, I added the `SPLUNK_DEFAULTS_HTTP_AUTH_HEADER` environment variable for this ask. This should be available in `splunk/splunk:edge` now.

[2021-04-07 16:27] #471 closed, assigned to nwang92

[2021-04-07 16:27] nwang92 commented on #477
Let me take a look!

[2021-04-07 16:28] nwang92 commented on #414
Closing due to staleness.

[2021-04-07 16:28] #414 closed

[2021-04-07 19:02] vinitmasaun commented on #471
Thank you!  so, is this env variable now available for the splunk/universalforwarder:latest image as well?

[2021-04-07 21:28] nwang92 commented on #471
It should also be available on `splunk/universalforwarder:edge`, but not `latest` yet.

[2021-04-07 21:45] vinitmasaun commented on #471
Just tried it by passing the following env variables in the container spec yml but the splunk uf container hangs at the start of the ansible play and eventually restarts with the same hung state:

- name: SPLUNK_START_ARGS
   value: --accept-license
- name: SPLUNK_DEFAULTS_HTTP_AUTH_HEADER
   value: my Personal Access Token value
- name: SPLUNK_DEFAULTS_URL
   value: 'https://dev.azure.com/org/rep

[2021-04-08 00:13] matthewmodestino commented on #477
hmm 🤔 what is the nix app input doing exactly? Also will the docker image even see the journal you are after? Are you trying to collect from the a docker/k8s node's journal??

Newer versions of Splunk have native journal inputs now, can this be used instead? I guess this may also require journalctl?

https://docs.splunk.com/Documentation/Splunk/8.1.3/Data/CollecteventsfromJournalD

Will let Nelson

[2021-04-08 04:30] nwang92 commented on #471
You may potentially need to specify the token type? The value of `SPLUNK_DEFAULTS_HTTP_AUTH_HEADER` gets set to the "Authorization" header of the request, which may mean you need to also add "Bearer" or "Basic" as needed.

For example, I'm using the following containers from this [basic-auth reference](https://hub.docker.com/r/beevelop/nginx-basic-auth/):
[code]

[2021-04-08 14:42] MikeTomlin19 commented on #477
@matthewmodestino I mixed up the nix app and the journald modular input - the latter is what we're trying to get working within this pod.

We'd like to get the underlying node's journald logs.  I was able to hack the journalctl command to work within a splunk uf pod by mounting the host's /var/log dir, its journalctl binary, all of its lib dependencies and adding the "--directory /var/log/journal"

[2021-04-08 17:10] nwang92 commented on #477
Looks like `journalctl` only comes from the entire [systemd package](https://centos.pkgs.org/8/centos-baseos-x86_64/systemd-239-41.el8_3.1.x86_64.rpm.html) and can't be installed by itself.

My only concern is the heaviness of including systemd in docker, without actually needing all that it provides. There's also some additional size it adds, which seems like a lot of just `journalctl`:
[code]

I

[2021-04-09 01:32] MikeTomlin19 commented on #477
Thank you @nwang92 ! Yes, I'd still need to mount /var/log/journal and point journalctl there. I understand the concern on the sizing and increased attack surface area. It's too bad journalctl isn't decoupled from systemd.

[2021-04-13 02:45] #477 closed, assigned to nwang92

[2021-05-02 12:23] BSonPosh opened #478 "Splunk Docker container not trapping SIGTERM or SIGINT"
Has anyone experience issues with the `trap teardown SIGINT SIGTERM` not actually being "trapped"
Using this
[code]
If I send `docker stop -t 60 so1` or `docker kill --signal=SIGTERM so1` the container dies instantly. I would expect the SIGTERM to trigger a `splunk stop` but that does not happen. This causes concern for data integrity.

[2021-05-04 23:26] alishamayor commented on #439
@berlincount Just a note that it's officially that time. The next release (8.2.0) will not include Debian images.

[2021-05-07 06:45] martin-g opened #479 "Make splunk/splunk a multi-arch Docker image"
I'd like to request https://hub.docker.com/r/splunk/splunk to be made a multi-arch image so that we could run it on Linux ARM64.
At the moment it is usable only on linux/amd64.

[2021-05-12 00:21] chadwagoner opened #481 "Add 'find' package"
Is there anyway to add **find** package to the install.sh scripts that kick off the base builds? The Cisco eStreamer addon uses find to clean up it's files that are on disk and breaks when running in container (doesn't clean and just fills disk).

I've implemented a cronjob but would be nice to have the native clean method working as I manage multiple instances of this.

[code]

[2021-05-12 17:03] nwang92 commented on #481
This should be [available](https://github.com/splunk/docker-splunk/blob/develop/base/redhat-8/install.sh#L74-L78) already?
[code]

[2021-05-12 17:04] nwang92 commented on #478
I'll double-check the behavior of this, but this should be caught here: https://github.com/splunk/docker-splunk/blob/develop/splunk/common-files/entrypoint.sh#L28-L33

[2021-05-12 17:11] BSonPosh commented on #478
@nwang92 I also expected the trap to work but it does not... I suspect its a problem with Docker but IMO this is a potentially data loss scenario. My research has led me to believe its because you use a shell script and docker isn't properly sending the SIGTERM to the script.

[2021-05-28 16:07] MKletz opened #486 "Easier use of add-on builder"
Hello, we make frequent use of the add-on builder with a local container for development. I think it would make a lot of lives easier if there was a docker image with the add-on builder pre-installed with parameters to accept a path to a project file to import. Not sure how possible this is.

[2021-06-05 00:45] nwang92 commented on #479
This request has been raised internally and we're looking into it! :)

[2021-06-05 00:45] nwang92 commented on #481
Closing due to inactivity

[2021-06-05 00:45] #481 closed, assigned to nobody

[2021-06-05 00:46] nwang92 commented on #486
Is this the add-on builder you're referring to? https://splunkbase.splunk.com/app/2962/

I'm not too familiar with this product myself, but could you briefly describe the workflow you're using with this + the docker image?

[2021-06-07 07:01] martin-g commented on #479
@nwang92 I am glad that there is an interest internally. I guess this will help doing it sooner!
But could we please keep the issue open so that we (the end users) know when it is implemented ?
Thank you!

[2021-06-07 16:18] nwang92 commented on #479
Good idea - I'll reopen this

[2021-06-08 20:36] mbwhelan opened #492 "Provide minimal container for Splunk HEC"
It is very common to deploy Splunk HEC in Kubernetes clusters.  It would be ideal to have a container image has just what is needed to run Splunk HEC server.
* reduce image size
* reduce CVE

Providing a Helm chart a good idea also.

[2021-06-09 15:32] MKletz commented on #486
@nwang92 yes that is what I'm reffering too, we currently use this to build custom TAs for our Splunk environment but do our development within a local container. The current process below requires several manual steps and developers to have a Splunkbase account to use. Ideally there is a development focused fork of the container or just some options that can pre-install the dev environment and im

[2021-06-11 05:21] wAuner opened #493 "Feature Request: Add Support for arm/Apple Silicon"
I use Splunk docker a lot during development, a native container/build would be really helpful.

[2021-07-07 17:08] josephnoctum opened #499 "Splunk Upgrade Failing / Constant Container "Restarting""
I have an old Splunk image running 7.2.5 as a heavy forwarder I'm trying to upgrade to the latest image. The Docker is using swarm for the orchestrator. After starting the new image it never stays running but is constantly in a cycle of restarting. Looking at the tail of the logs I see

[code]

This looks similar to another issue I found here where the problem was with mounting the existing volume

[2021-07-07 20:41] josephnoctum commented on #499
Found a workaround in one of the earlier tickets
https://github.com/splunk/docker-splunk/issues/209
Tested with the Chmod change on splunk/etc/auth and splunk/etc/auth/splunk.secret and that worked so seems there still is a hickup with the user changing when updating a container.

[2021-07-07 22:19] josephnoctum commented on #499
This has actually led to a lot of problems.
So beforehand the owner was polkitd and the group was input for all the objects in the var and etc volumes. Now with the new container, the owner is glee and the group is 41812. The new container is running but over half of the inputs and configuration pages I go to inside the web interface are just showing a "loading" screen with a spinning wheel. So we

[2021-08-03 01:06] ogomozov-godaddy commented on #492
I second that. This is the biggest image we have, over 1Gbi, pulling it into new location takes a few hours

[2021-08-17 09:50] d3vzer0 commented on #486
@MKletz FYI the SPLUNK_APPS_URL accepts any URL to download/install any app when starting the container and not only limited to Splunkbase. As example, you can host the add-on builder on S3 and simply add the HTTP location to the environment. I do the same with pre-installing the BotsV3 dataset by specifying SPLUNK_APPS_URL=https://botsdataset.s3.amazonaws.com/botsv3/botsv3_data_set.tgz.

AddonBui

[2021-08-17 22:07] blakecschmidt opened #503 "Splunk kubernetes (EKS) cluster getting constant "Your session has expired. Log in to return to the system." error"
This issue I am seeing is identical to [this issue](https://github.com/splunk/docker-splunk/issues/68) that was posted a while ago by someone else but I don't believe the reason behind their problem applies to my situation so I am asking again.

What I am doing is I am creating a Kubernetes (EKS) cluster in AWS to run Splunk on and just to get a barebones example of it running I have been followin

[2021-09-05 03:22] benisai opened #507 "delete"
<response>
<messages>
<msg type="ERROR">Error connecting: Connection refused</msg>
</messages>
</response>

[2021-09-05 03:25] #507 closed, assigned to nobody

[2021-09-09 14:03] ryanfaircloth opened #508 "Please rename default branch from master to main"
For compliance with bias language policy

[2021-09-21 14:31] jnichols3 commented on #493
once https://github.com/splunk/docker-splunk/pull/509 is complete you should be able to create an ARM compatible build for the universal forwarder to use locally.  I have a PR in my forked repo that updates the Makefile so you can build it locally too without using the Github action or using the docker hub images if that is helpful- https://github.com/jnichols3/docker-splunk/pull/5

splunk enterpr

[2021-09-21 14:40] jnichols3 commented on #499
For this I think you'll need to shell into the container and set the file permissions for everything related to splunk.  once shelled in, check the user that the splunk process has and make sure the owner is set for all files, i.e. `chown -R splunk:splunk /opt/splunk`.   Most Kubernetes admins running splunk will have an init container that just does this every time, persistent volumes and user pe

[2021-09-21 14:53] jnichols3 commented on #503
As far as I know, Splunk web still cannot run behind an AWS ELB without significant side car work (like a reverse proxy).  This is the case in EC2 and the same problems manifest themselves in EKS.   There are various posts in splunk answers on this:
https://community.splunk.com/t5/Security/How-to-configure-Splunk-Enterprise-in-front-of-AWS-ELB-instance/m-p/502748

You can use an nginix container a

[2021-09-24 14:45] ryanfaircloth opened #513 "Image with OpenJDK11"
As a developer I would like to test certain integrations with Splunk DB Connect which requires JDK 11. I would benefit from a non default image with OpenJDK11 pre-installed for example by adding -openjdk to the end of the version tags with that installed

[2021-09-24 20:22] DeviantEng opened #514 "Install apt package in UF container?"
Hi all, apologies as this is not a standard issue.  Long story short I have a UF container running in an environment and need to install the `snmp` package so I can run a script that that does a snmpwalk for an input.

Is there an easy way to ensure the snmp package gets installed in this container, without creating a new image?  I was hoping to rig up something using the SPLUNK_CMD ENV, but wante

[2021-09-27 19:24] alishamayor commented on #508
Thanks for bringing this up. This is in my backlog, but I'll work on making it happen ASAP. We have several automated scripts internally that will need to be updated to point to main, and I need to track those down.

[2021-09-28 10:59] dmanojbaba opened #515 "Please Support SPLUNK_HASHED_PASSWORD"
This is related to Issue #318

At the moment, SPLUNK_PASSWORD is expected in ENV or default.yml or a password file is expected.

Our Security Team is not happy with clear text password in docker-compose.yml or default.yml or /tmp/splunk-password

Please add support to SPLUNK_HASHED_PASSWORD in ENV or hashed_password in default.yml

[2021-09-29 12:40] odidev opened #516 "Require Linux/ARM64 docker image for  splunk/universalforwarder"
Hi Team,    

I have been working on building splunk/universalforwarder image for both amd64 and arm64 platforms and I have successfully built all the images for both the platform.

Although, the release process is still not clear. Can you please share the process of how you are releasing the images on your [dockerhub account](https://hub.docker.com/r/splunk/universalforwarder/tags?page=1&ordering

[2021-09-30 10:28] dmanojbaba commented on #513
@rfaircloth-splunk please pardon my ignorance. Are you unable to achieve the same using Environment Variable `JAVA_VERSION=openjdk:11`

Ref: https://splunk.github.io/splunk-ansible/ADVANCED.html#supported-environment-variables

[2021-10-04 19:00] jkoby opened #517 "Update Supported Platforms section on Architecture document"
Currently, the available architecture documentation at https://splunk.github.io/docker-splunk/ARCHITECTURE.html includes the following:

Given that only RHEL-based images are being pushed to Docker Hub, this should be updated.

[2021-10-05 09:17] vzabawski opened #518 "Ansible 3.4.0 pip package contains CVE-2021-3583"
Ansible used in Splunk Docker container contains vulnerability. Is it possible to switch to a newer version in order to remediate it?

https://github.com/splunk/docker-splunk/blob/develop/base/redhat-8/install.sh#L61

Link to vulnerability details: https://github.com/advisories/GHSA-2pfh-q76x-gwvm

[2021-10-15 17:34] alishamayor commented on #516
Hi @odidev -- currently we're only releasing RHEL-based x86_64 and s390x as the official image architectures that get published on Docker Hub from the Splunk account. We push images to Docker Hub on each official Splunk Enterprise/Universal Forwarder release.

We definitely welcome a PR if you'd like modify the scripts in this repository, but we don't have an estimated delivery date for official A

[2021-10-15 17:36] alishamayor commented on #517
Thanks for pointing this out! Will update the documentation.

[2021-10-21 10:50] marcusschiesser commented on #493
+1 Apple Silicon support would be great. Currently I can't run splunk via docker on my MacBook. Even if I add the `--platform=linux/arm64` parameter. The container starts but `splunkd` crashes with a coredump.

[2021-11-16 12:13] druesendieb opened #522 "Introduce container awareness"
Currently, Splunk is not aware of the cgroup it's running in and the assigned resources. This results in several problems:

* Resource utilization in Monitoring Console shows not the containers cgroups resources but the node's resources.
* If the cgroups set resource allocation is exceeded, searches will be ungracefully killed by the oom killer of the host OS. This can happen as Splunk thinks it h

[2021-11-18 02:08] mattcosa opened #523 "The error was: 'dict object' has no attribute 'path' during startup"
When using the `SPLUNK_APPS_URL=` environment param, the startup stops with:

[code]

The `docker-compose.yml` has the following excerpt:

[code]

Is there anything incorrect with the definition of the path/app locations specified here?

[2021-12-02 13:03] ryanfaircloth commented on #513
Yes however is potentially flaky and adds to startup time a constain correctly starting should not change itself really it should not be root to be able to do so

[2021-12-07 20:52] deanevans commented on #523
I was having this same issue, I had forgotten to mount the volume that the app files where stored.

A subset of my docker-compose file looks like this
[code]

[2021-12-08 07:45] tkorrapati1 opened #524 "Unable to add splunk universal forwarder as a sidecar"
Getting below error when I'm trying to set up a splunk side car container.

**ERROR OBSERVED**
[code]

How I'm adding universal forwarder to my deployment in K8s

[code]

There aren't many examples of how to use docker universalforwarder out there, any help or reference to how to containerized version of UF is appreciated.

[2021-12-09 09:57] druesendieb commented on #522
Theres a Splunk idea which would help tremendously with solving the outcome of this problem: [Ability to manually set CPU and RAM limits](https://ideas.splunk.com/ideas/EID-I-1285)

[2021-12-14 12:14] shuaijinchao opened #526 "request help: how to enable indexer acknowledgment via environment variables"
I searched the documentation and splunk docker related code, but did not find the relevant configuration. how to enable indexer acknowledgment via environment variables? many thx~

[2021-12-22 11:46] pmcl77 opened #530 "universalforwarder keeps shutting down"
Hi

I setup two containers (standalone and universalforwarder) with docker-compose as described in [https://splunk.github.io/docker-splunk/EXAMPLES.html#create-standalone-and-universal-forwarder](https://splunk.github.io/docker-splunk/EXAMPLES.html#create-standalone-and-universal-forwarder)

Splunk standalone runs fine. Universal forwarder however shuts down after a full playbook run. Is it normal

[2022-01-11 09:31] marcusschiesser opened #533 "Run ansible configuration during docker build process"
Currently, ansible configuration is run in the Docker run phase. This has a couple of disadvantages:

1. Startup time, see https://github.com/splunk/docker-splunk/issues/10
2. Existing `etc` files need to be converted to YAML files, see [Create Custom Configs](https://github.com/splunk/docker-splunk/blob/develop/docs/ADVANCED.md#create-custom-configs)
3. Uncommon for Docker - build phase is usuall

[2022-01-21 15:56] jvanderaa commented on #493
+1 on the support

[2022-01-21 15:59] susanhooks commented on #493
I'm having the same issue, would love resolution.

[2022-01-30 11:18] jonathan-s commented on #493
I would appreciate this as well.

[2022-01-30 11:20] jonathan-s commented on #516
@odidev Is it possible to access these images, would be great to be able to use this until there is an official version.

[2022-01-31 00:19] rskntroot opened #534 "Splunk Search Heads fail to start in Docker Swarm"
## Issue Description:

So I have been experimenting with docker swarm and run into an issue where splunk containers with role: search_head or search_head captain fail to start in a docker swarm environment.

#### Project Codebase:
https://github.com/rskntroot/splunk

NOTE: I understand that splunk in docker swarm is unsupported for a reason.

NOTE: I have managed to get a 3x [search_head] 1x [depl

[2022-02-01 05:37] rskntroot commented on #534
Closing issue as it is not related to splunk's docker image configuration.
Opened issue in splunk-ansible here: https://github.com/splunk/splunk-ansible/issues/672

[2022-02-01 12:10] odidev commented on #516
@jonathan-s

I have built Docker images for Debian 10 for Linux/arm64 platforms that were available in the [docker-splunk repository](https://github.com/splunk/docker-splunk). You can access them with the link below.

**Docker Images link:** https://hub.docker.com/repository/docker/odidev/docker-splunk/tags?page=1&ordering=last_updated

[2022-02-03 19:31] rskntroot commented on #534
Reopening as splunk-ansible commands do not impact the status of the container.  The docker service does not publish the container in DNS until the container is "healthy".

After taking a look at the entrypoint.sh a little further, it seems at the issue can be resolved in this file.  I was able to resolve the issue with docker DNS by setting the container status to started upon the completion of p

[2022-02-07 07:34] T0T4R4 opened #535 "Enable Web SSL: Internal Ansible error on 8.2.4"
Hi guys,

I am trying to refresh my spluk container with latest 8.2.4 and ansible throws errors related to setting up SSL which I can't understand... Would someone have a clue about what I should do to fix this ?

[code]

[2022-02-07 07:47] T0T4R4 commented on #535
I just noticed that in my docker-compose I have defined bindings for the user-prefs and web configuration files, which may disturb ansible...

[code]

[2022-02-08 14:29] codebee25 commented on #493
Hi, is there any solution for this? I am new to splunk integration with docker.
I am not able to run docker pull splunk/splunk on my mac terminal as it throws an error,

% docker pull splunk/splunk:latest latest: Pulling from splunk/splunk no matching manifest for linux/arm64/v8 in the manifest list entries

Is this a compatible issue? Please advise. TIA.
I am using a MAC with Apple M1 pro chip.

[2022-03-01 14:17] TobiTenno opened #536 "Release Image for 8.2.5"
In order to support ops goals for log4j remediation, we're hoping an image for 8.2.5 will be released soon, given that the release has been out for about 2 weeks.

Any timeline I could give my teams that are trying to get this patched would be fantastic.

[2022-03-03 14:22] flyattimes opened #537 "universalforwarder container fails to start when using k8s securityContext"
I really hope I didn't miss anything obvious (I might have..), here is the problem.

### Description
When using the securityContext as described [here](https://github.com/splunk/docker-splunk/blob/develop/docs/SECURITY.md), the container for the universalforwarder will fail to start due to insufficient permissions. I am using universalforwarder version 8.1.

An example error message looks like thi

[2022-03-03 21:23] diogofgm commented on #493
regarding the dockers images I submitted an idea last year that is still under the threshold. https://ideas.splunk.com/ideas/EID-I-1054

[2022-03-08 01:45] jvanderaa commented on #493
What do you mean by an idea? I click on the link and it is behind a log in wall.

[2022-03-08 15:47] diogofgm commented on #493
Splunk has a website dedicated to gather community ideas that could be implemented in the core product. You need to login using a Splunk account that you can register for free to access this and other resources from splunk (answers, download splunk trials, etc.)

Every account has 50 points that can be used to vote on ideas posted there (up to 10 points per idea) that with enough vote can end up b

[2022-03-13 23:42] IanMoroney opened #540 "Migrate to WiredTiger"
Upon spinning up the latest version of docker-splunk, you are greeted by this message:
![image](https://user-images.githubusercontent.com/10791260/158084402-f7cfef3a-71e1-4503-890d-18b3cd212825.png)

Should there be a new default set for the KV store instead of MMAP now?

[2022-03-16 10:51] BGrasnick commented on #522
Any progress on this? It is a huge issue for our deployment (oomkill for big searches) and should be fixed asap

[2022-03-16 11:15] druesendieb commented on #522
Neither this nor any of the linked Issues got public attention since posting this I am afraid :(

[2022-03-21 17:54] #536 closed, assigned to nobody

[2022-03-25 22:11] MattUebel commented on #493
👋 just ran into this. apple silicon support for the splunk container would be awesome!

[2022-03-30 13:40] Bulat-Gumerov opened #542 "CentOS 9 Stream base image?"
Hey guys, can you add CentOS 9 Stream base image please?
You already have CentOS 8 version, I don't think it will be too hard to add support for CentOS 9 Stream
Thx

[2022-04-01 02:02] asoliman opened #543 "error when running the docker exec command to run the project"
[root@ip-172-31-94-48 splunk-ansible]# docker exec -it splcontainer bash -c 'cd /tmp/splunk-ansible; sudo ansible-playbook --inventory localhost, --connection local site.yml --extra-vars "@default.yml"'
[DEPRECATION WARNING]: ALLOW_WORLD_READABLE_TMPFILES option, moved to a per plugin approach that is more flexible, use mostly the same config will work, but now controlled from the
plugin itself an

[2022-04-01 02:04] #543 closed, assigned to nobody

[2022-04-18 07:59] masonlu2014 opened #544 "remove sudo access in splunk image"
hi team,

may i know can i change become from true to false in splunk docker image ??
this beacuse our k8s platform not allow root user running in the container, so  it can't running as uid 0 or sudo here

[privilege_escalation]
become = true #change to false
become_method = sudo # remove this
become_flags = -H -S -n -i # remove this

[2022-04-18 08:00] masonlu2014 commented on #544
here is error what i have met when "become=true"

TASK [Gathering Facts] *********************************************************
fatal: [localhost]: FAILED! => {
    "ansible_facts": {},
    "changed": false,
    "failed_modules": {
        "ansible.legacy.setup": {
            "ansible_facts": {
                "discovered_interpreter_python": "/usr/bin/python"
            },
            "depre

[2022-04-28 09:34] lluked opened #545 "Traefik Proxy issues"
Hi All,

I have setup Splunk behind Traefik with docker-compose and I'm noticing some issues with TLS when the host port of instance is changed to a port other than 443 and a root_endpoint is being used. If these conditions are met Splunk returns "404 page not found".

## Example 1 - Splunk-Traefik-without-Root-Endpoint

https://gist.github.com/lluked/771a1f7f9bbd8ef2581e8828f3b25f9e

When the pro

[2022-04-28 21:21] Richard-Walton commented on #516
@odidev Fantastic work, thank you.   @alishamayor It would amazing if arm64 builds were made "official".

[2022-04-29 17:03] thehappydinoa commented on #493
I am also running into this, the image crashes even with `linux/amd64` virtualization.

[2022-05-01 14:17] jonathan-s commented on #516
@odidev, Hi I tried running the image `odidev/docker-splunk:splunk-debian-10`. The container starts and it looks like the splunk is starting fine. When go inside the container and check status `splunk status`

It says that splunkd is running with one PID. And that splunk helpers are runinng with one PID. However when I try:  `curl -I http://localhost:8000` inside the container I get a connection r

[2022-05-01 14:36] jonathan-s commented on #516
The image is perhaps only the universal forwarder and not the splunk enterprise app...

[2022-05-12 17:36] pogdin commented on #522
CSPL-1481

[2022-05-16 07:13] jonathan-s commented on #493
@alishamayor Do you know when / if this going to be prioritized anytime soon?

[2022-05-16 08:48] friendlypenguin commented on #303
I had this issue (not related to splunk!) while using a RHEL8.6 Server that wasn't registered and had no subscription attached to it. It seems, that the entitlement certificates get mounted into the container, and when they are not present, some repos/content cannot be accessed.
Error msg was:
[code]

[2022-05-23 17:19] daaain opened #548 "Can't force overwrite when using splunk.conf defined files in default.yml"
I'm trying to get a heavy forwarder going with a Postgres connection, pre-configured to send data to a Spunk Cloud instance.

Eventually I need this to run in Kubernetes, but for now just trying to get it all going with a local `postgres` container in `postgres` network.

I got things up and running, but couldn't find a way to force overwrite of an existing conf file which gets installed as part o

[2022-05-24 11:21] daaain commented on #513
I'm thinking about this but considering the wider question of what would be the best way to let the Ansible setup script run in CI to produce a pre-baked image which can have a quick startup time in production (in Kubernetes in our case).

So far the best (untested) workaround I came up with is:
1. Run the Docker image with the right config files and env vars in CI with secrets from a KMS
2. Watch

[2022-05-25 07:56] Robofolk opened #549 "Build error on Mac with Apple M1 Processor"
I got this error when I tried to build the repo on my Mac which has an Apple M1 Processor (arm64):

[code]
To be honest, all I need is the minimal code needed to create an arm64 base image for Splunk. Can you fork a branch for me that contains only the files for that?

<img width="592" alt="image" src="https://user-images.githubusercontent.com/14302406/170211413-63213b5c-31e6-4bf9-b7df-2200958dc93

[2022-05-27 18:20] sedkis commented on #493
👍  - required here as well

[2022-05-27 18:24] thehappydinoa commented on #493
I have actually found that Rosetta 2 will allow Splunk to run on a local install on M1, but the docker image is still broken.

[2022-06-02 16:02] alexanderankin commented on #492
it would be nice if there was some indication of whether such a patch would land.

additionally, its not clear what the basic requirements are for such an image - is it just the compiled go binary from this repo? https://github.com/splunk/splunk-cloud-sdk-go/releases/tag/v1.11.1

[2022-06-02 16:34] alexanderankin commented on #492
https://download.splunk.com/products/splunk/releases/8.2.5/linux/splunk-8.2.5-77015bc7a462-Linux-x86_64.tgz - this thing actually weighs 592mb

https://download.splunk.com/products/universalforwarder/releases/8.2.5/linux/splunkforwarder-8.2.5-77015bc7a462-Linux-x86_64.tgz - this one only weighs 35 mb.

[2022-06-04 11:43] alexanderankin commented on #492
actually you can get even the full image in half the size of the one published by this repo:

[code]

where the "exclude-files.txt" is these lines:

https://github.com/splunk/docker-splunk/blob/a47a11fbc13a235c727bf3552060f4f81bfeb2fc/splunk/common-files/make-minimal-exclude.py#L5-L31

by my count, thie approach nets you an image with this many bytes: `294543508` (294 mb). A similar technique coul

[2022-06-14 08:24] mcauto commented on #535
how to enable ssl?

[2022-06-20 14:43] tando-nxiweni commented on #493
Hi fam, also currently running into the same issue currently using Pro M1 silicon... Is there some resolution around this issue? `ERROR: no matching manifest for linux/arm64/v8 in the manifest list entries
`

[2022-06-23 14:16] nhasanit commented on #493
Hi Splunk Team, please fix this. I am also needing to run the splunk docker container on an m1 macbook. Tried many forms of forcing the virtualization but it does not work. Please create an arm based container or add support for virtualization

[2022-07-04 06:21] guentoan opened #553 "Splunk fails to start without content message"
Hi team,
I'm using Splunk Enterprise with 1year license(my license will expire on Jul 14th). This morning, I have restarted server, and then start docker by command `docker-compose up -d`, Unfortunately, bellow error is coming without content message.

[code]

docker-compose.yml
[code]

[2022-07-04 08:55] henricook opened #554 "pass4symkey management in splunk-docker"
Hi all,

I'm struggling to find out how to get the current `pass4SymKey` (decrypted) on my dockerised splunk instance, and in general how to manage it (can I change it with a line in `defaults.yaml` for example?). Can anyone point me in the right direction?

I tried getting it on a container with:
`$SPLUNK_HOME/bin/splunk show-decrypted --value '<pass4symkey>'`

But just got:

[code]

[2022-07-14 15:04] ensary commented on #493
Hello, any update or timeline for this one?

[2022-07-14 15:15] dkolbly commented on #493
I recently switched to M1 Mac and the lack of ARM support is problematic :grimacing:

[2022-07-21 16:35] katepallikr commented on #493
Any updates or work around ?

[2022-08-04 07:10] vncloudsco commented on #493
+1 on the support

[2022-08-04 21:53] neil-wwt commented on #548
I think there are some issues with `default.yml` in this case

`key` should be the name of the conf file. So `key: app` to modify `app.conf`

`directory` should be the directory where the file will be found/created. So just the `.../local/` path in this case.

That should cause the container start up process to merge/overwrite whatever you specify in `content:` with whatever is already there due t

[2022-08-08 20:34] erichiggins commented on #553
I'm having this same issue with a new installation of Splunk Docker. My `docker-compose.yml` is even more minimal, but the error is the same. The `DEBUG=true` flag doesn't provide more information.

[2022-08-19 12:05] JanQvick commented on #493
+1 on support, thank you!

[2022-08-22 10:52] oezganTJ opened #555 "SPLUNK_DEPLOYMENT_SERVER Environment variable is not used/considered"
Splunk Version: Latest (9.0.0)
As mentioned here: https://splunk.github.io/docker-splunk/EXAMPLES.html
the SPLUNK_DEPLOYMENT_SERVER variable is not used or considered in the startup
Event the entrypoint.sh is not listing this.
after pulling splunk latest we create and run as follows:

` docker run --name splunk-uf -h $HOSTNAME -e "SPLUNK_PASSWORD=MySecurePassword" -e "SPLUNK_START_ARGS=--accept-li

[2022-08-25 19:20] san-nat commented on #493
+1 on m1 support. thank you

[2022-08-25 22:46] ab101421 commented on #493
Please...need this! Thank you!

[2022-08-29 11:18] hanswurscht opened #556 "Publish 9.0.1 image to dockerhub"
Hi,

Splunk 9.0.1 was released at  August 16, 2022 according to https://docs.splunk.com/Documentation/Splunk/9.0.1/ReleaseNotes/Fixedissues

It contains important security fixes (https://www.splunk.com/en_us/product-security.html)

Dockerhub only has 9.0.0 right now: https://hub.docker.com/r/splunk/splunk/tags

Please publish 9.0.1 as soon as possible.
Thanks!

- Lorenz

[2022-09-02 09:31] hanswurscht commented on #556
9.0.1 is now available on dockerhub.
Thanks!

[2022-09-02 09:31] #556 closed, assigned to nobody

[2022-09-08 00:43] zchef2k commented on #553
Just passing by when trying to solve my own problem....

@guentoan - had you by chance deleted the admin account? I had and was greeted with this same ansible playbook error on pod restart. I scaled the replicas back to zero, went into the host path (a kubernetes nfs PV, in my case) that I mount at /opt/splunk/etc in the container, and changed the username of another admin account back admin. I ch

[2022-09-27 00:20] josephnoctum commented on #499
At this point, I don't even see the reason to use the docker container. It's supposed to make administration more manageable, but every time I've tried to update to the latest version of the container I get the same problem, constant restart. We have a UID of 41812 so can I directly change this in the image, no of course not it's docker. So I write a yaml file and compose up, Doesn't help. I try s

[2022-09-27 11:45] mag-mkorn opened #557 "UF Containers broken for all 9.x Images"
Hi folks,

apparently all the UF Images for Version 9.x seem to be broken.

The ansible playbooks always get stuck at task [Get Splunk status](https://github.com/splunk/splunk-ansible/blob/develop/roles/splunk_common/tasks/get_splunk_status.yml).

I tried to troubleshoot the problem, but wasn't able to find the problem, yet. Here are my findings so far:

- The Warning "Attempting to revert the SPL

[2022-09-30 16:45] chadgeary opened #558 "9.x - WiredTiger wrong mongodb after migration - failure after first restart."
9.x - WiredTiger wrong mongodb after migration causes the kvstore on a persistent volume to fail after the first restart.

As mentioned in https://github.com/splunk/splunk-operator/issues/909:

Migration logic is setting:
`$SPLUNK_HOME/var/run/splunk/kvstore_upgrade/versionFile36`

but should be:
`$SPLUNK_HOME/var/run/splunk/kvstore_upgrade/versionFile42`

[2022-10-14 16:13] sdawodu commented on #493
+1

[2022-10-21 20:39] JoeJennings commented on #493
+1 on m1 support

[2022-10-31 22:26] HerbBoy opened #559 "Critical Vulnerability: CVE-2022-1292 & CVE-2022-2068"
Hi,

Currently the containers are vulnerable to two CVE's: CVE-2022-1292 & CVE-2022-2068

Is there a plan to address these?

[2022-10-31 23:58] alishamayor commented on #559
Hi! We push security patches with every latest release, so these will be remediated shortly when 9.0.2 is published. I can update you here when that happens.

[2022-11-01 15:56] HerbBoy commented on #559
Thank you for the swift reply.

[2022-11-03 15:07] GiladGuralnikk commented on #493
+1 on m1 support
thanks

[2022-11-08 11:47] alishamayor commented on #559
@HerbBoy The latest images are now available and the CVEs mentioned have been remediated.

[2022-11-08 11:47] #559 closed, assigned to nobody

[2022-11-21 16:34] safder-raza commented on #493
+1

[2022-11-24 10:38] Drilmo commented on #493
+1 😊

[2022-11-29 07:58] reg0bs opened #561 "Using checkstate.sh as liveness probe leads to failing HEC connections"
We are using docker-splunk in k8s and therefore use `checkstate.sh` as liveness probe. The problem is that `checkstate.sh` executes the following to check if Splunk is still running: `curl --max-time 30 --fail --insecure $scheme://localhost:8089/`

So it checks if splunkd is still running on port 8089, but this is probably the thing that is available until the very last second if Splunk shutting d

[2022-11-29 14:52] Jkitche commented on #493
+1 to this. My team has to direct work based on who has an Intel or M1 Mac. Would really like to enable everyone to work on integrations with Splunk locally.