[2016-01-09 10:02] marcellodesales opened #1 "Using configuration"
Hi there,

I'm new to Splunk and the OPS team gave me the following files under the `/opt/splunkforwarder/etc/system/local/`:

[code]

According to http://blogs.splunk.com/2015/08/24/collecting-docker-logs-and-stats-with-splunk/, I'd like to configure a single SplunkForwarder container to collect `syslog` for all the containers... I'd like also to disclose:

* The `company` below is a BIG Splunk c

[2016-01-11 15:47] halr9000 commented on #1
Looks like the config you received from Ops does not do what you thought it would do. See this snippet from your inputs.conf:
[code]
That stanza instructs a Splunk forwarder to tail a file on disk, not listen on a TCP/UDP port. As documented [here](http://docs.splunk.com/Documentation/Splunk/latest/Data/Monitornetworkports), to listen on a UDP port, you'll need to do this:
[code]
I suggest going b

[2016-01-11 15:49] halr9000 commented on #1
Note that our best practice is to not use Splunk as a syslog server, even though it works fine. For production, we suggest setting up a syslog server (could be in a container...), and have a Splunk Forwarder ingest the syslog files on disk, so going back to using a line like the `monitor://...` stuff. [This excellent blog post](http://www.georgestarcher.com/splunk-success-with-syslog/) lays out th

[2016-01-11 15:53] outcoldman commented on #1
@marcellodesales at least one issue I see, please take a look on `README.md`

I understand that you are running your docker daemon with root, but in the container I start splunk with splunk user. if you really want to use port 514 inside of the container - you should start splunk as root as well, for that you can specify environment variables `SPLUNK_USER=root`, `SPLUNK_GROUP=root`.

Also you have

[2016-01-11 20:27] marcellodesales commented on #1
@halr9000 and @outcoldman, thank you so much for all the response here! I will go through today and I will place comments about our findings...

This one of the reasons why it might not have worked... So, let me try that...

[code]

I will be using the following on my `ops-services-docker-compose.yml`

[code]

Is that all I need?

I will monitor the splunk logs inside the container... I see that t

[2016-01-12 01:44] marcellodesales commented on #1
Hi @halr9000  @outcoldman

Good news! The setup worked!!!

<img width="1422" alt="screen shot 2016-01-11 at 5 11 54 pm" src="https://cloud.githubusercontent.com/assets/131457/12252288/bfb442f6-b88a-11e5-8892-4b352583440f.png">

My question now is more related to the events... There's a mix of `txt` and `json` output... Is there a way to identify and differenciate among the events in syslog?

Thank

[2016-01-12 02:13] outcoldman commented on #1
Nice! Should we close this issue now?

[2016-01-12 02:35] marcellodesales commented on #1
@outcoldman Actually I have to take it back... There was a `splunkforwarder` instance running on the host... :'( Here's what I have in the containers so far...

Docker-compose
-------

Mounts the dir `/var/log` containing the `/var/log/messages` file. This HOST is writing the docker container logs to `/var/log/messages`...  This is volume-mounted in the docker container `splunkforwarder`.

[code]

[2016-01-12 02:44] outcoldman commented on #1
@marcellodesales looks good for me. I see that you are monitoring /var/log/messages, also see that you could connect to the indexers. Try to less on var/log/messages and see that when you get new messages here you will get them in splunk as well.

I do not thing that it is good idea to mount /var/log into container in the same path, who knows what container can expect from this path (I do not run

[2016-01-12 03:33] marcellodesales commented on #1
@outcoldman I changed the settings to the following...

[code]

That only loads the /var/log/messages... However, I still don't see anything in Splunk... The files under `/opt/splunk/etc/system/local` are loaded, correct? Because we see the dir being watched...

From inside the container, I see the logs coming to the /var/log/messages if I tail it... However, nothing is showing up in Splunk, altho

[2016-01-12 03:49] marcellodesales commented on #1
The docker-compose logs show that the container tries to create the certs and initializes...

[code]

Then, I can see a few errors in the container

[code]

Maybe this is the reason the container cannot forward the logs?

[2016-01-12 03:55] outcoldman commented on #1
@marcellodesales sorry, I don't see anything unusual.

Just few recommendations:
1. Try the same setup without docker.
2. Check logs on indexers, if there are anything suspicious
3. Are you sure that blacklist works?
4. Are you sure that index exists?

[2016-01-12 04:07] marcellodesales commented on #1
@outcoldman

1. The host setup works, that's how I got the screenshot above...
2. Where can I find the logs on indexes?
3. As per 1, it works (from the host setup)
4. As per 1, it works (from the host setup)

The only delta I found was the `SSL` errors shown on the container... Here's the logs from the HOST without ANY ERROR...

[code]

[2016-01-12 04:43] marcellodesales commented on #1
* `HOST`: Works with the same configuration shared before...

<img width="1417" alt="screen shot 2016-01-11 at 8 32 04 pm" src="https://cloud.githubusercontent.com/assets/131457/12254966/9e1c43aa-b8a3-11e5-9d65-623d9aa3fc3b.png">

* `CONTAINER`: DOES NOT WORK so far...

Is there any Debug statement I can turn on in the container?

[2016-01-12 06:36] marcellodesales commented on #1
Hi @outcoldman

I got a Docker image based on CENTOS that works like the following:

We have a cached version of the rpm stored at `http://sds-repo-int.qdc.company.com:8081/nexus/content/repositories/CTO.OPS-releases/com/intuit/CTO/OPS-releases/splunkforwarder/6.2.4/splunkforwarder-6.2.4-271043-lin
ux-2.6-x86_64.rpm`

Dockerfile
--------

[code]

entrypoint.sh
------

* Only for the forwarder runn

[2016-01-12 07:52] marcellodesales commented on #1
Another false alarm... It is NOT working... Is there anything in the Docker level that I need to verify?

[code]

Potential problems
----

Both docker images present this same problem: https://answers.splunk.com/answers/39497/unable-to-access-the-webui-and-im-getting-this-error-in-my-splunkd-log-anyone-know-how-to-fix-this.html

I'm not sure if this is caused by Docker images or if we need to shar

[2016-01-12 14:58] outcoldman commented on #1
@marcellodesales in your server.conf you have sslKeysfilePassword setup, do you actually map any your own certificates? Could you try to remove this line from conf?

[2016-01-12 15:14] marcellodesales commented on #1
@outcoldman Let me try that!

[2016-01-12 15:26] marcellodesales commented on #1
@outcoldman I get the same exact error I reported before and they are the same between the 2 docker images (yours and ours)...

docker logs
-----

[code]

splunkd.log
------

[code]

[2016-01-12 15:38] outcoldman commented on #1
@marcellodesales and please remove pass4SymmKey as well

[2016-01-12 15:44] marcellodesales commented on #1
@outcoldman ok Let me try it...

[2016-01-12 15:50] marcellodesales commented on #1
@outcoldman It finally solved the ERROR events... I'm recreating all the containers and verify...

[code]

[2016-01-12 16:02] marcellodesales commented on #1
@outcoldman

Nothing yet... Although I don't see any errors in the logs...

[code]

The container can see the current logs in the `/var/log/messages`...

[code]

Nothing significant found in the logs either... :(

[code]

Maybe turning on `DEBUG` mode of the forward can show something else?

[2016-01-12 16:12] outcoldman commented on #1
@marcellodesales sure we can turn on DEBUG for something, but I have no clue where we lose data.

Another suggestion - try to use splunk standalone instance just to try if you will get these messages indexed inside Splunk without actually forwarding them.

[2016-01-12 16:24] marcellodesales commented on #1
@outcoldman

Suddenly, things started working this time, as I see it picked up the files...

[code]

The logs event date in Splunk are using a different time...

[code]

Where there's of offset in the Web UI of Less 8 hours... We are very close now :+1:

<img width="1420" alt="screen shot 2016-01-12 at 8 23 35 am" src="https://cloud.githubusercontent.com/assets/131457/12269365/e38b124c-b905-11e5-9

[2016-01-12 16:26] marcellodesales commented on #1
How can I correlate the `Time` column with the time displayed in the `Event` column???

I noticed that the date in the container is UTC

[code]

[2016-01-12 16:31] outcoldman commented on #1
@marcellodesales do you mean that it shows you wrong time or not expected TimeZone? I guess the difference of 8 hours is expected if your indexers show you time in your timezone and forwarder collects everything in UTC. If you are in Pacific Time zone - looks like everything is working.

[2016-01-12 16:45] marcellodesales commented on #1
@outcoldman Everything is working!!! The only problem is that we are in the PST timezone, but the Time shown in the `Time` column is less 8 hrs... Is there a way to set the forwarder to collect everything in PST instead?

I'm tring to set the time inside the container, but no luck so far... What I tried was:

* Set the environment var TZ
* Mount the /etc/timezone

Mounting the timezone did not wor

[2016-01-12 17:13] outcoldman commented on #1
@marcellodesales no need to modify anything on system, in logs everything looks good, you have timestaps in UTC timezone and they show the right time.

Please read http://docs.splunk.com/Documentation/Splunk/6.2.8/Data/Configuretimestamprecognition

Take a look on `etc/system/default/props.conf` definition for syslog

[code]

As you can see it does not have `TZ`, so add `props.conf` inside `etc/sy

[2016-01-12 17:21] marcellodesales commented on #1
@outcoldman Sounds good and thanks for all your help... The deployment on the second host worked... Here's what I have so far:

[code]

The server.conf without any SSL setting... Since the container needs to write the values for the server, the volume is mounted with `write` permission...

[code]

Thanks a lot for more pointers... I will verify with OPS how the proceed with that...

[2016-01-12 17:21] #1 closed

[2016-01-12 17:23] outcoldman commented on #1
:+1:

[2016-01-21 02:17] coursevector opened #3 "Low Disk Space"
I am getting a low disk space warning (Under 5GB free) after a few weeks of use and it has caused Splunk to stop indexing and not allow users to use the web interface. Moving the Splunk setting to 2GB restored functionality, but is obviously a temporary solution.

I am using data volume containers as suggested in the readme.

When I run docker ps -s I get:
14.08 MB (virtual 546.3 MB)

Is there ano

[2016-01-26 21:32] jeffminard-ck commented on #3
I had the same thing, but it is related to disk space on the host, since docker doesn't really impose any direct limits itself (usually, you can, but if you were doing that you'd know).

[2016-01-26 22:52] outcoldman commented on #3
@coursevector how much disk space you actually have on your host machine where you run docker? You can run

[code]

Also you can run

[code]

To find where is your `Root Dir:` - this is actually where the data from data volume container will be stored.

[2016-01-27 02:34] coursevector commented on #3
Ignore this. I tracked it back to another container.

[2016-01-27 02:34] #3 closed

[2016-03-09 00:07] joshgarnett opened #4 "Container fails to start"
The splunk container process exits immediately when running the steps specified in the README.  I'm seeing the issue with 6.3.3 and 6.3.1.  Below are the logs

[code]

[2016-03-09 00:16] joshgarnett commented on #4
Inside the container:
[code]

[code]

[2016-03-09 00:16] joshgarnett commented on #4
I wonder if there might be issues with the overlay driver

[2016-03-09 00:21] joshgarnett commented on #4
Yeah looks like that is the case, I'll debug this on my end.  Sorry for the noise.

[2016-03-09 00:21] #4 closed

[2016-03-10 05:22] merbla opened #5 "${SPLUNK_PRODUCT} removed from public download"
The current URI in both the Forwarder and Instance `Dockerfile` need to be updated.

Recently the product name has been removed from the URI.

[2016-03-10 19:41] #5 closed

[2016-05-07 03:41] marcellodesales opened #9 "Docker-compose Failing... Validating databases (splunkd validatedb) failed with code '1'."
Hi there,

I'm trying to use Docker-compose V2 on Mac Beta and there might be something with the FS...

Docker-compose.yml
----

[code]

Error
----

[code]

Running without Data Works
------

It just worked as expected without the volumes.

[code]

[2016-05-07 03:59] outcoldman commented on #9
@marcellodesales I guess you are using some kind of file system which is not supported by Splunk. See http://docs.splunk.com/Documentation/Splunk/latest/Installation/Systemrequirements#Supported_file_systems

[2016-05-07 06:10] marcellodesales commented on #9
@outcoldman That's true... So, maybe you can add a limitation in the README... I could properly launch it on Ubuntu!

[code]

[2016-05-07 06:10] #9 closed

[2016-05-12 03:06] tanyewei commented on #4
@joshgarnett how to fix it?

[2016-05-12 12:13] joshgarnett commented on #4
The issue was related to attempting to run the container in a CentOS 7 Vagrant instance with the overlay driver.  The overlay driver does not play well with ```Backing Filesystem: xfs```.  I just switched to the default devicemapper driver.

[2016-06-15 00:19] lsb opened #12 "[question] Reconcile the .deb package install scripts and the docker file?"
Hello, I'm moving from running the Splunk forwarder from an installed debian package to running in a container. We have configured the forwarder to monitor various files on disk, I am planning to mount those directories in my container, and I was wondering about the following discrepancy.

I see the Splunk .deb postinst script (from the Splunk forwarder 6.3.3) has something like

[code]

We aren't

[2016-07-15 20:29] outcoldman commented on #12
@lsb I don't think that there are should be any issues with this file. This script only sets SPLUNK_HOME, which might be unset and should work fine (this is from default file)

[code]

[2016-07-15 20:29] #12 closed

[2016-08-02 03:19] lsglick opened #20 "Can't change settings after initial configuration"
Hi there. We're having some challenges using this image since once the data volumes are created and configured, there is no way to modify the configs with future updates.

Say, for example, we want to add a new forward server, app, etc. I could update the ENV variables to accomplish this when first starting a container. But if the data volumes already exist, I have to either completely delete them

[2016-08-04 03:40] jamesgunja opened #21 "How to stop auto upgrade on splunk docker?"
How to stop auto upgrade on splunk docker?

[2016-08-04 05:35] Kahn commented on #21
There is not an auto upgrade process that I am aware of. If you want to pin to a version then use the docker tags.

**docker pull outcoldman/splunk:6.4.2** will never pull a new version. If you used docker pull outcoldman/splunk:latest then when the image is next released and the container restarted your version will "update"

Can you paste your "docker ps" output where this issue is happening?

[2016-08-04 13:51] outcoldman commented on #20
@lsglick this is by design.

Intention is pretty simple, when this is a fresh instance - we can safely call these commands, if not - there are can be a lot of undefined situations. Let's say that we will implement a flag "RERUN_ALL_COMMANDS" - what will happen when you server will be restarted and restart policy for this container is set to always restart? These commands will be invoked again and

[2016-08-04 13:52] outcoldman commented on #21
@jamesgunja could you clarify what do you mean by that?

[2016-08-04 14:57] daniloascione commented on #21
Maybe it is the same issue...

docker-compose up
Starting splunkdocker_splunk_1
Attaching to splunkdocker_splunk_1
splunk_1  | tcgetattr: Inappropriate ioctl for device
splunk_1  | WARNING: error changing terminal modes - password will echo!
splunk_1  | Perform migration and upgrade without previewing configuration changes? [y/n]
splunk_1  |
splunk_1  | This appears to be an upgrade of Splunk.
spl

[2016-08-04 15:15] daniloascione commented on #21
I've added the --answer-yes to solve the issue.
In docker-compose.yml :
environment:
      - SPLUNK_START_ARGS=--accept-license --answer-yes

[2016-08-04 15:42] outcoldman commented on #21
@daniloascione yep, that makes sense.

[2016-08-05 03:29] jamesgunja commented on #21
Sorry for the delay in responding. Correct this is same issue I am facing too. Look like --answer-yes solves this. Thank-you guys!!
splunk_1 | tcgetattr: Inappropriate ioctl for device
splunk_1 | WARNING: error changing terminal modes - password will echo!
splunk_1 | Perform migration and upgrade without previewing configuration changes? [y/n]
splunk_1 |
splunk_1 | This appears to be an upgrade of

[2016-08-05 13:33] outcoldman commented on #21
Great, thank you for confirming, updated the README.md https://github.com/outcoldman/docker-splunk/commit/80e8f69dc45faa14b29531aded6e4859e131e6d5

[2016-08-05 13:33] #21 closed

[2016-08-05 21:24] lsglick commented on #20
Thanks for the explanation! We've been using your suggested way, I was just hoping for a more seamless way.

I'll probably fork and add a local set of ENV variables for commands to always run regardless of if configured. You're right our instance isn't stateless since the scripted_input keeps track of its progress uploading data.

Specifically I want to execute something like: `install app /tmp/my

[2016-08-30 11:08] guenichone commented on #22
Ok issue fixed by doing a recusrive chmod on folder. I don't know why the permissions changed.

[2016-08-30 14:22] outcoldman commented on #22
Possible that you have executed something or tried to restart splunk not with the default user we use in the container (`splunk`), this is why permission messed up

[2016-09-08 20:48] outcoldman commented on #23
The Splunk Release team has incorporated the work I have has done in to its build process. We're getting close to putting our images in Docker Store, so there's no longer a need for me to maintain my own repository. Feel free to use my Dockerfile if you want to build your own images.

[2016-09-12 12:32] historus commented on #23
I really appreciate the work you do but removing it from docker hub before the replacement is released breaks a lot of integrations and workflows.

[2016-09-12 13:44] jbruggem commented on #9
See: https://answers.splunk.com/answers/323671/splunk-light-running-on-docker-throwing-unusable-f.html

[2016-09-12 16:01] #20 closed

[2016-09-12 16:06] outcoldman commented on #23
@historus yes, that is true. I feel your pain and I personally sorry for that. There were some reasons which required me to remove the image from the Docker Hub. I knew that this can bring some issues to existing image users, this is why I kept github repository, so folks will be able to build their own images.

We know about this issue and Splunk Inc is working hard with Docker to make the images

[2016-09-12 16:07] historus commented on #23
Appreciated. I forked and built it on my own now, thanks for keeping the git repo public.

[2016-09-12 16:29] marcellodesales commented on #9
Thanks @jbruggem... That definitely can help testing things in Mac.

[2016-09-12 16:35] outcoldman commented on #23
/cc @mchene

[2016-09-29 17:20] outcoldman commented on #23
Repository has been moved to the splunk/docker-splunk, latest image is under u/splunk account on hub.docker.com, see https://hub.docker.com/u/splunk/

I am happy to close this issue!

[2016-09-29 18:41] halr9000 commented on #23
LGTM ;)

[2016-10-01 16:29] chernals opened #25 "Mounting volumes should be document with named volumed and not data only containers"
The readme mentions

Start a Splunk Enterprise container and mount the necessary container volumes

docker run --name vsplunk -v /opt/splunk/etc -v /opt/splunk/var busybox
docker run --hostname splunk --name splunk --volumes-from=vsplunk -p 8000:8000 -d -e "SPLUNK_START_ARGS=--a

Should this be updated to use named volumes instead (as of Docker 1.9.0)?

[2016-10-10 16:33] halr9000 opened #27 "Typo's in some docker run example commands"
From https://github.com/splunk/docker-splunk/blob/master/enterprise/README.md:

`docker run --name splunk --hostname splunk -p 8000:8000 -d -e "SPLUNK_START_ARGS=--accept-license"`

This command is missing an image name and clearly won't work. If you add an image name, it's still broken. Repro:

[code]

working on PR

[2016-10-12 15:35] #27 closed

[2016-10-24 19:34] gijswobben opened #29 "Unable to change the default username from docker-compose"
I've tried to change the default username with the "command" in docker-compose.yml but it doesn't seem to work. Does anyone know how to do this?

[2016-10-24 19:52] halr9000 commented on #29
Have you tried using the SPLUNK_USER environment variable as shown in the [compose examples](https://github.com/splunk/docker-splunk/tree/master/enterprise#configure-the-splunk-enterprise-docker-container-with-docker-compose)? Here's a partial example from that page:

[code]

[2016-10-24 19:59] gijswobben commented on #29
Yes I have:
SPLUNK_CMD: edit user admin -password random_password -role admin -auth admin:changeme

This does not work...

[2016-10-24 20:01] outcoldman commented on #29
@gijswobben do you see any issues / errors or anything else in `docker logs {containerId}`?

[2016-10-24 20:09] halr9000 commented on #29
I see that the examples do not consistently mention that you must include the `SPLUNK_START_ARGS="--accept-license"` piece, or you will indeed have problems. The below does work from CLI, can test via compose as well (but it should behave the same):

[code]
[code]

[2016-10-25 06:18] gijswobben commented on #29
This is my setup (which is not working):

[code]

[code]

Splunk does start, no error messages, but the password has not been changed. Any ideas? Anyone able to replicate?

[2016-10-25 12:26] halr9000 commented on #29
Please show output from ` docker logs <container name>` @gijswobben. I'll try to repro later this morning.

[2016-10-25 12:27] halr9000 commented on #30
Where is Docker running? I've heard of a time drift issue amen running Docker on OSX.

[2016-10-25 12:49] gijswobben commented on #30
Docker for Windows 1.12.2

[2016-10-25 13:01] gijswobben commented on #29
This is the full output of `docker logs <container>`:

[code]

[2016-10-25 15:37] outcoldman commented on #29
@gijswobben could you show also docker inspect of this container?

[2016-10-25 16:13] halr9000 commented on #29
I'm unable to repro a `docker-compose up` using your sample at this moment due to possibly unrelated errors.

[2016-10-26 06:30] gijswobben commented on #29
Sure:

[code]

[2016-10-26 14:50] outcoldman commented on #29
I am not sure if this mounting will work

[code]

As we mount a volume `/opt/splunk/etc/` and you are basically doing the nested volume. Not sure how that works in Docker. We recommend to mount `/opt/splunk/etc/`, see https://github.com/splunk/docker-splunk/blob/master/enterprise/README.md#data-store

I have removed volumes definition from your example and tried to run docker-compose on

[code]

A

[2016-11-21 19:14] halr9000 commented on #32
@FutureSharks you are correct, the image won't currently help with this configuration. Your workaround to update outputs.conf file at container creation should work. You'll want to actually specify sslPassword in the same place, and at the next restart, Splunk will scrub the password from the .conf file and store it encrypted

Quoting from [the docs](http://docs.splunk.com/Documentation/Splunk/6.5

[2016-11-21 19:18] halr9000 commented on #32
@mchene how are we tracking enhancement requests? We could add more ENV parameters to help configuring these settings. I think that the way some have handled this is by automating pre and post-image build steps with out-of-band Python or make scripts.

[2016-11-21 19:28] outcoldman commented on #32
@halr9000 I actually explored the simplest way to make it work and came out with the script which I have been using in my cluster aware image https://github.com/outcoldman/docker-splunk-cluster

You can take a look on example how I configure images using this python script https://github.com/outcoldman/docker-splunk-cluster/tree/master/examples/docker

[2016-11-22 09:05] FutureSharks commented on #32
In the end I had to use my work around but change it slightly. I am running it on Google Container Engine (Kubernetes).

I used this basic config:
https://gist.github.com/FutureSharks/ece4dbd233a421b3b2581eab92745697

And then had to change the command and args as follows:
[code]

You can see I had to start splunk first, let it initialise to create all the files/directories, then kill it, then app

[2016-11-22 09:08] FutureSharks commented on #32
Anyway, thanks for the input. Feel free to close.

[2016-11-22 14:39] outcoldman commented on #32
@FutureSharks help me to understand what is happening in your entrypoint:
- You are invoking "/sbin/entrypoint.sh start-service" but give it only 10 seconds to execute, which means that bash  and splunk will going to be killed
- After that you modify all the configurations and start it again.

I see two problems here:
1. What if Splunk will take more than 10 seconds to start?
2. What if you are re

[2016-11-22 14:46] FutureSharks commented on #32
@outcoldman, yes you are correct.

To answer your questions:
1. This could be a problem but hasn't happened in my testing.
2. If the container (or Kubernetes pod) is restarted or upgraded then the whole process is done again, fresh. There is no config left from previous containers, they are effectively stateless.

The problem is that Splunk needs to start up in order to create the directories and

[2016-11-22 14:56] outcoldman commented on #32
@FutureSharks the one I suggested above :) Or you can write your own logic by using `BEFORE_START_CMD`, `BEFORE_START_CMD_1`, ..., something like

[code]

Where first command will initialize all default configurations, second command will allow you to invoke anything you want from $SPLUNK_HOME/bin, where it can be your own bash script for example.

[2016-11-22 15:51] rarsan commented on #32
@FutureSharks no need to kill Splunk to make config changes: `start, add config, restart` is a common flow. However in your case, you're not using CLI so you don't need Splunk to be up, and you can make config changes before start (Splunk package is already extracted before Splunk starts up). So you can add (or better yet, symlink) to custom config files using `BEFORE_START_CMD` as suggested by @o

[2016-11-22 16:18] FutureSharks commented on #32
Thanks for the replies.

Unless I have misunderstood, this solution requires me to create my own image.

I didn't actually try this because it looks like these environment variables are just prepended with `${SPLUNK_HOME}/bin/splunk` in the [entrypoint.sh](https://github.com/splunk/docker-splunk/blob/master/universalforwarder/entrypoint.sh#L61-L74) file and I can't create all my configuration with

[2016-11-22 17:15] outcoldman commented on #32
@FutureSharks other option is to use Deployment Server to deliver configurations to the forwarders.

From my opinion is a good thing to have an infrastructure with your own registry and a way to build your customer images.

[2016-11-23 10:01] FutureSharks commented on #32
We do have our own container registry and many custom images but I was hoping in this case I could avoid it. But OK, no worries. I'll see if I can use a deployment server.

Thanks for the suggestions @outcoldman and @rarsan

[2017-03-01 02:36] pikeszfish commented on #4
How can I fix it without switching to the default devicemapper driver?

[2017-03-16 13:27] ahmed-bacha commented on #25
Yes, it would be interesting since some users prefer to have more control.

So, when do you plan to update it ?

[2017-03-16 16:02] halr9000 commented on #25
If it's a basic doc update, those are easy, and we accept PRs for those as well. I say just go ahead and work up a new example if you like.

[2017-04-12 15:14] #25 closed

[2017-05-05 19:58] greenpau commented on #4
In case someone might need it.

On CentOS/RHEL, modify the `--storage-driver=overlay` to `--storage-driver=devicemapper` in `/etc/systemd/system/docker.service.d/override.conf`.

[2017-05-13 01:27] michaelwilde commented on #39
are you sure about that.... mine works just fine.. its in swarm as a globally scheduled container, deployed on 5 nodes, attached to an overlay network that splunk enterprise is running on.  works fine.

[2017-05-13 01:27] michaelwilde commented on #30
@gijswobben is this still an open issue?

[2017-05-13 04:43] gijswobben commented on #30
No, was fixed with docker 1.13

[2017-05-13 17:27] michaelwilde commented on #29
@gijswobben is this still an issue.  If so I'll send u a v3 compose file I use daily that works.

[2017-05-15 06:58] gijswobben commented on #29
I still have the problem when mounting the entire apps or system folder so I started mounting individual apps instead of the entire apps folder and now it works.

[2017-06-04 23:56] manojbadam commented on #40
I'm facing the same issue. Here is my log stack trace
[code]
This occurs very intermittently.

[2017-07-07 20:44] mchene commented on #48
@dmcnaught - Hey Duncan, can you confirm you are referring to using your own certificates as documented here: http://docs.splunk.com/Documentation/Splunk/6.6.2/Security/ConfigureSplunkforwardingtousesignedcertificates?

If so, how would you like to reference and configure the certs? e.g.,
Cert Location: shared data volume configured on the UF container image?
Cert configuration: environment parame

[2017-07-07 21:14] dmcnaught commented on #48
For version 6.3.1 I added these lines to the Dockerfile and it was working fine.
[code]
We recently generated a new cert with a non-default SSL password and I haven't been able to get connected. I'm seeing this error in the startup logs: `ERROR SSLCommon - Can't read key file /opt/splunk/etc/auth/server.pem errno=218570875 error:0D07207B:asn1 encoding routines:ASN1_get_object:header too long.` and

[2017-07-17 22:53] dmcnaught commented on #48
Turns out my cert was missing a line break, not sure how that happened...
I'm able to configure the container with ssl with the above addition of certs, and then on the command line starting with the following args:
-e SPLUNK_START_ARGS="--accept-license" -e "SPLUNK_FORWARD_SERVER=indexer.domain.com:9997" -e "SPLUNK_FORWARD_SERVER_ARGS=-ssl-cert-path /opt/splunk/etc/auth/server.pem -ssl-root-ca-pa

[2017-07-17 22:53] dmcnaught commented on #48
Thanks for providing this container! It's very much appreciated and used by us.

[2017-08-05 11:32] xeor opened #50 "Splunk on kubernetes"
I have been fighting very weird errors trying to get splunk working inside a kubernetes cluster.

Setup:

* Storage: nfs
* Image-version: 6.6.2
* kubernetes: 1.7.1 on Ubuntu 16.04.2 LTS

Mounting `/opt/splunk/etc` and `/opt/splunk/var` always gave me errors like https://answers.splunk.com/answers/312247/after-upgrading-a-search-head-cluster-to-splunk-63-1.html. Some of the resources it tried to ge

[2017-08-22 15:19] #29 closed

[2017-09-12 14:10] suchkultur opened #56 "Small error in documentation"
I think there is a typo in [README.md at current master](https://github.com/splunk/docker-splunk/blob/master/enterprise/README.md#ports):

**8088**/tcp is mentioned 2x, but i guess the second 8088/tcp is supposed to be 808**9**/tcp - correct?

[2017-10-10 04:25] outcoldman commented on #50
We just published first version of our application "Monitoring Kubernetes" https://splunkbase.splunk.com/app/3743/ and collector https://www.outcoldsolutions.com. Please take a look on our manual how to get started https://www.outcoldsolutions.com/docs/monitoring-kubernetes/

[2017-10-10 20:05] halr9000 commented on #50
Way to go, @outcoldman! Tried it with OpenShift by chance? I'll have to spin up a lab.

[2017-10-11 00:56] outcoldman commented on #50
@halr9000 I have not tried it yet in OpenShift! Let me know if you will get it to work.

[2017-10-12 17:55] Raab70 opened #59 "Splunk attempts to upgrade from 7.0.0 to 7.0.0"
Steps to reproduce:

1. Start a splunk/splunk:7.0.0 container using host-mounted volumes for /opt/splunk/etc as described in the documentation (`docker run -p 8000:8000 -d -e "SPLUNK_START_ARGS=--accept-license" v /local/path/optsplunketc:/opt/splunk/etc -v /local/path/optsplunkvar:/opt/splunk/var splunk/splunk:7.0.0`)
2. Once the container starts successfully stop it.
3. Start another container f

[2017-11-01 23:40] bretthamilton commented on #59
I am running into this same issue. Any help would be appreciated!

[2017-11-02 01:01] matthewmodestino commented on #59
Hey @bretthamilton, were you able to use the workaround of adding the start args @raab70 mentioned above?

[2017-11-13 05:18] kamal2222ahmed opened #60 "[Errno 39] Directory not empty: '/opt/splunk/share/splunk/search_mrsparkle/modules.new/converters'"
Error installing with docker-compose up

git clone https://github.com/splunk/docker-splunk.git
Cloning into 'docker-splunk'...
remote: Counting objects: 817, done.
remote: Total 817 (delta 0), reused 0 (delta 0), pack-reused 817
Receiving objects: 100% (817/817), 156.03 KiB | 0 bytes/s, done.
Resolving deltas: 100% (393/393), done.
[ec2-user@ip-10-193-206-13 SPLUNK]$ ls
docker-splunk
[ec2-user@ip-

[2017-12-12 18:22] rujic opened #62 "Splunk Universal Forwarder has hardcoded credentials in entrypoint.sh"
Currently, in entrypoint.sh for Splunk Universal Forwarder, under start-service, it is using "admin:changeme" credential for a few commands, in which is hardcoded. This either needs to be configurable or removed (don't require authentication for such commands)

[2017-12-13 02:41] halr9000 commented on #62
Noted internally (Solunker), thanks for bringing this to our attention @rujic

[2017-12-14 20:15] halr9000 commented on #62
FWIW, concerned customers may inquire about PBL-12591 by opening a support case w/Splunk.

[2018-01-07 00:21] foxx commented on #59
It's because `/opt/splunk/ftr` needs to be removed after first initialization, which isn't currently being done. So every time the container restarts, `/opt/splunk/ftr` is recovered because it's baked into the container. Maybe @halr9000 or one of the other maintainers can add a patch into `entrypoint.sh`

[2018-01-11 17:14] therealmysteryman opened #63 "Branch 7.0.1 not available on Docker Hub"
The branch 7.0.1 is not exposed to the Docker Repository. Wondering how close we are to have it available ?

[2018-01-11 17:41] n00badmin commented on #63
I'll look at getting it out there asap.

[2018-01-11 17:42] matthewmodestino commented on #63
I'll get on creating the PR asap!

[2018-01-11 18:54] therealmysteryman commented on #63
Thanks :)

[2018-02-02 14:23] #63 closed

[2018-02-28 17:49] getkub commented on #9
Manually applying OPTIMISTIC setting works good. But how to put this in docker-compose file or as a parameter?

[2018-03-02 10:15] jrballesteros05 commented on #59
Hi, I could handle this problem when I  don't have persistent volume. Does anyone know how to solve this?. Or at least how could I do to add a patch like @foxx said.

[2018-03-26 06:37] lovemyliwu commented on #59
please solve this problem, also facing into it.

[2018-04-09 16:46] halr9000 commented on #66
@yampelo Yes, but note that the ES (and ITSI) system requirements are higher than core. For example when running ITSI in Docker on macOS, I had to increase the size of the Hyeprkit VM which backs Docker. You may or may not be running into a similar issue.

If you want to keep this issue open, please add details to address some of the areas mentioned above. thanks

[2018-04-09 18:35] halr9000 commented on #59
Let's revisit this with the next Splunk release. Some changes were made to first-time run behavior, and I know they had to touch the Dockerfile, so this issue might go away.

(No, I can't commit to when this release will happen. Sit tight!)

[2018-04-16 19:16] erks opened #70 "kubernetes 1.9.4 breaking universal forwarder with ConfigMap"
Using [ConfigMap](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/) to manage splunk universal forwarder's config has been working well until the release of 1.9.4, which included this [security fix](https://github.com/kubernetes/kubernetes/pull/58720).

`ConfigMap` now gets mounted as read-only always, which breaks this container due to the `chown` commands in `ent

[2018-04-16 19:35] halr9000 commented on #70
@mchene ^

[2018-04-17 18:46] erks commented on #70
@halr9000 if you're okay with doing `chown ... || true`, which seems to work for me, I can create a quick PR for that.

[2018-04-27 21:33] rayh0001 commented on #70
Any updates?  Any temporary fix or work-around?

[2018-04-28 03:25] ffscl commented on #70
Mount your config maps inside `/var/opt/splunk/etc` instead of directly inside `${SPLUNK_HOME}`.  This fix works because the entrypoint copies the files over before trying to change the permissions [https://github.com/splunk/docker-splunk/blob/master/universalforwarder/entrypoint.sh#L24](url)

[2018-04-30 22:38] outcoldman commented on #59
Feels that the problem is with the `share` folder, possible it will require the same as `etc` folder, looks like migration keeps some state here. So additional volume needs to be created, and backup of the `share` folder copied on the first start.
With Splunk 7.1.0 you will see behavior that integrity checks fail for installed files.

[2018-05-01 22:03] guilhemmarchand commented on #70
Thanks @ffscl
I just tested it in a Kubernetes v1.10.2 cluster and this fixes the issue, I used:

[code]

And still reference any file with $SPLUNK_HOME

[2018-05-02 17:14] rayh0001 commented on #70
Thanks @ffscl @guilhemmarchand that seems to work

[2018-05-02 17:43] erks commented on #70
This definitely should be documented. @halr9000

[2018-05-15 16:08] yorokobi commented on #56
Also, 9997 as a listening port is used by Indexers, not universal forwarders.

[2018-05-26 12:08] fumantsu opened #72 "master branch /tag latest doesn't pull 7.1.0"
Hello,

I saw that the tag latest is not pulling the 7.1.0 but the 7.0.3 as well that 7.1.0 hasn't pushed to the master branch.
Is there any particular reason for holding the push?

[2018-05-27 22:46] matthewmodestino commented on #72
This was due to the new password requirements in 7.1.0 that break the current setup. Will need to come to consensus on how to handle the password setting before making it master. All suggestions welcome.

https://docs.splunk.com/Documentation/Splunk/latest/Installation/StartSplunkforthefirsttime

[2018-05-29 19:48] halr9000 commented on #72
Adding context:

- PR #71
- Blog post from @outcoldman titled, "[CREATE A SECURE ADMINISTRATOR PASSWORD IN DOCKER FOR SPLUNK 7.1.0](https://www.outcoldsolutions.com/blog/2018-04-25-docker-splunk-7-1-0/)"

[2018-05-30 17:04] fumantsu opened #75 "failing to run/Permission denied"
Hello,

I'm trying to get run a docker container but I'm getting this: Validating databases (splunkd validatedb) failed with code '1'
Facts:
a) command:
        docker run \
                --name splunk --hostname=splunk \
                -p 8000:8000 \
                -p 8088:8088 \
                -p 9997:9997 \
                -p 1514:1514 \
                -p 1515:1515 \
                -v /o

[2018-06-01 22:07] dmuth opened #76 "entrypoint.sh: no such file or directory"
How to reproduce this:

- In the main directory, run `docker build . -t`

It looks like the path to the file is wrong.  No big deal, but thought you'd like to know.

-- Doug

[2018-06-08 18:01] fumantsu commented on #75
found again it was the OPTIMISTIC_ABOUT_FILE_LOCKING = 1. It will be good somehow to pass something like this on the dockerfile as parameter

[2018-06-08 18:01] #75 closed

[2018-06-08 22:07] renaudholcombe commented on #76
You need to run the `docker build` command from within either the "enterprise" or "universalforwarder" directories (based on which image you're attempting to build).

[2018-06-08 23:15] dmuth commented on #76
Yeah, I eventually did that.

There used to be a `Dockerfile` in the root directory when I filed the bug.

That since seems to have been removed, so I'll close this bug as it is no longer relevant.

-- Doug

[2018-06-08 23:15] #76 closed

[2018-06-19 18:06] skwongg opened #77 "docker image for splunk 7.1.0 fails file integrity validation"
I'm not sure if this version is still supported but I found 3 app files are failing file integrity check and yield different sha256 hashes in the docker image vs. direct tar install. The hashes in the manifest file are consistent with the direct tar installation but not with the files from docker. I can suppress the errors for now or edit the manifest, but both of those solutions are not ideal sin

[2018-06-20 21:15] outcoldman commented on #77
I saw that too but in case of 7.1.1 I have not seen this issue anymore https://github.com/outcoldman/docker-splunk/tree/splunk_7_1_1
I have not created a PR yet, but feel free to apply this change on top and give it a try https://github.com/outcoldman/docker-splunk/commit/a1c2e8e36f2620f3ad454622c8a57682c90d3931

[2018-06-22 15:14] andyneff commented on #59
The `/etc/splunk/ftr` mechanism is the same in 7.1.0, and you still have this problem in 7.1.0

# Workaround

Here's a snippet from my `docker-compose.yml` file to fix this

[code]

If you don't add the `splunk_share` volume, the webserver fails to come up the second time.

# A Suggested Fix

Basically add the workaround to the entrypoint

[2018-06-22 16:28] andyneff commented on #78
Related to  #72

[2018-06-22 16:32] RANGERBEE commented on #78
Wow!
I was just tracking down why my cluster Arg commands didnt work.

Thank you!!!!

On Fri, Jun 22, 2018, 11:27 AM Andy Neff <notifications@github.com> wrote:

[2018-06-24 05:29] outcoldman commented on #78
@andyneff I believe you can just run `--env SPLUNK_START_ARGS="--accept-license --answer-yes --seed-passwd changeme"` (see https://www.outcoldsolutions.com/blog/2018-04-25-docker-splunk-7-1-0/) and you should be able to use all of the configuration commands.
I believe these environment variables should be deprecated, instead there are should be a simple solution to write configuration files direct

[2018-06-25 15:49] RANGERBEE opened #79 "ARG commands - clustering"
Hello,

  I have been trying to enable clustering through compose file with no joy.

Could someone shed some light to the secret sauce?

[code]

[2018-06-25 15:52] RANGERBEE opened #80 "license loading"
Hello world,

  I have been trying to load the license file by copying over into the /opt/splunk/etc/licenses/enterprise/ folder and no joy.

I have also set a volume mount to the file which works in other circumstances - just not with this license file.
[code]

Anyone care to shed some light?

Thanks..

[2018-06-26 13:11] andyneff commented on #78
@outcoldman Thanks, `--seed-passwd` is the better way I couldn't find.

I totally agree that it looks like a new way to implement the environment features should be added to this image.

[2018-07-03 15:39] david-crowder commented on #60
What storage driver are you using? I get the same error when I try and build on a system that is set to overlay but doesn't have `ftype=1` set:
https://docs.docker.com/storage/storagedriver/overlayfs-driver/#prerequisites

[2018-07-06 22:23] mychalsexton commented on #70
@ffscl That worked like a charm! Thank goodness I found this otherwise I might have gone crazy.

[2018-07-12 18:08] AkshayDubey29 opened #82 "_meta data needs to be added as part of splunk cli"
Hi, We would like to add _meta as a command line argument with splunk forwarder cli which is at present not supported with cli, Can you add this as a feature request and also if any substitute is there please do let us know

[2018-07-25 07:44] sharmmoh1983 commented on #70
Sorry I am not getting what solved the issue here... I updated daemonset yaml  with:

[code]

But nothing seems to work. Please let me know what exactly need to be done to resolve the issue

[2018-07-25 13:36] matthewmodestino commented on #89
Please post your the yaml you used to deploy the daemonset. Be sure to anonomyzie.

Are you familiar with configuring/troubleshooting the Splunk UF?

You can exec into the pod, cd to `/opt/splunk/bin` and run `./splunk list forward-server` to see forwarding connection status. You will need the password that was generated for the UF. You can also grep `/opt/splunk/var/logs/splunk/splunkd.log` for `

[2018-07-25 13:43] aegershman opened #90 "Include rfc5424-syslog plugin in *-monitor image by default"
As a cloud foundry operator, [I want to use Splunk to ingest my `rsyslog` platform logs.](
https://docs.cloudfoundry.org/devguide/services/integrate-splunk.html#config) Therefore, I would like the Splunk `<version>-monitor` docker image to come pre-packed with the [`RFC5424 Syslog`](https://splunkbase.splunk.com/app/978/) application by default.

The `*-monitor` image comes packed with the `Docker

[2018-07-25 13:48] matthewmodestino commented on #82
Hi Akshay!

This is not a channel for enhancement requests for core splunk functionality.

If the UF can’t do it today, you should file an ehancment request via support portal detailing why someone would want to do this and how you would see it used.

As long as the UF can do it, we can look at making the container expose the options.

Also, perhaps you can solve for this with configmaps or enviro

[2018-07-25 14:03] matthewmodestino commented on #90
Hey Aaron!

Thanks for checking out our containers!

I am not sure we would get into hosting a ton of different pre-baked apps, currently we are focused on official support, for the base images.

In the meantime, you could easily build your own versions of the container. You just need to copy the configs into the container. Have you checked out the dockerfile, or tried to create your own?

[2018-07-25 18:21] aegershman commented on #90
I totally understand, I can see how that would get messy pretty quick. Just figured I'd feel things out. Thanks for your time.

[2018-07-25 18:21] #90 closed

[2018-07-25 23:44] aegershman commented on #70
apologies for somewhat hijacking: if anyone is willing to share their splunk kubernetes deployment or uses one someone else wrote, I'm definitely interested in seeing it. I'm trying my hand at writing a [helm chart for it](https://github.com/aegershman/charts/tree/master/src/splunk), but I'm curious how other people might write it

[2018-07-26 02:34] sharmmoh1983 commented on #89
Also there are no log files  getting generated

I am getting : Active forwards:
	None
Configured but inactive forwards:
	input-prd-p-xxxxxxx.cloud.splunk.com:9XXXX

`apiVersion: v1
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: splunk-forwarder-config
data:
  cacert.pem: |

  client.pem: |

  limits.conf: |-
    # By default a universal or light forwarder is limited to 256kB/s
    # E

[2018-07-26 02:41] matthewmodestino commented on #89
are you using the certs that come with the UF for cloud? I assume they would be the ones you need for hec?

The log files are in the container.

`kubectl -n <namespace> exec -it <pod> bash`

`cd /opt/splunk/var/log/splunk`

[2018-07-26 02:50] sharmmoh1983 commented on #89
Yes I am using certs but where do i mention which index name to send and also how splunk UF is different from HEC. I dont think certs will work for the same

[2018-07-26 03:17] matthewmodestino commented on #89
disregard my comment anout hec, i have been focused on Splunk Connect for Kubernetes...

This is straight UF forwarding. Based on the logs, the cloud uf app is not in the right spot perhaps.

[2018-07-26 03:39] matthewmodestino commented on #89
here is how I mounted apps in my kubernetes config:

[code]

[2018-07-26 04:07] sharmmoh1983 commented on #89
And what path is appearing for  the ssl certificates in splunk log  files?/

[2018-07-26 04:54] sharmmoh1983 commented on #91
[code]

[2018-07-26 05:31] sharmmoh1983 commented on #89
I have made some progress with your help but now I am seeing following error:
Path which I have mentioned for watch is  /var/log/containers/

`07-26-2018 05:26:29.300 +0000 ERROR TailReader - Unable to resolve path for symlink: /var/log/containers/
`
Is this is some user access issue?

[2018-07-26 13:37] matthewmodestino commented on #89
Before we go any further, can you tell me more about your kubernetes deploy?

Where is this kubernetes cluster running?

If you are planning on using this in a production scenario you should check out our supported option, Splunk Connect for Kubernetes here: https://github.com/splunk/splunk-connect-for-kubernetes

While the UF will move the logs, you will run into challenges with parsing the json

[2018-07-26 20:46] matthewmodestino commented on #92
Hey Aaron!

We are working hard internally to get docker moved into offical support, so keep your ear to the ground, as that should allow us to provide better guidance on deployment methods in kube.

In the meantime come join us on slack (splk.it/slack) in the #kubernetes room and I’d be happy to share some manifests I have created that you could templitize with helm! my handle is @mattymo!

[2018-07-27 02:35] sharmmoh1983 commented on #89
@matthewmodestino

Thanks for your support

We are planning to push log data to splunk in real environments and hence trying out different options

I am also analyzing fluentd to do the splunk integration

But I dont know what is the right  image to do so.

So according to your opinion , splunk/universalforwarder is not  right for real env and we should go for
 https://github.com/splunk/splunk-con

[2018-07-27 02:48] matthewmodestino commented on #89
Yes, Splunk Connect for Kubernetes is our supoorted option, I strongly recommend you go that route.

[2018-07-30 15:48] gcyre commented on #91
How did you resolve this issue?
When I set SPLUNK_START_ARGS to the settings above the logs show login failed

[code]

[2018-07-31 00:10] sharmmoh1983 commented on #91
I just used the above configuration and it worked... You must use the password set by you and not the default password

[2018-08-07 02:33] sm00thindian commented on #59
7.0.3 and still happening

[2018-08-18 00:36] hexecute commented on #60
I experienced this issue with Docker using the Overlay2 storage driver. Switching to Devicemapper fixed it for me.

[2018-09-17 04:12] boojew commented on #59
Using this, the startup process continues, but splunkd never starts and attaches :(

[2018-09-18 00:38] boojew commented on #59
I found another workaround - change the environment variables:
- "SPLUNK_START_ARGS=--accept-license --seed-passwd <seed> --answer-yes"

[2018-09-18 22:18] andyneff commented on #59
Still happens on 7.1.0

[2018-10-04 15:21] tonytamsf opened #6 "Remote branch the_next_century not found in upstream origin"
Trying out the `make all` instructions today and got this error about a missing branch `the_next_century`

[code]

[code]

[2018-10-04 17:00] #6 closed, assigned to nobody

[2018-10-08 00:59] outcoldman opened #10 "Startup/restart performance degradation (10s legacy image vs 30-50s new image)"
The old image takes ~10 seconds to start Splunk. The new image takes 30 seconds. Unpacking splunk.tar.gz on every start takes about 20 seconds additionally.

Because containers are running on a writable container layer without persistence, you will find these additional ~20 seconds not only on `docker run,` but also `docker restart`.

I tested on MacBook Pro with NVMe SSD, I assume that on HDD/SSD

[2018-10-08 01:16] outcoldman opened #11 "Improve security, make SPLUNK_PASSWORD not required"
Exposing password using environment variable not a great idea, especially in case of Splunk for two reasons:

1. `docker inspect` or if you have access to docker API, you can get an administrator password
2. Every process inside the Splunk container will have access to the admin password. If you install the application from splunkbase with custom code, that custom code can read the admin password

[2018-10-08 02:46] outcoldman opened #14 "Allow to install application directly from SplunkBase on start"
Will be very useful to be able to install SplunkBase application by specifying the ID of the app, and some SplunkBase token to be able to download the app on start.

I have received this question a LOT of times for the legacy image. And hoped that new image will be able to support that.

[2018-10-08 06:58] MiaMish opened #15 "Silent failure on building a docker container with a password that doesn't conform to the default requirements"
Apparently, if you use a password that doesn't conform to the default authentication prefernces, the docker image will start up just fine, no errors or warnings, but client login will fail with error 401 "No users exist. Please set up a user."

So couple of issues:

- The password requirement is only documented in dockerhub (https://hub.docker.com/r/splunk/splunk/), but not in github, and could be

[2018-10-08 14:33] dd-Splunk opened #16 "Add empty test_scenarios/defaults directory"
In Advanced usage documentation **Generating a default.yml file** example

`docker run splunk/splunk-debian-9:latest create-defaults > test_scenarios/defaults/default.yml`

refers to a `/test_secenarios/defaults` directory which is not present.

Adding this empty directory would allow the examples not to fail. Just to avoid a small annoyance

[2018-10-08 15:33] dd-Splunk opened #17 "Delete container after generating defaults.yml"
In [ADVANCED.md](https://github.com/splunk/docker-splunk/blob/master/documentation/ADVANCED.md#generating-a-defaultyml-file) **Generating a default.yml file**  the example leaves stopped containers that normally won't be reused.

`docker run --rm ...` instead of `docker run ...`

[2018-10-08 15:44] srevenant opened #18 "Basic non-ansible container preferred"
You used to have a container that was basic and simple, without using Ansible.  Can you also make a version like this again?  Bringing Ansible into the container kind of breaks some of the idiomatic patterns of containers, it's just not good -- and it makes it harder to bring into our own systems.

Also, will you be supporting an Alpine build soon?  CentOS?

[2018-10-08 15:45] #16 closed, assigned to nobody

[2018-10-08 15:45] #17 closed, assigned to nobody

[2018-10-08 16:26] outcoldman opened #19 "Expand supported runtimes"
In the docs you say that only Docker starting from 17.x is supported.

That leaves a question for support of Kubernetes and OpenShift, where their recommended docker runtime is 1.13.1, see https://github.com/splunk/docker-splunk/blob/master/documentation/SETUP.md#supported-docker-engine-versions

And for Kubernetes, they can use different runtimes, not only Docker https://kubernetes.io/docs/setup/

[2018-10-08 16:36] outcoldman commented on #18
I agree with this that.

The `legacy` (without ansible) image is here https://github.com/splunk/docker-splunk-legacy, but it is not officially supported

I believe Splunk statement was that their base image will be Debian.
Alpine for sure cannot be used, considering that Splunk does not work with `musc libc`.

[2018-10-08 17:17] mikedickey commented on #18
Thanks for your feedback, @srevenant. What specific patterns do you believe are being violated? How is using the ansible binary to process YAML architecturally any different from using the bash binary to process .sh? In general, our preference was just for using a more declarative syntax and having to write less code. Keep in mind that the container is packaging an unmodified Splunk Enterprise bin

[2018-10-08 17:37] bb03 commented on #10
+ @nwang92 @lephino

[2018-10-08 18:20] lephino commented on #10
While size is a small portion of the benefits to the container, the much larger ones have to do with upgrades and volume mounting styles in the new container.  The new style will support a user mounting ANY volume under splunk in any directory that they wish.  A user will also be able to use 1 stateful volume on say a version 7.2 and know that in 7.2.1 that volume will have any upgrade processes r

[2018-10-08 18:28] mikedickey commented on #19
Docker 1.13.1 is over 18 months old, which in the world of containerization is ancient. We run very large scale container clusters at Splunk, and know from experience that older versions of the engine and Linux kernel have severe stability and performance problems that we hope our customers can avoid.

While other runtimes should (in theory) work fine, this is still an early effort so we need to k

[2018-10-08 18:28] #19 closed, assigned to nobody

[2018-10-08 18:29] lephino commented on #11
The default.yml exposes the ability to set the password without it being in an env var.  The process to create a default.yml will also auto generate a large random ascii password for you.  This method will not expose the password as env.  The k8 example from @matthewmodestino  does a great job of exposing this file with a stand alone nginx server and pulling from it.  As always with any default se

[2018-10-08 18:31] lephino commented on #14
This is actually actively being worked on.  Expect it to appear soon!

[2018-10-08 18:34] lephino commented on #15
@arctan5x since you have a related bug with passwords, wanna tackle this one too?

[2018-10-08 19:38] arctan5x commented on #15
Got it.

[2018-10-08 19:56] tonytamsf opened #22 "make ansible should always pull in the latest from splunk-ansible repo"
There are 2 issues from the splunk-ansible repo that fixed 2 issues for me, but then splunk-ansible was updated, the `make ansible` script didn't pull in the changes.

This patch should fix it
[code]

[2018-10-08 20:18] ghost opened #23 "Need Docker container environment variables for the Deployment Server ports"
If I specify a port on the host defined in the SPLUNK_DEPLOYMENT_SERVER environment variable passed to the Splunk Universal Forwarder docker container I get the error below.

**fatal: [localhost]: FAILED! => {"attempts": 50, "changed": true, "cmd": ["/opt/splunkforwarder/bin/splunk", "set", "deploy-poll", "splunk-enterprise:8089:9997", "-auth", "admin:dKpNH4hB5bKvDB"], "delta": "0:00:00.454031", "

[2018-10-08 20:43] outcoldman commented on #14
@lephino could you please keep this issue open, so people can subscribe for the updates?

[2018-10-08 20:48] lephino commented on #14
Reopening for as @outcoldman suggests, we'll close it once the feature is in place.  Please no one else work on this issue, as it's actively being addressed already internal to splunk.

[2018-10-08 22:19] outcoldman commented on #11
Just to clarify the issue, this page says that SPLUNK_PASSWORD is required https://github.com/splunk/docker-splunk/blob/master/documentation/ADVANCED.md#valid-enterprise-environment-variables

[2018-10-08 22:39] lephino commented on #11
Gotcha; we should make it more clear the field is required, but can be set via env or via a default file.

[2018-10-08 23:24] arctan5x commented on #15
1) I have made the documentation highlight the password requirement

2) When in debug mode, there will be a warning message in stdout about a password that does not meet the requirement.

[2018-10-09 00:04] arctan5x commented on #23
We will expose s2s_port and svc_port as ENV vars and update the documentation.

[2018-10-09 00:38] tonytamsf commented on #22
This fix should work? https://github.com/splunk/docker-splunk/pull/29

[2018-10-09 04:16] aegershman opened #30 "Document SPLUNK_APPS_URL param"
[The documentation does not appear to make mention of the `SPLUNK_APPS_URL` parameter](https://github.com/splunk/docker-splunk/blob/master/splunk/debian-9/entrypoint.sh#L120)-- and, unfortunately, when I tested it, it did not appear to properly install any of the splunkbase app urls I supplied.

Is this intentional?

Thank you for your time

## background

I have a usecase for spinning up ephemera

[2018-10-09 05:27] lephino commented on #30
This has portions of an upcoming feature, and in the current version on github does not function.  Please watch this following:
https://github.com/splunk/docker-splunk/issues/14

Once this is resolved this functionality will fully be supported.

[2018-10-09 05:27] #30 closed, assigned to nobody

[2018-10-09 05:42] nwang92 commented on #30
@aegershman as an aside question, is your expectation to pass in a Splunkbase URL (ex: https://splunkbase.splunk.com/app/978/) to get the app? Or are you hosting the tarball internally somewhere such that the URL you provided is a direct link to the package (ex: http://example.com/rfc5424-syslog_11.tgz)?

[2018-10-09 15:38] tonytamsf commented on #22
Closing this issue, I agree with @nwang92 here https://github.com/splunk/docker-splunk/pull/29#issuecomment-428025311

[2018-10-09 15:38] #22 closed, assigned to arctan5x

[2018-10-09 18:36] aegershman commented on #30
@lephino awesome, thank you 👍

@nwang92 For my current use-case everything I need is available on Splunkbase, so passing as a Splunkbase URL is fine. But now that you're pointing it out, I can definitely see the value in passing an arbitrary link to a tarball. This would make it much easier for Splunk admin operators to onboard teams' custom add-ons, and generally make things more self-service for

[2018-10-09 19:57] LorenKeagle opened #32 "How to enable receiving?"
How do I start a new container with receiving enabled on port 9997?

This seems like a very common use case, yet I don't see any options to automate this.  I'm simply trying to set up a demo environment with both splunk and splunk-uf containers.

For that matter, how can I set up a forwarder container to automatically forward to a standalone container?

[2018-10-09 20:28] srevenant commented on #18
Having it in the Dockerfile makes it portable and follows the community paradigm--the original idea of Dockerfile is to get away from CMS tools and just use simple self-describing steps.  Taking it into another tool (any CMS) leaves the common tool and you are introducing something new. It's kind of like trying to use containers as servers, on some level. If you haven't seen [12factor.net](https:/

[2018-10-09 22:42] mikedickey commented on #18
For this initial release, we intentionally decided to take a "lift and shift" approach and not make any modifications to the Splunk binaries. Taking a "traditional" enterprise application like Splunk and packaging it into a container requires very different considerations from what one faces when building a new container-native app from scratch. In particular, Splunk's configuration is both extrem

[2018-10-09 22:46] LorenKeagle opened #33 "Splunk standalone log error contains cleartext password"
Trying to launch Splunk standalone in docker-compose displays the following error:

`splunk_1           | fatal: [localhost]: FAILED! => {"changed": true, "cmd": ["/opt/splunk/bin/splunk", "add", "licenses", "-auth", "admin:password"], "delta": "0:00:00.534752", "end": "2018-10-09 22:41:56.171553", "msg": "non-zero return code", "rc": 4, "start": "2018-10-09 22:41:55.636801", "stderr": "", "stderr

[2018-10-10 10:01] dessyd opened #34 "TASK [splunk_search_head : Check Splunk instance is running] is failing"
When trying the advanced example:

`SPLUNK_COMPOSE=cluster_absolute_unit.yaml make sample-compose-up`

The task `TASK [splunk_search_head : Check Splunk instance is running]` is failing after 50 retries due to admin password failure.

I've set the password in the `defaults.yml` according to the doc but the deployment check is failing.
Fortunately the cluster is deployed and I'm able to login using

[2018-10-10 17:16] arctan5x commented on #34
Below is the link to the actual play.
https://github.com/splunk/splunk-ansible/blob/master/roles/splunk_common/tasks/wait_for_splunk_instance.yml

For debugging, I would suggest ssh or exec into the container right after you run the make sample-compose-up command and run the same curl request as the ansible task to see what it actually complains about. Password setting happens way before checking

[2018-10-10 17:25] arctan5x commented on #33
Hi. First, executing the license task without license url has been fixed and the change was merged a couple days ago. Second, it is an Ansible behavior to print out the command (which contains password in cleartext) when the task failed.

Possible solution that comes to my mind: wrap how we run the ansible playbook within a script so that we can capture the Ansible output before it makes to stdout

[2018-10-10 17:36] bb03 commented on #33
We should probably use
``` no_log: True```
for that task, and other ones that could possibly log the credentials.

[2018-10-10 17:37] arctan5x commented on #33
Should we apply no_log for all tasks that uses Splunk password?

[2018-10-10 17:45] bb03 commented on #33
Yeah. We should probably also provide documentation on using debug flags too, so they can see the log contents when necessary.

[2018-10-10 20:31] bb03 commented on #32
Hi Loren,
 If you look at the test_scenarios directory, you should see the 1so1uf.yaml example.  It currently sets up a universal forwarder and a standalone instance, and the forwarder forwards to the instance. To accept incoming requests on the standalone instance, all you would need to do for that service is to expose port 9997.  Something like this
[code]
Make the modification and then start th

[2018-10-10 21:57] nwang92 commented on #14
Although I see the use-case for a direct-from-splunkbase install, there's not a clear API on that side to make this feasible. Additionally, Splunkbase requires a login with your Splunk account (as created on www.splunk.com) as well as an license acceptance check. If we wanted to do this as part of the bootstrapping, we would need to expose more secrets/variables/flags.

Would it be feasible for SP

[2018-10-11 05:49] #15 closed, assigned to arctan5x

[2018-10-11 13:01] ryanfaircloth opened #36 "splunk user posses sudo rights"
Connect to  the splunk container
docker exec -it <id> /bin/bash

from shell "sudo apt-get update"

while having Splunk run as non root to protect from web exploitation is important allowing sudo is a shallow control.

[2018-10-11 13:18] lephino commented on #36
Not quite sure what you're referring here, containers running as root are very common and not against best practices.  These containers are still limited by the cgroups in the kernel and the actual docker system itself.  What's the real issue with the access to sudo?  If we remove this, you'll no longer have access to change or overwrite anything that requires root access.  I'm really not sure rem

[2018-10-11 13:23] ryanfaircloth commented on #36
I don't disagree with running as root, the container is now using splunk, which obfuscates a risk that should be managed. The splunk user is non privileged under a normal installation. Because splunk=root I would prefer to run as root if we run under splunk then splunk should be a non privileged user. We should remove splunk from the sudo group. Admins needing to connect as a user other than splun

[2018-10-12 07:46] dessyd commented on #34
After "bash"ing into the sh1 container I issued the following curl:
[code]

[2018-10-12 08:17] LorenKeagle commented on #32
I see.  I was assuming that receiving wasn't enabled because the receiving port listing wasn't where I thought it was.  I see 9997 enabled now under "Settings"->"Forwarding and receiving"->"Configure receiving".

However, now I'm running into another issue.  When I stop my docker container for the splunk forwarder, and bring it up again (i.e. simple 'docker-compose down' then a 'docker-compose up'

[2018-10-12 09:21] cocowalla opened #38 "SPLUNK_ADD, SPLUNK_CMD, SPLUNK_APPS_URL not working"
I'm trying out Splunk with Docker Compose. My `environment` section looks like:

[code]
The password is set as expected, but the specified app doesn't get installed, and no inputs are added (I tried both `SPLUNK_ADD` and `SPLUNK_CMD` to add them).

[Full log](https://gist.github.com/cocowalla/d0018e7bd560e243fc16f745de560fd5) from `docker service logs -f sinks_splunk` doesn't show anything about `

[2018-10-12 15:28] nwang92 commented on #34
The 8000 port used by Splunk is the web port, which should only listen on HTTP. Based on the endpoint you're trying to hit, I think you should change the port from 8000 -> 8089, which is the management port that listens on HTTPS.

[2018-10-12 17:45] arctan5x commented on #38
Hi. Currently, SPLUNK_ADD and SPLUNK_CMD are only universal forwarder supported variables. SPLUNK_APPS_URL is currently not a supported variable.

[2018-10-12 19:07] aegershman commented on #38
For SPLUNK_APPS_URL see https://github.com/splunk/docker-splunk/issues/14

[2018-10-12 19:18] cocowalla commented on #38
My mistake, [entrypoint.sh](https://github.com/splunk/docker-splunk/blob/80616d87ba3a8e4bb8ae32aaa68895a4a86ed060/splunk/debian-9/entrypoint.sh#L121) mentions `SPLUNK_APPS_URL`, so I just assumed it was in use.

Is there a supported way to add inputs to a standalone instance using config?

[2018-10-12 23:23] nwang92 commented on #32
@LorenKeagle this looks like an idempotency issue in the local ansible plays. Thanks for pointing this out, I'll get this addressed!

[2018-10-13 07:52] ryanfaircloth opened #39 "Support installation of apps from "repository""
It would be very helpful to support installation of apps using the slim command by role so the proper and only proper components are installed. The source should be a host shared folder where the tgz files exist.

[2018-10-14 05:58] outcoldman opened #40 "SPLUNK_HEC_TOKEN is not supported"
Looking at the https://github.com/splunk/splunk-ansible/search?q=set_as_hec_receiver.yml&unscoped_q=set_as_hec_receiver.yml - seems like you use it only for forwarder and indexer, but not the standalone version.

It is very confusing because you mention this environment variable in advanced configuration https://github.com/splunk/docker-splunk/blob/master/documentation/ADVANCED.md#advanced-configu

[2018-10-14 14:55] outcoldman commented on #40
My `defaults/defaults.yaml`

[code]

And `docker-compose.yml`

[code]

[2018-10-14 17:13] #38 closed, assigned to nobody

[2018-10-14 17:31] arctan5x commented on #40
This is True. We don't have the standalone hec support now. This can be an easy fix.

[2018-10-14 20:03] outcoldman commented on #10
To be honest this is a blocking issue for me from switching to a new container. I cannot talk for everybody else. Just an additional 20 seconds for startup will increase the length of the tests and time that I need to bootstrap a new development environment. When people compare containers to VM - one of the main benefits is a startup time. For 20 seconds I can start a new VM and also run apt-get u

[2018-10-14 20:31] outcoldman commented on #18
@mikedickey it is not only a question of how you configure the image but also security. Fewer dependencies you have inside your container, fewer vulnerabilities you are going to have. It is silly to have now TWO python runtimes inside of the container (one is shipped with Splunk, another one you install for ansible).

Also, this is a python version that you have inside the image

[code]

It is 2 y

[2018-10-14 20:53] outcoldman commented on #36
not true, it is a bad practice. Also, assume that I can remap UIDs inside of the container, so the root of the container will be actually uid `10001`, and so the `sudo` command will not work.  So the container will fail to start. Meaning if you will apply best practices in your Kubernetes and OpenShift environments - you will not be able to start this container.

As an example (see `--user 999:0`)

[2018-10-15 04:28] ryanfaircloth commented on #36
So the entry point runs ansible (as root) via SUDO which means its managing itself, thats risky taking away sudo breaks the entire solution. Running entry point as root then launching Splunk as splunk user without sudo rights would address the escalation path from Splunk but not the issue with changing UID being pointed out.

[2018-10-15 08:57] #34 closed, assigned to nobody

[2018-10-15 08:58] dessyd commented on #34
The issue was due to an improper `default.yml` file

[2018-10-15 14:49] srevenant commented on #18
I just don't want ansible in a container.  Period.  Ever.  It's nothing personal with Ansible, and has to do with the heart of what containers are.  You just don't add server management tools into a container, it's just not the "idiomatic way."

It makes them a non-starter, and I can't even reference things in them to build my own containers, which makes it even harder to reference.  Using a bash

[2018-10-15 16:23] lephino commented on #40
Just had another request for this feature through email, we'll get it added.

[2018-10-15 16:24] lephino commented on #39
https://github.com/splunk/docker-splunk/issues/14

[2018-10-15 16:24] #39 closed, assigned to nobody

[2018-10-15 16:35] lephino commented on #36
We can do a lot around this, and we can change this.  Questions for you guys, as this is a direct feature ask of us, who would you like to see this toggle / handled?  Should we set a var for adding the sudoers on startup?  Baked in the image?  A simple "remove" flag on startup?  I hate to say this, the amount of people that have asked for this greatly out weigh the ask to remove it.  (Believe it o

[2018-10-15 16:49] lephino commented on #18
Hey guys, this debate is taking a turn down roads that shouldn't be in a public issues thread.  Happy to facilitate some internal discussions / email / debates over webex.  Reality is, we can't make every single person happy, but we can try to facilitate multiple people's processes.  @amitmookerjee  is currently the pm and you can reach out to him directly for some of these support / discussion po

[2018-10-15 16:53] outcoldman commented on #36
@lephino OpenShift (by default) and Kubernetes (allows to do that) automatically remap UIDs inside of the container to something like 100xxx. I assume because of that ansible will not work, as it always switches to sudo https://github.com/splunk/splunk-ansible/blob/93ee041942ed37ade01fbd308dd80ffa264ae5fe/ansible.cfg#L25-L26

And as I understand @rfaircloth-splunk concern, if you run ansible playb

[2018-10-15 16:57] outcoldman commented on #18
@amitmookerjee @lephino I will speak mainly for myself (and I assume I share the same concern with @srevenant), I would really want to have a slim Splunk image, that does not have any `support` tools or `orchestrator` tools. I would prefer to have an image in between base and image with ansible, that has only Splunk, similar to what we had in the community supported image.

- Layer 0. Base image (

[2018-10-15 16:57] lephino commented on #36
@outcoldman to set perms on folders and to deal with volume mount perms that are set incorrectly on FTR.  All of this is addressable by the configuration of the containers, and can be addressed in specs, but most users are just not that knowledgable about docker yet.  Hate saying it, but the user base just isn't trained enough to not shoot themselves in the foot.

We could easily move / change thi

[2018-10-15 17:04] lephino commented on #18
I think that's more of a question of what Splunk support can maintain and say is validated.  I'll leave @amitmookerjee to deal with the funding / support side of the house, but I don't think this is the right forum to have these discussions on.  Let's get some use-case driven feedback in the PRD and go down the proper channels for this discussion and remove it from a public issues thread.  Obvious

[2018-10-15 17:22] outcoldman commented on #18
@lephino to be honest, not sure if closing this thread is the best way to handle it. Can we keep it open, at least for now? And close it if it will become inactive.

If you want to schedule a call to discuss it, I will be happy to join.

[2018-10-15 17:27] lephino commented on #10
As you're aware, when you're first creating volumes, they are empty and require some "copying" around to make them work.  As we move into the world of orchestrators updating the apps, you have to remember, this isn't about the "first" run of the app, it's the 2nd.  If you put 7.2.0 on, and then you want to move the data to 7.2.1, you're now requiring every single person to run the docker build wit

[2018-10-15 17:37] amitmookerjee commented on #18
@srevenant -  I would like to setup up a call to discuss your feedback. Please can you send me a note at amookerjee@splunk.com with possible time-slots that work for you ?

@outcoldman - Will include you in this discussion as well.

[2018-10-15 18:17] outcoldman commented on #18
@amitmookerjee  thanks!

@amitmookerjee @lephino as an idea, we can also bring back the `legacy` images as a lightweight image, and make the configurations to be community supported, but assuming that customers still will be able to get support for the product itself. Do you think that will be visible?

[2018-10-15 18:18] mikedickey commented on #18
The old github repository still exists at https://github.com/splunk/docker-splunk-legacy

@srevenant anyone who would like to build their own containers is certainly welcome to continue using that, or to just create their own from scratch. The goal of this effort is to serve customers who would rather have Splunk build, test and support it for them, end-to-end. We're trying to be transparent, but

[2018-10-15 18:18] #18 closed, assigned to nobody

[2018-10-15 18:41] outcoldman commented on #36
@lephino correct, I remember the issue with the permissions, I thought docker actually fixed that and made it much easier to work with.

I just made a simple test

[code]

After that I could

[code]

also

[code]

Is this issue with the permissions still exist for data volumes?

[2018-10-15 18:45] outcoldman commented on #10
@lephino correct, the upgrade issue was solved a long time ago https://github.com/splunk/docker-splunk-legacy/blob/master/enterprise/entrypoint.sh#L23, you can compare version inside of the `/opt/splunk/etc` and backup folder and copy it over only in case if that has been changed.

[2018-10-15 19:10] lephino commented on #10
I didn’t say it wasn’t solved. I said it requires different interactions and different complexities and causes different issues. This issue can be solved in more ways as well.  I’m saying; at this time, 20s does not justify the added complexity or the support cost to handle that complexity. We will continue to investigate structures to decrease install time.  Our overall focus should be on that; t

[2018-10-15 19:36] lephino commented on #36
They did, hence me mentioning that I think i can transition back to full splunk user, it's more about the amount of people that requested the sudo rights be added to the user (as I mentioned, we originally didn't have it that way, and it's in no way a requirement for ansible).  Trying to figure out how to best make everyone happy.  I hate to say it, most people seem to like going into a generic us

[2018-10-15 20:49] outcoldman commented on #36
Sounds good. My suggestion will be to keep it without `sudo`, if that is still possible. And just teach folks how to get root access when they need it. Word is moving towards non-root users inside containers, so prepare users to this change, and so they will not be surprised in kubernetes and openshift

[2018-10-15 21:22] outcoldman commented on #10
@lephino let me rephrase the issue to `Startup/restart performance degradation (10s legacy image vs 30-50s new image)`. I am a developer myself and had some experience with the Splunk running inside images. So instead of writing a ticket about the problem I experienced, I pointed to the reason why I believe I saw this issue.

At this point, I honestly do not care about the implementation details.

[2018-10-15 21:38] lephino commented on #10
1.) Yes spinning up and down often will impact performance and do understand what you're saying.  Also CPU speed directly influences how fast it can uncompress (just like on bare-metal)
2.) How are you restarting the container?  Docker restart or equivalent?  There is a function in the entrypoint to restart and not eat this cost time without the container unpackage times.  We also had a start rout

[2018-10-15 21:40] outcoldman commented on #10
About (2) - I am talking about `docker restart` (or `docker stop` and `docker start`) not a Splunk restart, which I do quite often as well.

[2018-10-15 22:04] lephino commented on #10
yeah for 2) you can do a work around with docker exec calling entrypoint.sh with a restart.

```bbingham$ docker exec ba79278bc315 entrypoint.sh restart```

and you'll see in the main container:

[code]

this one we're already talking about internally and feeling out how many people use stop / start and what the right approach is  (and what should be expected out of splunk).  Adding this to an exa

[2018-10-17 07:12] ghost opened #42 "SPLUNK_ADD does not perform any actions"
I'm starting Splunk for development purposes using Docker via Ansible like this:
[code]
but when I try to connect to Splunk - there is no TCP data input source present so I have to add it manually. I had no success calling
[code]
too because I receive the following error:
[code]
Is there any way to overcome the problem? Do I need the Developer License for Splunk to work correctly?

[2018-10-17 21:14] arctan5x commented on #42
SPLUNK_ADD is only supported on Splunk universal forwarder image right now. Does it seem like a valid feature to add for a general Splunk? @amitmookerjee @lephino

[2018-10-17 21:24] lephino commented on #42
probably is, at-least on heavy fw / standalone?  I'd argue you should use an app if it's a SH or IDX and do it correctly.

[2018-10-18 12:32] kdthanvi opened #43 "SPLUNK_USER is root in universalforwarder"
##Details :
I want to run splunk-universalforwarder with non-root user. I checked the detailed docker file and from [this](https://github.com/splunk/docker-splunk/blob/master/uf/debian-9/Dockerfile#L41l) I thought it should be user `splunk`.
But when I run the docker image and check using `docker exec` I see the user to be `root` (though everything inside is with `splunk:splunk` permission).

I am

[2018-10-18 15:01] outcoldman opened #44 "Publish new version of Splunk Docker Image"
How often new images will be available at hub.docker.com?

I am looking forward to trying this https://github.com/splunk/splunk-ansible/pull/9, but seems like `splunk/splunk:7.2.0` was updated ~~16~~ ~~17~~ 18 days ago https://hub.docker.com/r/splunk/splunk/tags/

[2018-10-18 15:04] outcoldman commented on #43
~~Just verified, seems like it is not only a UF problem but also Enterprise image as well.
Seems like the reason for that, because ansible uses sudo, see https://github.com/splunk/docker-splunk/issues/36#issuecomment-429930664, and so launches splunk as root.~~

I exec in the wrong container. All worked as expected - I see splunk as a user for UF and Enterprise image.

[2018-10-18 15:16] outcoldman commented on #43
@kdthanvi  Just verified UF and Enterprise images 7.2.0, the actual UID of the processes are 999, and I see Splunk as a user running processes

<img width="1485" alt="screen shot 2018-10-18 at 8 12 26 am" src="https://user-images.githubusercontent.com/597158/47164968-ec463780-d2ad-11e8-88e7-beb87f8ee610.png">

<img width="1478" alt="screen shot 2018-10-18 at 8 14 51 am" src="https://user-images.gi

[2018-10-18 15:27] aegershman commented on #43
(Sorry for off-topic, but @outcoldman could I ask what that dashboard view is in the screenshot you posted? Is that from within Splunk? How did you get that data?)

[2018-10-18 15:29] outcoldman commented on #43
Also just run `docker run -it -e 'SPLUNK_START_ARGS=--accept-license' -e 'SPLUNK_PASSWORD=changeme'    splunk/universalforwarder:latest`

and got 999 as uid

[code]

@kdthanvi could you verify again with `latest`? I assume `7.1.0` behaves differently, because it is an old/legacy image.

[2018-10-18 15:31] outcoldman commented on #43
@aegershman this dashboard is part of our (https://www.outcoldsolutions.com) application [Monitoring Docker: Metrics and Log Forwarding](https://splunkbase.splunk.com/app/3723/)

[2018-10-19 02:58] kdthanvi commented on #43
@outcoldman Thank you for the great help.
I deleted all the images I had regarding splunk, I did clean `docker run`. Looks like the image `splunk/universalforwarder:latest` works as you said (with `docker exec` also I got logged in as splunk user).

[2018-10-19 03:08] kdthanvi commented on #43
When I use the latest image (with my production setup which is using [kubernetes](https://kubernetes.io/)), it's **NOT** working.
Reason being :
Due to some constraints, I have kubernetes security policy set as`securityContext : runAsNonRoot : true` (this is the reason I wanted to run the splunkforwarder as non-root user).
And when I am running the `splunk/universalforwarder:latest` image, I am ge

[2018-10-19 05:11] outcoldman commented on #43
@kdthanvi I believe current image has issues with non-root user, because it uses `sudo` access sometimes https://github.com/splunk/docker-splunk/issues/36
I am not 100% sure about that

[2018-10-19 22:53] outcoldman commented on #10
@lephino btw, just another proof why there is no 30% improvement of the image size, take a look at

https://hub.docker.com/r/splunk/splunk/tags/ - 7.2 - 394 Mb
https://hub.docker.com/r/outcoldman/splunk/tags/  - 7.2.0 - 407 Mb

It because images are transferred in a compressed format.

That feels like a solution of "you are holding it wrong". I need to restart the container because I could stop Sp

[2018-10-19 22:56] lephino commented on #10
@outcoldman that's the compressed tag on dockerhub?  Do a docker images on a host you download the image to.

and the entrypoint I mentioned is something we're addressing.  I said that's a workaround.

[2018-10-19 23:53] mikedickey commented on #44
We plan to update the image as new versions of Splunk are released. We're also evaluating the feasibility of updating the image more frequently, in-between Splunk releases.

[2018-10-20 01:21] outcoldman commented on #44
Mike, please consider enabling auto-build for the docker hub. As I understand there are no specific reasons for people to wait for a new release.

Also curious, how are you going to handle 7.3 and 7.2.x releases? Will this repo always provide the latest or it will support multiple minor versions?

[2018-10-20 01:23] outcoldman commented on #10
@lephino I would assume on the host images are unpackaged, for the same reason why it will be good to unpack the splunk.tar.gz as well. To reduce the startup time. Image if every image in docker will require seconds to start? That will kill the whole point of containers.

[2018-10-20 03:20] nwang92 commented on #43
I don't think #36 is relevant here, this seems to be an implementation detail with Kubernetes specifically. I found https://github.com/kubernetes/kubernetes/issues/59819 which seems to point out that in order for the securityContext/runAsNonRoot to work, the Dockerfile itself has to be built with `USER <id>` specified instead of `USER <name>`.

@kdthanvi can you confirm with Kubernetes version you

[2018-10-22 17:30] mikedickey commented on #44
We do plan to publish updates for all minor splunk releases (7.2.x). Being totally transparent: the reason we're not updating Docker hub more frequently right now is because it is a manual process. Automating this is at top of our TODO list.

We would like "latest" to represent the latest state of code here + latest Splunk release. Still ironing out details on best process for pushing all the othe

[2018-10-22 23:34] arctan5x commented on #23
PR has been made and will be merged after review.

[2018-10-22 23:34] #23 closed, assigned to arctan5x

[2018-10-23 04:02] nwang92 commented on #40
This was fixed as part of this PR: https://github.com/splunk/splunk-ansible/pull/9. It should be available when we push a new image. Going to close this for now.

[2018-10-23 04:02] #40 closed, assigned to bb03, nwang92

[2018-10-23 05:44] nwang92 commented on #14
Fixed here: https://github.com/splunk/splunk-ansible/pull/8; should be included in the next push of the images.

[2018-10-23 05:44] #14 closed, assigned to nobody

[2018-10-23 05:49] nwang92 commented on #32
Closing due to PR made above; this fix should be included in the next image push we make

[2018-10-23 05:49] #32 closed, assigned to nobody

[2018-10-23 21:59] bb03 commented on #40
@nwang92 Fixed this in the splunk-ansible branch -- https://github.com/splunk/splunk-ansible/blob/master/roles/splunk_standalone/tasks/main.yml.  Just verified that his fix works for this issue.  Although I did it through the /tmp/defaults/default.yml folder and not through the args passed in on the docker-compose file.

[2018-10-23 23:25] kdthanvi commented on #43
Hi @nwang92 Thanks for the comment.
I thought the same when I read the error message, so I update the Dockerfile to have `USER <id>` instead of `USER <name>`.
The image runs well in my local (thanks to you, I could build successfully using `make uf-debian-9`).
But when I am running in the kubernetes cluster, the pod isn't starting as it should(it's is `CrashLoopBackOff` state) and the slpunk-uf co

[2018-10-23 23:31] kdthanvi commented on #43
Please check this [commit](https://github.com/kdthanvi/docker-splunk/commit/53e335e5a536db2f5a60d3df68e4f801a0ee2a16). This is how I changed/added to make the `uf-debian-9` image run with `USER <id>`.

[2018-10-24 03:35] kdthanvi commented on #43
I checked the other parts of the uf & the`entrypoint.sh` also has many `sudo` tasks. So I tried to change the ` usermod -aG sudo ${SPLUNK_USER}` to ` usermod -aG sudo -u ${SPLUNK_USER_ID} ${SPLUNK_USER}` as well.
But then the `docker run -it -e 'SPLUNK_START_ARGS=--accept-license' -e 'SPLUNK_PASSWORD=changeme' splunkforwarder-debian-9` fails with too many `permission denied` errors.

[2018-10-25 06:35] nwang92 commented on #43
@kdthanvi gotcha, yeah I'm guessing changing `${SPLUNK_USER}` to `${SPLUNK_USER_ID}` will likely fail downstream. I suppose the areas of concern are mainly in the entrypoint in this particular case? Or other areas where privilege escalation comes into play?

I don't have a k8s cluster readily available for that particular version, but I'm going to try building the image from your commit and seeing

[2018-10-26 03:36] kdthanvi commented on #43
Hi @nwang92 just fyi, I did check the entrypoint and it's loaded with `sudo`. I did try to change(removed `sudo` and gave the `splunk:9999` user permission for those directories) all those as well, but then I ended up facing many permission issues & `No such file or directory` issues.
[Here](https://pastebin.com/Sc5SAk1T) is the error that I am getting during `docker build`.

Btw, with the commit

[2018-10-27 22:19] jdso7 opened #48 "Failure setting indexers as search peers"
Hi, I'm getting the following error which causes the search head container to stop.

TASK [splunk_search_head : Set all indexers as search peers] *******************
Saturday 27 October 2018  22:04:52 +0000 (0:00:03.579)       0:02:47.351 ******
fatal: [localhost]: FAILED! => {"msg": "The conditional check 'task_result.rc == 0' failed. The error was: error while evaluating conditional (task_result

[2018-10-28 18:07] matthewmodestino commented on #48
Hi jdso7! Have you followed the steps for using docker run to create a `defaults.yaml`?

https://github.com/splunk/docker-splunk/blob/master/documentation/ADVANCED.md#defaultyml-valid-options

If you check out the advanced documentation section, or the kubernetes examples (you do not need to know.use k8s for this to be relevant):
https://github.com/splunk/docker-splunk/tree/master/test_scenarios/k

[2018-10-28 18:15] matthewmodestino commented on #43
Hey kdthanvi, out of curiosity, what are you using the UF for? Sidecar for pods running in k8s? or to actually monitor k8s?

[2018-10-29 07:14] kdthanvi commented on #43
@matthewmodestino I am running splunk-uf as a sidecar container in my k8s pod for getting the application logs (from the app container, running inside the same pod).

[2018-10-29 16:13] ruivapps opened #49 "splunk universal forwarder - no users exist"
trying to following the documentation from: https://github.com/splunk/docker-splunk/blob/master/documentation/SETUP.md

successful
`docker pull splunk/universalforwarder:latest`
faiiled
`docker run -d  -p 9997:9997 -e 'SPLUNK_START_ARGS=--accept-license' -e 'SPLUNK_PASSWORD=1234' splunk/universalforwarder:latest`

docker logs
`fatal: [localhost]: FAILED! => {"changed": true, "cmd": ["/opt/splunkfo

[2018-10-29 17:33] lephino commented on #49
The password needs to be larger than the splunk minimum requirement (think it's 8 right now), just set your password to "123456789" and you should be fine.

[2018-10-29 17:49] ruivapps commented on #49
thanks for the reply.

yes, it works after update password length, hope logs would have better error explanation of error. (instead no users exist, maybe says password not meet minimum requirement)

[2018-10-29 17:49] #49 closed, assigned to nobody

[2018-10-29 17:56] lephino commented on #49
we did add some better logging on the error and on the rebuild this will be much better.

[2018-10-29 18:04] ruivapps commented on #49
super!

[2018-10-29 22:20] nwang92 commented on #43
@kdthanvi I built the image from your fork (https://hub.docker.com/r/nwang92/uf-k8s-test/) and tried it out but I'm not able to reproduce the issue you're seeing, but it's possible that I don't have the securityContext defined correctly. For reference, here's my pod yaml:
[code]

My pod seems to be running ok:
[code]
And the user/group ID's match what you've defined in that commit:
[code]

I am us

[2018-10-30 01:53] kdthanvi commented on #43
Hi @nwang92 What we're doing is not in yaml, but in [podsecuritypolicy](https://kubernetes.io/docs/concepts/policy/pod-security-policy/).
In one line how we're managing is : `podsecuritypolicy` -> `role` -> `rolebinding` -> `serviceaccount` -> `pod`
So, maybe specifying this in yaml won't restrict the use of `sudo` as done in `podsecuritypolicy` (I am not sure about this though).

[2018-10-30 10:02] jdso7 commented on #48
Hi matthewmodestino,

Yes, I have been looking at that documentation. I've used environment variables instead of passing values in the defaults.yaml file.

It's a bit hard to understand the error from the log, even in debug.
So thank you for your hints, I'll double-check those settings.

[2018-10-31 16:45] nwang92 commented on #43
Do you happen to know what your PodSecurityPolicy is set to? I tried creating a PodSecurityPolicy with runAsUser defined as below:
[code]

Using this security policy, I followed the examples from the docs and setup a user/role/role-binding:
[code]

But still unable to reproduce your exact issue, using the same pod yaml from above (nwang92/uf-k8s-test image).
[code]

[2018-11-01 15:36] gdmello commented on #40
@nwang92 - waiting on this feature too - when will it be released?

[2018-11-01 16:14] outcoldman commented on #40
see https://github.com/splunk/docker-splunk/issues/44

[2018-11-05 23:30] arctan5x commented on #48
Hey @JasonConger,

I have investigated this issue and made a fix for it in the Splunk-Ansible Repo.

<img width="1409" alt="screen shot 2018-11-05 at 3 28 33 pm" src="https://user-images.githubusercontent.com/6732195/48033295-a2fc4180-e10f-11e8-8142-6d3ade998370.png">

Seems like peering works after the fix. Note that I took out volumes and license configurations from your yaml since it is your cu

[2018-11-05 23:32] arctan5x commented on #48
fix here: https://github.com/splunk/splunk-ansible/pull/15

[2018-11-13 23:12] #48 closed, assigned to nobody

[2018-11-14 19:20] sghaskell opened #58 "Docs Confusion Around Universal Forwarder"
Is the Dockerhub [splunk/universalforwarder](https://hub.docker.com/r/splunk/universalforwarder/) image the same underlying image in this repo? The docs mention [valid Universal Forwarder environment variables](https://github.com/splunk/docker-splunk/blob/master/documentation/ADVANCED.md#valid-universal-forwarder-environment-variables) but `SPLUNK_ROLE=splunk_universal_forwarder` is not valid.

<i

[2018-11-18 16:42] jannylund commented on #36
Another vote for removing the need to run splunk as privileged. If it's not required to run, then it would feel much safer to avoid the need.

[2018-11-20 15:22] daniyalj commented on #36
@outcoldman 👋 have you been able to run the universal forwarder on OpenShift with an arbitrary UID?

[2018-11-22 16:36] dd-Splunk opened #61 "Link from documentation is broken"
On [(hub|store).docker.com](http://hub.docker.com) the link to the advanced documentation points to: https://github.com/splunk/docker-splunk/blob/master/documentation/ADVANCED.md
But in the repo there is only a `docs` directory and not a `documentation` directory.

[2018-11-27 21:47] outcoldman commented on #44
@mikedickey 7.2.1 is out for a week now, is it possible to get a new release out? Thanks!

[2018-11-28 01:44] BarrieShieh opened #66 "hec_enableSSL in default.yml is not working"
I set hec_enableSSL to 0 in default.yml to just use http connection for this server, but when I started up the application, the option Enable SSL in Global Settings of HTTP Event Collector is still enabled. Is this parameter not support in the standalone version of 7.2.1?

default.yml is like this

[code]

[2018-11-28 04:39] GrahamHannington opened #67 "Fatal error (ignored): missing PATH-TO-LICENSE-FILE argument"
Here's an excerpt from the log from a Docker container that is based on the Splunk 7.2.0 Docker image:

[code]

Is there a way to avoid or suppress that "fatal" error?

The Docker container starts okay, so... there's actually no real problem here. I just don't like that "fatal" error appearing in the log.

Here's why: I'm going to publish a Docker image that is based on this Splunk Docker image. I

[2018-11-28 17:14] mikedickey commented on #44
@outcoldman it's been published
`docker pull splunk/splunk:7.2.1`

[2018-11-29 04:48] GrahamHannington opened #68 "Repeatedly returning to the login page: "Your session has expired. Log in...""
With apologies if this is a Splunk (Web) issue, rather than an issue with this Splunk Docker image...

Embarrassing disclosure: Some careless fool overfed my local Windows install of Splunk too many times, so I'm now testing my Splunk dashboards entirely in Docker containers. I might be that fool; several users forward data from the same source, and I haven't bothered trying to identify which peop

[2018-11-30 03:08] GrahamHannington commented on #67
In my previous comment, I wrote:

Here it is:

https://hub.docker.com/r/fundisoftware/taw-splunk/

Actually, that image has been published for a while. I've just updated it to use Splunk 7.2.0. Previously, it was using Splunk 6.6.3. I updated it both to stay current, and because the Splunk 6.6.3 Enterprise Trial license was "pre-expired" on starting new containers. For details, see my related ques

[2018-11-30 17:14] ryanfaircloth opened #69 "Use submodules rather than clone and gitignore for ansible upstream"

[2018-12-01 00:14] lephino commented on #69
The clone is left that way to allow easier changing of branch used by the upstream ci/cd system.  It allows the make var to be set instead of needing the hash / sha to be set on the module init.  Not sure we'll change to sub modules.  Any real reason for the request?

[2018-12-01 00:15] lephino commented on #68
are you running multiple containers on the same host?  If so, the session-key cookie will break as it's tracked by the url of the host.

[2018-12-01 00:57] GrahamHannington commented on #68
Yes.

Each container uses a different set of port numbers. For example, for Splunk Web:

`http://myhost:18000/`

`http://myhost:28000/`

Sorry, I don't know what you mean by "url of the host".

I understand the terms hostname, port, and URL.

From one of the example URLs I quoted above:

* The hostname is `myhost`
* The port is `18000`
* The Splunk Web URL is `http://myhost:18000/`. By [definition

[2018-12-01 02:13] ryanfaircloth commented on #69
My reasons are transparency, both through web UI and the directory structure the external repository inclusion is obvious unless you get into how the make and images work the external code and any risks are not really transparent.

[2018-12-05 18:11] aegershman opened #71 "Recommended way to set *.conf files?"
Currently I am using [docker-splunk-legacy using the `7.0.3-monitor` image](https://github.com/splunk/docker-splunk-legacy/tree/master/enterprise) as a standalone heavy-forwarder instance. I am creating my `*.conf` files (e.g., `props.conf`, `transforms.conf`, etc.) and mounting them as volumes within the heavy-forwarder container at `/var/opt/splunk/etc/system/local`.

I would like to use this ne

[2018-12-05 19:00] lephino commented on #71
https://github.com/splunk/splunk-ansible/pull/30  -  This will go inside of the next version of the container we ship.

[2018-12-05 19:00] #71 closed, assigned to nobody

[2018-12-06 01:12] lephino commented on #68
your cookies are a little deceiving, the cookies you have are actually "session_id_8000, splunkd_8000" etc, they aren't segregated.  To splunk internal to a container, the session_id was created for the port splunk_web think's it's running on.  In your case, the issue is that splunk is being proxied to 18000, and the cookie stores the wrong port.  Splunk supports running on any port, but this prob

[2018-12-06 01:12] #68 closed, assigned to nobody

[2018-12-06 07:10] GrahamHannington commented on #68
Ouch! Thanks for the clarification, much appreciated.

I was wrong about this:

because I've just experienced this issue with Splunk Free.

The bleeding obvious: this is a real gotcha for anyone using this Splunk Docker image. This behavior is Docker-unfriendly:

[2018-12-06 07:28] GrahamHannington commented on #68
I'm not sure what to write about this restriction in the user documentation for my Docker image.

"Don't run more than one Splunk container on the same Docker host"?!

That sounds to me like a (bad) joke; completely contrary to the idea of Docker containers.

Any suggestions?

Would you consider adding a corresponding item to the [Troubleshooting](https://github.com/splunk/docker-splunk/blob/devel

[2018-12-08 20:21] mpdude opened #73 "How to maintain configuration for the Splunk instance?"
I am considering running Splunk in Docker to replace my current `.deb` based install. My expectation is that a Docker-based setup would make it much easier to upgrade to new Splunk versions in the future. Also, I don't need a particularly fancy setup for just 1-2 GB of log volume per day.

One thing, however, I don't understand yet is what the recommended approach is to keep index data and Splunk

[2018-12-09 02:21] jmervine opened #74 "Add splunk user back to sudoers file"
Please allow for optionally including the "splunk" user in the sudoers file. At the least, include a build arg, which enables it. Another option, would be to add the following lines back (removed in https://github.com/splunk/docker-splunk/pull/72/)
[code]
And then include a something in the entrypoint.sh that removes them again, unless a flag is set to keep them.

Why? Under kubernetes, the `/opt/

[2018-12-09 02:21] jmervine commented on #74
cc @lephino

[2018-12-10 21:37] lephino commented on #74
Please note to those on k8, there was a line to chown all of the var dir in the "pre-sudo" removal, that play is now gone, and you should add it on your own.  For a note, I added the base backage for ACL to the container, so you can now (baring the filesystem / volume mount type you use) support adding a base ACL to the var / etc directory, instead of eating time needed by  the permissions chown o

[2018-12-11 20:58] jmervine commented on #74
@lephino I'm going to close this, now that #75 has been merged to develop.

[2018-12-11 20:58] #74 closed, assigned to nobody

[2018-12-11 21:09] jmervine commented on #73
@mpdude (disclaimer: I don't work for splunk)

The short answer is yes, simply mount `/opt/splunk/{var,etc}` in to the running container. If you're working on machine with an existing splunk install, you can do something like (untested)

[code]

**Be warned though, the above will mount and update those disk locations with what's running in the container, so I wouldn't do something like that withou

[2018-12-11 21:29] mpdude commented on #73
Thanks for the suggestion!

However, my impression was that there are a lot of files unter /opt/splunk/etc (especially in the folders other than local/) that I would never touch.

Wouldn’t it be better if those were the versions from the image, that is those exactly matching the Splunk version?

[2018-12-12 00:23] lephino commented on #73
@mpdude This is why the current style of splunk's docker container untar's on top of volume mounts.  There is a lot of flexibility to mount virtually any of the sub apps / var/run dirs that you'd care about, and we'll untar on top to make sure you have the latest files.  I will however say, we've talked with several people about the feedback, and may eventually drop to "forcing" etc/var be mounted

[2018-12-12 01:26] jmervine commented on #73
RE "there are a lot of files unter /opt/splunk/etc (especially in the folders other than local/) that I would never touch", if I'm understanding you right, that's the kind of the point. Let the splunk image worry about changing those files -- as part of the upgrade. As long as you're only changing things in "local" directories, splunk will update the defaults, but your settings will take precedenc

[2018-12-13 10:08] jasonhue8183 opened #78 "JMS Modular Input"
Hi All,

May i know how to add JMS Modular Input to Splunk docker ?
I try to mount the folder but failed.

Appreciate for any advice

Jason

[2018-12-13 22:45] lephino commented on #78
you should be able to install it like any normal app through the UI.

[2018-12-13 22:45] #78 closed, assigned to nobody

[2018-12-13 22:46] #73 closed, assigned to nobody

[2018-12-13 22:56] lephino commented on #43
Is this issue good to close out?

[2018-12-13 22:58] #36 closed, assigned to nobody

[2018-12-13 22:59] #11 closed, assigned to nobody

[2018-12-13 23:37] arctan5x commented on #33
HIDE_PASSWORD=true as an environment variable should hide all cleartext passwords in Ansible log.

[2018-12-13 23:37] #33 closed, assigned to nobody

[2018-12-14 18:41] jmervine opened #81 "The user / perms model on develop is awkward"
Hey,

I know you all are working on users, perms, etc. right now. My understanding is that on the current "develop" branch, `ansible` is the default user, which sudo's to `splunk` to set things up. This is fine, but it leaves manual interactions a bit awkward.

[code]

This is certainly not a deal breaker, but I thought I'd raise it as an issue while you're still working things out.

Cheers!

[2018-12-14 19:35] arctan5x commented on #81
Yeah. We strongly advise to sudo into Splunk user to interact with Splunk. Docker doesn't really provide a good way to switch a default user during the entrypoint, so if you have any suggestions I would be happy to hear!

[2018-12-14 20:24] jmervine commented on #81
I don't have any clean suggestions that support moving to using an ansible users, as you've decided to do. To be honest, it's the same issue as if `root` were the default user, so perhaps I'm being a bit pedantic here. Apologies.

/close

[2018-12-14 20:24] #81 closed, assigned to nobody

[2018-12-14 22:08] arctan5x commented on #81
No worries. The current battle is security vs ease of usability. Hard to draw the line in the middle :)

[2018-12-17 14:43] bekirby commented on #43
Any idea when this update will be released?

[2018-12-19 15:06] speshak opened #89 "Unable to use Indexer Discovery to configure indexers"
I would like to wire the forwarder up to an indexing cluster using [indexer discovery](https://docs.splunk.com/Documentation/Splunk/7.2.0/Indexer/indexerdiscovery) but there doesn't appear to be a way to supply that configuration to the container.

[2018-12-20 23:50] mikedickey commented on #44
FYI 7.2.2 docker containers were pushed yesterday concurrent with the 7.2.2 release of Splunk. It's now part of our formal release process for Splunk Enterprise to concurrently publish container updates.

[2018-12-21 00:01] mikedickey commented on #43
I believe the new 7.2.2 container published yesterday includes a fix for this.

[2018-12-21 00:01] #44 closed, assigned to nobody

[2018-12-21 00:04] mikedickey commented on #61
Fixed, thanks!

[2018-12-21 00:04] #61 closed, assigned to nobody

[2018-12-21 01:57] bekirby commented on #43
Thanks @mikedickey!

[2018-12-21 03:42] outcoldman opened #91 "Allow to use wildcards for SPLUNK_LICENSE_URI"
With the old version of Splunk container, I could install multiple Splunk licenses from the same folder by using a wildcard, see https://github.com/outcoldsolutions/splunk-app-boilerplate/blob/a73e6238f299c0c4c7e18177df64d30904529b5e/Makefile#L27

[code]

It will be good to have the same ability for when you target local folder with  `SPLUNK_LICENSE_URI`, like

[code]

[2018-12-21 03:50] outcoldman opened #92 "Ansible does not restart splunk after app installation with SPLUNK_APPS_URL"
Not sure if SPLUNK_APPS_URL is supported, but I tried to use it to install an application from a local folder inside of the container. This application has some configurations, that require Splunk to be restarted. The app has been installed, but Splunk was not restarted

<img width="475" alt="screen shot 2018-12-20 at 7 50 15 pm" src="https://user-images.githubusercontent.com/597158/50323834-7bc7b

[2018-12-21 04:26] outcoldman opened #93 "Capability to specify user-prefs.conf for admin user"
I see that I can add a `conf` in the `defaults.yml`, but it is pretty limited, as it writes configurations only to `server/local/*.conf`.
I want to be able to write a configuration for the admin user, which should go to the `$SPLUNK_ETC/users/admin/user-prefs/local/user-prefs.conf`, something like

[code]

[2018-12-21 04:27] outcoldman opened #94 "Write configurations to the apps/{app_name}/local"
Is there are any capability to write a configuration to not `system/local` path?

I am trying to solve simple scenario, write to the `$SPLUNK_ETC/apps/splunk_instrumentation/local/telemetry.conf`

[code]

[2018-12-21 06:43] jasonhue8183 opened #95 "Not able to browse apps"
Hi All,

I not able to browse apps, i want to install JMS messaging modular input. Im running splunk docker in corporate network. I configured proxy.  What firewall rule need to open ?

![not able to browse apps](https://user-images.githubusercontent.com/8756745/50328610-bbdd7c80-052e-11e9-8a0f-b02b5f77fec3.png)

Appreciate for any advice.
Jason

[2018-12-23 18:53] #43 closed, assigned to nobody

[2018-12-25 01:41] BarrieShieh commented on #66
Update: I think this issue have been fixed in version 7.2.3.

[2018-12-28 19:46] c3-rockyong commented on #92
you're right. https://github.com/splunk/splunk-ansible/blob/e71f66f9483784d18dbdd5958d2e38ad6b729965/roles/splunk_common/tasks/install_app.yml doesn't notify to restart splunkd. might want to open an issue there

were you able to use `SPLUNK_APPS_URL` at all? I bump into an issue with SSL cert verification when using `SPLUNK_APPS_URL`, tracking it down, I believe this is caused by Splunk turns on

[2018-12-29 01:55] WaughB opened #96 "Ansible problem after 7.2.1."
Operating System: Ubuntu 16.04
Docker Version: 18.06.1-ce

Attempted to run
[code]

and was met with this the container quickly exited. Checking `docker logs` provided me with:
[code]

This happened for tags: 7.2.2, 7.2.3, 7.2, and latest.

[2018-12-29 21:04] arctan5x commented on #96
For the 7.2.3 release, there was a change in how user and permission are handled inside of the container for security reasons. I just pulled splunk/splunk:latest and was unable to reproduce that issue. Also confirmed that the installed Splunk version is 7.2.3. I am using Docker engine 18.09.0 so would you be able to upgrade the Docker engine and give it another shot?

[2018-12-29 21:21] WaughB commented on #96
Updated Docker to version 18.09.0.
Same result. After running:
[code]
The container quickly exits and docker logs says this:
[code]

Are there any other requirements that changed to run 7.2.3?

[2018-12-29 22:20] arctan5x commented on #96
Not really. 7.2.3 image is backward compatible with previous versions of Docker engine. Would you like to jump on a video call to drill down on this issue?

[2019-01-02 04:40] jasonhue8183 commented on #95
installed app from file

[2019-01-02 04:40] #95 closed, assigned to nobody

[2019-01-02 09:52] jasonhue8183 opened #97 "Error add new app JMS Messaging Modular Input"
Hi,

i having error below after installed app JMS Messaging Modular Input from file  :

`Unable to initialize modular input "jms" defined inside the app "jms_ta": Introspecting scheme=jms: script running failed (exited with code 1).`

Appreciate for any advice.

Thanks
Jason

[2019-01-02 18:42] nwang92 commented on #97
What's the app + version you have installed? Is this from Splunkbase? You may also have success in troubleshooting what went wrong with that modinput if you search for `index=_internal` logs within your Splunk instance.

[2019-01-03 01:34] jasonhue8183 commented on #97
Hi @nwang92 ,

Downloaded Splunk JMS Modular Input v1.6.1 from splunkbase. I installed from file.
I cannot find JMS Messaging listed in Splunk Data Inputs after restart container and with error above .

Appreciate for any advice.

Thanks
Jason

[2019-01-03 03:02] jasonhue8183 commented on #97
I try installed from file or manually untar downloaded file to the mount folder  /opt/splunk/etc/apps still having the same error

`Unable to initialize modular input "jms" defined inside the app "jms_ta": Introspecting scheme=jms: script running failed (exited with code 1).`

[2019-01-03 07:42] JanGoerss commented on #96
Hi,

i have the same problem from 7.2.1 to  (7.2.2, 7.2.3 or latest)

Docker Version : 18
Operating System: Oracle Linux Server 7.6

docker compose config:

[code]

and the log

[code]

[2019-01-03 20:00] arctan5x commented on #96
Just got off the call with @WaughB. Seems like the issue exists in linux environment and not MacOS. Current workaround would be using 7.2.1 or below container. Will be working on the fix immediately.

Edit:
Could not reproduce with the same Linux distribution and the same version of Linux Kernal. All other dependencies were identical. After resetting the Docker environment and dependencies, Brett'

[2019-01-03 23:18] nwang92 commented on #97
Hey Jason,

I did some more investigation on this and I'm able to reproduce your error. For some background: modinputs generally have some schema which get validated when Splunk starts. You can actually simulate what the scheme looks like with something like: `/opt/splunk/bin/splunk cmd python /opt/splunk/etc/apps/jms_ta/bin/jms.py --scheme`, which should dump a large xml blob.

When I ran the com

[2019-01-04 01:30] jasonhue8183 commented on #97
Hi @nwang92,

Appreciate for the prompt response. We prefer Java 8.

Thank you.
Jason

[2019-01-04 21:00] WaughB commented on #96
After speaking with @arctan5x and @nwang92 I decided to completely remove and reinstall everything Docker on my box. These are just the steps I did, I few may seem redundant and excessive but it worked in the end.

[code]

After all of that I restarted my system, then proceeded to reinstall everything based on the instructions from the [official page](https://docs.docker.com/install/linux/docker-c

[2019-01-05 16:45] matthewmodestino commented on #97
I would suggest both java 8 and open-jdk as we have apps that call for both (ITSI and DBconnect).

[2019-01-07 19:10] arctan5x commented on #96
Going to close this issue for now since @WaughB has resolved his case. @JanGoerss let us know if you still run into the same issue after trying out Brett's solution.

[2019-01-07 19:10] #96 closed, assigned to nobody

[2019-01-07 19:11] arctan5x commented on #97
There is a PR pending to support Oracle Java 8 and Oracle Java 11.

[2019-01-09 18:55] nwang92 commented on #92
Sorry, this fell off my radar but I can probably address this.

@c3-rockyong what SSL issues were you seeing? Do you have an error log or way to reproduce it?

[2019-01-09 19:13] nwang92 commented on #66
I'll add a test for this later, but just verified with a defaults.yml with the following set:
[code]

After the container starts, I'm able to use http:
[code]

[2019-01-09 19:31] #66 closed, assigned to nobody

[2019-01-09 20:02] c3-rockyong commented on #92
@nwang92: yes, you can do something like this:

[code]

error message:
[code]

[2019-01-10 23:55] nwang92 commented on #92
Got it, it looks like Splunk handles the http links passed into the `/services/apps/local` but not https. I'll get that fixed!

[2019-01-14 23:32] markgifford commented on #96
Just wanted to say I had the same issue as OP trying to pull the latest image. Same Docker engine but Ubuntu 17.04 as the host OS.

I updated to:
Docker version 18.09.1, build 4c52b90

But I had the same result. In the end I just grabbed image 7.2.1 and it was fine for me (just looking to test out Splunk, don't necessarily need the latest release).

[2019-01-14 23:59] arctan5x commented on #96
@markgifford Did you remove the Docker engine and all its dependencies completely and reinstalled?

[2019-01-15 00:29] markgifford commented on #96
@arctan5x No, I didn't sorry. Maybe I will try that in a few weeks if I continue using Splunk but for now I'm OK just playing around with 7.2.1.

[2019-01-15 00:29] arctan5x commented on #96
@markgifford Ok.

[2019-01-18 01:31] djsweet opened #105 "Cannot install `splunk/splunk:latest` on Ubuntu Server 18.04.1 and Docker available via `snap install`"
This is the same underlying bug as #96 but with 100% reproducibility as of this writing.

Canonical is still shipping Docker 18.06.1-ce in the default `snap` repository. I intend to notify them that their Docker is out of date, but they're now five months behind so it's safe to assume that their upgrade process will take a while.

From a brand new Ubuntu Server 18.04.1 installation, after the init

[2019-01-20 16:18] qiukkk opened #106 "Why can't I log in to the SPLUNK platform?"
I used the tag is latest .
and use this command "docker run -d -p 8000:8000 -e 'SPLUNK_START_ARGS=--accept-license' -e 'SPLUNK_PASSWORD=<password>' splunk/splunk:latest".
The password has changed to what I know，but I use my password can't log in? what's the problem?
![image](https://user-images.githubusercontent.com/23185029/51441936-06127300-1d12-11e9-9e26-d25c11777c79.png)

[2019-01-21 15:43] arungn-tii opened #107 "unable to map inputs.conf to latest forwarder container"
I used to be able to do this with splunkforwarder-7.2.1-be11b2c46e23-Linux (splunk/universalforwarder@sha256:cf9b53ee182de36671de774ffecd63f3cbf3ed7cb353a50804f14151e25d12be)

```docker run -it  -p 9777:9777 -v /etc/admin/inputs.conf:/opt/splunkforwarder/etc/system/local/inputs.conf -e 'SPLUNK_START_ARGS=--accept-license' -e 'SPLUNK_INDEXER_URL=indexers.xxxx.com' -e 'SPLUNK_PASSWORD=xyz' splunk/un

[2019-01-22 16:08] figaro001 commented on #96
The same problem (
`2019-01-21 19:25:28,483 p=8 u=ansible |  fatal: [localhost]: FAILED! => {"msg": "Failed to set permissions on the temporary files Ansible needs to create when becoming an unprivileged user (rc: 1, err: chown: changing ownership of '/var/tmp/ansible-tmp-1548098727.84-181837930380149/': Operation not permitted\nchown: changing ownership of '/var/tmp/ansible-tmp-1548098727.84-1818

[2019-01-22 19:46] lephino commented on #107
What are you placing in inputs.conf that you need to volume map it?

To your question, the ansible user has sudo rights, you can volume mount this in just as you're doing, and then run a ansible-pre-task to chown the directory.  You could also use the {configs} vars option that's been added to have this file get generated every time with your settings applied instead of volume mounting.

[2019-01-22 20:07] lephino commented on #106
The container forces UTF-8, and requires the password to be over 8 characters, can you try setting it to something like "MyNewSplunkPassword" and try it again?

[2019-01-23 05:40] qiukkk commented on #106
The problem is fixed, it is my problem, I made a very stupid mistake! ! !

[2019-01-23 05:41] #106 closed, assigned to nobody

[2019-01-23 09:49] arungn-tii commented on #107
My inputs.conf only has a bunch of log paths to monitor.

[code]

I forgot to add the log volume to the docker command earlier. The correct command is

[code]

I'm new to splunk so what other methods can be used to add those log paths to forwarder? Or what's the right way to tell forwarder container to monitor some log paths on the host ?

[2019-01-24 07:56] LarsImNetz opened #114 "Typo? What do you mean with the word "ansible" in your files?"
In dict.leo.org there exists no translation for "ansible", nor in linguee.com also google translate does not know this word.

[2019-01-24 08:13] arctan5x commented on #114
The term "ansible" refers to an open source software provisioning tool. Also note: https://www.ansible.com/

[2019-01-24 08:16] arctan5x commented on #96
@figaro001 would you try Brett's solution as outlined above?

[2019-01-24 08:37] figaro001 commented on #96
I installed the Docker image on the newly purchased Synology NAS. Installed a clean system, Docker and downloaded the image.

[2019-01-24 19:48] matt-wirth commented on #96
Having the same issue. Purging docker assets and reinstalling had no effect. Platform is Ubuntu Server.

[2019-01-24 21:20] lephino commented on #96
Did you guys happen to take a look at https://github.com/splunk/docker-splunk/issues/105?

[2019-01-24 22:02] matt-wirth commented on #96
Very curious. Personally not using a snap, using the official docker repo for Ubuntu.
[code]

[2019-01-25 17:13] nwang92 commented on #92
Both issues regarding apps have been reworked and fixed here: https://github.com/splunk/splunk-ansible/pull/68

This should be out in the next maintenance release of Splunk (7.2.4).

[2019-01-25 17:13] #92 closed, assigned to nobody

[2019-01-25 17:14] nwang92 commented on #97
Java support has been added here: https://github.com/splunk/splunk-ansible/pull/60

This should be out with the next maintenance release of Splunk (7.2.4)

[2019-01-25 17:14] #97 closed, assigned to nobody

[2019-01-25 17:24] nwang92 commented on #89
I thought we did this for the heavy forwarder + universal forwarder, but it looks like we don't. I think I'll fix this section with the following guidelines in order of precedence:
- For both heavy_forwarder + universal_forwarder roles, if `SPLUNK_CLUSTER_MASTER_URL` is provided, it will try to forward data using indexer discovery to the cluster master
- For both heavy_forwarder + universal_forwar

[2019-01-25 18:18] neogeek83 commented on #96
I'm experiencing the same issue on a fresh installs of docker.
Info on the system:

[code]
I can also confirm that if I `docker pull splunk/splunk:7.2.1` splunk starts working again.

[2019-01-25 18:34] #114 closed, assigned to nobody

[2019-01-29 00:48] #42 closed, assigned to nobody

[2019-01-29 05:56] nwang92 commented on #107
Just an update/FYI, I'm pretty sure this issue + https://github.com/splunk/docker-splunk/issues/115 are caused by the same thing. There seems to be a missing line in the provisioning of the universalforwarder to update permissions for $SPLUNK_HOME.

[2019-01-29 06:04] nwang92 commented on #105
I'm still unable to reproduce this, but I think I have a good feeling why it's happening.

I took a look into this some more, and I'm pretty sure it's caused by the introduction of `acl` library on the image-side. We need this to ensure access control of the Splunk filesystem, but part of the reason why it's failing for you is because by default, docker (or at least, an older version of docker) wi

[2019-01-29 06:05] arungn-tii commented on #107
Thank you for confirming there's a bug. Will there be a new release out soon with a fix?

[2019-01-29 17:39] jmervine opened #116 "Version tagging"
On hub.docker.com, there's a 7.2.3 release that was cut about a month ago. However, there's no git tag to match. It would be really helpful to be able to compare what's on hub.docker.com, with the current repo state. E.g.

https://github.com/splunk/docker-splunk/compare/<version_tag>..develop

[2019-01-29 20:36] #89 closed, assigned to nobody

[2019-01-29 22:02] nwang92 commented on #107
@arungn-tii we typically release with Splunk maintenance release cadences, but as of now, we are planning to push a new image (7.2.4) with the fix sometime next week.

[2019-01-30 09:30] abshkd opened #118 "unable to make target with given Dockerfile"
I get this error in both centos and debian build. I dont have issues running docker containers and images outside of this. Any clue as to whats causing this?

I believe the issue is with using sudo. Would it be better to go with `USER` instead of sudo?

`make splunk-debian-9` output [snipped]

[code]

[2019-01-30 12:52] abshkd commented on #118
just doing `USER root` resolves this issue. If this is acceptable resolution then I can submit a PR. Perhaps there are other reasons for having a sudoer than I am not aware of.

[2019-01-30 14:14] djsweet commented on #105
That seems to be the fix, switching the default storage driver to `overlay2`. In Docker 18.06.1 the default is still `aufs`, and this seems like something that _should_ be documented. I'll post a comment to the official documentation since that's outside of the scope of this project.

It's worth mentioning for anyone else who stumbles over this that the configuration location for the `docker` snap

[2019-01-30 14:14] #105 closed, assigned to nobody

[2019-01-30 17:39] nwang92 commented on #118
@abshkd Can you output your `docker version` and `docker info` for me? Also do you have buildkit enabled?

[2019-01-31 09:00] abshkd commented on #118
[code]
[code]

I dont know what is buildkit and have not used it before so I am assuming I dont have it enabled.

[2019-01-31 18:30] nwang92 commented on #107
Going to close this - the code is currently in develop right now if you want to build your own images for now. But it will be released as part of 7.2.4 (expected to come out next week). I also added a test case that bind-mounts full app directories to the running container and validates that apps get registered in Splunk with this PR: #120

[2019-01-31 18:30] #107 closed, assigned to nobody

[2019-01-31 18:34] nwang92 commented on #116
+1, this seems like a standard that would be good to incorporate. I'll see if I can go back through history and add the corresponding version tags to the proper commits.

[2019-02-01 21:02] arctan5x commented on #91
https://github.com/splunk/splunk-ansible/pull/96

The PR is pending.

[2019-02-01 21:03] arctan5x commented on #91
Above PR will be merged in for the next release so closing this issue.

[2019-02-01 21:03] #91 closed, assigned to nobody

[2019-02-07 20:04] acobaugh commented on #96
Same error here trying to run 7.2.3. Distro is VoidLinux.

Though, of note, ansible in 7.2.1 gave me a slightly different error after trying to splunkd about an "unusable filesystem" - I attribute that to running on ZFS, which is a problem I'll have to tackle at some point.

[code]

Logs from `docker run -d -p 8000:8000 -e 'SPLUNK_START_ARGS=--accept-license' -e 'SPLUNK_PASSWORD=foobarbaz123!'  sp

[2019-02-13 18:12] nwang92 commented on #116
Went through history and added tags that lined up with when we pushed images. There might be some issues with <=7.2.1 because we started to use "develop" for development instead of "master". Hopefully things should line up though. We also started incorporating git tagging with our release process going forward, so this should be smoother in the future.

[2019-02-13 18:12] #116 closed, assigned to nobody

[2019-02-13 18:12] jmervine commented on #116
Thank you!

[2019-02-13 20:39] nwang92 commented on #94
I'm going to chalk https://github.com/splunk/docker-splunk/issues/93 and this issue up to the same feature request:
* Support the ability to create multiple named config files (filename explicitly specified by the user) with any contents (completely user-defined) on any location of the container's filesystem (again, user-specified)

I'm not sure we can accomplish all of this via container env vars

[2019-02-15 17:33] nwang92 commented on #93
Closing in duplication of the overall feature request here: https://github.com/splunk/docker-splunk/issues/94

[2019-02-15 17:33] #93 closed, assigned to nobody

[2019-02-17 17:30] J-CMartin commented on #105
I'm using Splunk on a QNAP NAS and it also only works up to version 7.2.1. I run docker inspect and it seems to be using overlay2, but I still get the ansible error on the newest 7.2.4 image. Any other ideas?

`        "GraphDriver": {
            "Data": {
                "LowerDir": "/share/CACHEDEV1_DATA/Container/container-station-data/lib/docker/overlay2/412f5dd94453e3f7a692f8e05b1e238e35a713

[2019-02-19 09:23] arungn-tii commented on #107
@nwang92 Hey. I see that a new version is out. But I am still not able to get it working. Could you tell me what I'm doing wrong? Should I use ansible or splunk cli to add inputs instead?

[code]

[2019-02-19 17:16] nwang92 commented on #118
I believe your issue is related to where you have Docker installed? Your `docker info` shows:
[code]

Normally, Docker keeps its contents in /var/lib/docker which is owned by root:root. Is this a shared mount point? Either way, it seems like the permissions of this mount point which Docker is trying to use is too restrictive, and thus the `docker build` command within the Makefile is failing.

[2019-02-19 17:19] nwang92 commented on #107
@arungn-tii can you run a `docker version` and `docker info` for me and show me the output?

Additionally, can you confirm you're using overlay2 as the storage-driver? I would see the notes + comments about overlay2 here: https://github.com/splunk/docker-splunk/issues/105

[2019-02-19 17:35] nwang92 commented on #105
@J-CMartin I don't think we've ever tested or run environments where the Docker root dir is backed entirely by NAS filesystem. My guess is this might be related to permissions between the host OS and the mount itself?

Additionally, I'm not too certain on the specifics or best practices around this, but you may hit performance issues with Splunk when indexing data if you run with NAS-backed storag

[2019-02-20 05:57] arungn-tii commented on #107
I was running the container on a debian box which was using "auf" storage driver. On redhat systems, it seems to work fine with "devicemapper". I think we can close now. Thanks for the help.

[2019-02-25 17:53] #94 closed, assigned to nobody

[2019-02-27 18:42] nwang92 commented on #58
Sorry for the delay in getting back to this issue - we've recently made a big push to clean up and update the documentation to be more detailed and explicit.

When using the `splunk/universalforwarder` image, the default `SPLUNK_ROLE` is set in the image to be `splunk_universal_forwarder`. So ideally, you don't need to explicitly set this parameter during use - in fact, changing it will likely hav

[2019-02-27 19:13] aegershman opened #138 "Example of minimal HEC kubernetes deployment?"
Are there examples of a simple Splunk HEC deployed on kubernetes? [The examples in the `test_results` folder](https://github.com/splunk/docker-splunk/tree/develop/test_scenarios/kubernetes) are for full-fledged deployments with multiple components.

## background

My use-case is running a [splunk-firehose-nozzle on Cloud Foundry](https://github.com/cloudfoundry-community/splunk-firehose-nozzle). T

[2019-02-27 21:40] nwang92 commented on #138
I'm not too familiar with the specifics of that Cloud Foundry project, but just glancing over the README I'd suggest the following:
1. Bundle up the configs outlined [here](https://github.com/cloudfoundry-community/splunk-firehose-nozzle#index-routing) into some lightweight app in the format of:
[code]
You can probably modify the props.conf + transforms.conf here and cater them to your team's spec

[2019-02-28 01:45] aegershman commented on #138
Awesome, thanks for your response.

I currently have the routing rules setup as a k8s `configmap`, but I hadn't considered packaging the configuration up as an app & consuming it on the HEC as a `.tgz`. I'll explore that idea more.

Could I also [specify the config for `splunk_app_cf` as custom config](https://github.com/splunk/docker-splunk/blob/0684bff877d10dab0de52316514d41205ecd939d/docs/ADVAN

[2019-02-28 17:43] nwang92 commented on #138
Yes, you can go that route as well. However, the custom config file creation is a new feature added to the develop branch only right now. This will be available when we release the `splunk/splunk:7.2.5` images in ~2 weeks time (or you could build your own images in the interim).

I think it also depends on how frequently you plan on adding tokens/rules in your config files too. The app-packaging t

[2019-02-28 22:30] aegershman commented on #138
Good advice, thank you. I realize the scope of this issue was _minimal_ HEC example, but if I could pick your brain a bit more:

- How would you recommend configuring multiple HEC endpoints & their tokens + TCP syslog endpoints? This works great for a setting up a single endpoint for a forwarder to push to, but I'll also need to setup a syslog endpoint for Cloud Foundry to push it's syslogs (and t

[2019-02-28 23:11] nwang92 commented on #138
Absolutely - TCP syslog/other inputs could theoretically be captured with the env var `SPLUNK_ADD`. For instance:
[code]
will open up a tcp port (1514) which you could potentially use for streaming syslog events to it. The `monitor /var/log/*` will also index files within the container's /var/log/* directory. But this variable accepts a comma-separated array of ./bin/splunk cli's that you can use

[2019-03-03 22:58] abshkd commented on #118
I dont run docker in root. Its running as user. You are spot on, it appears
to be that Splunk requires root ownership in order to run. I dont have this
issue with other docker images. This isnt a shared mount point but the
system has 8 drives with LVM RAID, I simply remapped `/var/lib/docker` to
something easier to manage administratively.
Not to worry. I will close this bug report. sorry for the

[2019-03-04 20:57] outcoldman opened #140 "Disable terminal colors from ansible output"
Running on ECS - logs from the containers are getting forwarded to CloudWatch with terminal escape codes, which just adds additional indexing cost and none-human-readable stuff.

<img width="1156" alt="screen shot 2019-03-04 at 1 51 35 pm" src="https://user-images.githubusercontent.com/597158/53762447-60f8c780-3e85-11e9-9b56-e39ac1199be3.png">

[2019-03-04 20:58] #118 closed, assigned to nobody

[2019-03-04 21:38] timoguin commented on #140
Setting the `ANSIBLE_NOCOLOR` environment variable to true should take care of this.

[2019-03-05 19:37] aegershman commented on #138
Thanks a ton for your feedback. I've got another one for you:

- Any recommendation on the best way to structure the configuration required for [TLS communications for consumers of the HEC?](https://docs.splunk.com/Documentation/Splunk/7.2.4/Security/AboutsecuringyourSplunkconfigurationwithSSL). I guess I would [have to follow the doc listed here](https://support.uberagent.com/hc/en-us/articles/21

[2019-03-06 21:46] timoguin opened #142 "Splunkd logs should go to stdout"
Best practice with containers is to print logs to stdout. Currently the Splunkd logs are sent to a file. For my particular platform (ECS/Fargate), I do not have direct access to the servers or filesystems, which means I can't debug errors that are sent to Splunk's log files. If they were sent to stdout, I would have them available in CloudWatch Logs.

This could be as simple as updating the entryp

[2019-03-06 23:14] arctan5x commented on #67
https://github.com/splunk/splunk-ansible/pull/133

Fix to this issue is pending merge and will be included in the next release. Closing the issue now.

[2019-03-06 23:14] #67 closed, assigned to arctan5x

[2019-03-06 23:43] arctan5x commented on #140
Since we use ANSIBLE_FORCE_COLOR (force_color in ini) inside of ansible.cfg, setting ANSIBLE_NOCOLOR shouldn't work.

If you add ANSIBLE_FORCE_COLOR=0 to the container environment,  this will override our default option to remove color. I have tested it and it works well. Closing this issue for now, if you need  extra support, feel free to reopen this issue.

[2019-03-06 23:43] #140 closed, assigned to nobody

[2019-03-06 23:45] arctan5x commented on #69
@rfaircloth-splunk  @lephino

We probably won't be including this change. Closing this for now. If this issue becomes critical, feel free to reopen and escalate to the dev team.

[2019-03-06 23:45] #69 closed, assigned to nobody

[2019-03-06 23:48] arctan5x commented on #10
@outcoldman Take a look at Mike's open PR. I think he is staging different container layers to address this problem. Since this issue has been open for a while, I am going to close this. If the issue arises to be critical, please reopen and escalate the issue.

[2019-03-06 23:48] #10 closed, assigned to nobody

[2019-03-06 23:59] lephino commented on #142
Are you sure you want this?  That's one of if not THE most chatty log in splunk.  It could easily blow your cloudwatch logs up in size.  I don't mind adding this, by why not docker cp the log? or just go to splunk and search _internal?  What if we do a tail | grep ERROR or something?  Even as splunk now runs, you don't have anything go to stdout on the main pid on baremetal.  Everything in std_err

[2019-03-07 00:23] nwang92 commented on #138
Yeah, if you plan on going down the route of adding certificates, you may also refer to [this](https://docs.splunk.com/Documentation/Splunk/7.2.4/Security/ConfigureSplunkforwardingtousesignedcertificates).

Do you plan on enabling SSL between clients -> this HEC forwarder pool? Or between HEC forwarder pool -> indexers? Or both?

[2019-03-07 00:29] lephino commented on #142
Or thinking more, would you rather me give you a var so you can set what log to tail at the end?

[2019-03-07 00:31] nwang92 commented on #142
Also to note, I believe splunk internally logs to various files, of which we currently only tail `splunkd_stderr.log`. We could switch to `splunkd.log` if the verbosity isn't a problem, but you may lose insight into failures in other aspects of Splunk (ex. web server, mongo, etc.)

Ideally, the best way to see everything + narrow down the scope of what you're looking for is to run a search `index=

[2019-03-07 01:51] timoguin commented on #142
In my case particular use case, I received errors in the Web UI about an issue with my IAM role configuration, and the UI tells me to check `splunkd.log`. I'm on Fargate and can't do that. If this log file really is that noisy, then ideally this could be configurable in a few different ways, but this wouldn't be the only service I have with horribly noisy logs (*cough* Jenkins). Log volume is not

[2019-03-07 09:45] matthewmodestino commented on #142
To be clear for those following along, you can search `splunkd.log`, right from the Splunk UI, assuming the  deployed image is successfully forwarding to your indexers (as was the case above), or if it is a standalone instance. (indexed locally)

Splunk forwards/indexes/rotates its internal logs by default, making docker best practices moot as you should not need to access the container filesystem

[2019-03-07 13:22] mrw5641 opened #143 "Failed to set permissions"
Hi -- running the  below and getting an issue with permissions

docker run -d -p 8000:8000 -e 'SPLUNK_START_ARGS=--accept-license' -e 'SPLUNK_PAS                SWORD=XXXXXX' splunk/splunk:latest

docker logs 85c5235956ae

PLAY [Run default Splunk provisioning] *****************************************
Thursday 07 March 2019  13:19:26 +0000 (0:00:00.074)       0:00:00.074 ********

TASK [Gathering

[2019-03-07 15:35] timoguin commented on #142
I would be happy with a flag to assist with troubleshooting. It looks like tailing more than one file is doable. I would like to be able to grab all the log files that could help with debugging.

[2019-03-07 16:58] dcruzin opened #144 "Universal Forwarder - UF install shouldn't be done by an Entrypoint"
Universal Forwarder is supposed to be a lightweight app. Why should I need Ansible inside my container? UF is relativy easy to spin up. It doesn't need playbooks.

Also, I would like to be able to use splunk/universalforwarder as a base image, with my own set of Entrypoints.

Finally, debugging this image is a bit harder, especially if you are used to see all image setup on a Dockerfile (as it sho

[2019-03-07 18:13] nwang92 commented on #143
Can you verify if this is the issue you're facing? https://github.com/splunk/docker-splunk/issues/105

[2019-03-07 20:36] mikedickey commented on #144
UF is basically full Splunk, just without the UI. All of its configuration is managed the same, via disk files in etc. While future generations of UF may be different, at this time an entrypoint is required to provide any configuration-at-runtime capabilities. And while this may not be strictly required for trivial scenarios, most configurations that we run into require it.

[2019-03-07 20:36] #144 closed, assigned to nobody

[2019-03-08 14:21] dcruzin commented on #144
Is there any docker configuration that requires a playbook called "Check if we are in docker" or "Check for existing installation"?

This doesn't make sense. Clearly, those playbooks were migrated from somewhere else and attached to this image in the fastest way possible -> entrypoint.

Correct me if I'm wrong, but every playbook in the UF context can be translated into a Dockerfile using the CMD

[2019-03-12 15:20] aegershman commented on #138
It's preferable to have both, but at least between clients and the HEC forwarder pool to start. It's complicated by the fact I will need to clone/forward certain inputs (namely syslog) to multiple indexer targets.

Building upon the ideas you gave above, I'm going to rework my original HEC into something which segregates purpose into `apps/`. At the moment I'm lumping everything into one `{inputs,

[2019-03-12 23:43] nwang92 commented on #138
Hmm not sure if I have any special tips or best practices re: enabling TLS with client to HEC forwarder pool :P

If I'm not mistaken, if you enable SSL on the HEC port it will use Splunk's internal self-signed cert (ex. management port, splunk-to-splunk communication, etc.). To avoid mucking with that, I believe it's possible to add your own cert chain only on the HEC endpoint via inputs.conf (see

[2019-03-12 23:45] nwang92 commented on #138
Small correction - maybe `kubectl create secret generic` would be better than `kubectl create secret tls` if all you need to supply is the cert.pem for the HTTP input.

[2019-03-15 15:37] outcoldman opened #150 "Release notes?"
First of all, thank you for so much work on the Docker image.
It is getting hard to track what has been added in every Splunk release of the image. Would it be possible to publish release notes?

[2019-03-22 04:36] abshkd commented on #118
Just an update. I got it to work with minor edits. I am on non-root docker with non-root splunk

[2019-03-22 07:18] ccieliu opened #152 "ENV not work. -e "SPLUNK_USER=root" -e "SPLUNK_GROUP=root""
Hi Team,

We are facing the issue:
Cannot change splunk user. we tried
`-e "SPLUNK_USER=root" -e "SPLUNK_GROUP=root" `
But not work, the user still in "splunk"

That's easy to reproduce by below step:

We setup a splunk on container use:
[code]

[code]

[code]

[2019-03-22 19:03] nwang92 commented on #152
Hmm I believe we made some changes a while ago per ProdSec reviews to specifically prevent the `splunkd` process from running as a privileged user (even with the context of a container).

Is this something we want to support? @ledio @mikedickey

[2019-03-22 21:23] nwang92 commented on #58
Ok, I may have re-written lot of the introductory content on the DockerHub page :P Please let me know if there's other things we can do to improve our docs or usability!

[2019-03-22 21:23] #58 closed, assigned to nwang92

[2019-03-22 21:26] nwang92 commented on #150
👍 I'll start compiling this

[2019-03-22 21:30] nwang92 commented on #138
I'm gonna go ahead and close this since we kinda went down a rabbit hole :) But feel free to continuing commenting here or ping me externally if you have any other questions!

[2019-03-22 21:30] #138 closed, assigned to nobody

[2019-03-22 22:32] lephino commented on #152
Running as root goes against splunk's best practices.  These plays mimic those best practices, as such, no we will not support running as root in this repo.  You are welcome to make a branch for your own usecases.

[2019-03-22 22:32] #152 closed, assigned to nobody

[2019-03-23 05:17] ccieliu commented on #152
Thanks for your reply. but as you know, un-root user cannot listen port <= 1024.
So we cannot create a data input on port 514 for default syslog service.
Could you please provide a workaround for this issue?

Bruce lau

[2019-03-23 05:18] ccieliu commented on #152
@lephino
Thanks for your reply.
And as we know, that's not a best practices, but indeed, splunk container provided this function.
Could you please let me know why it not work?

[2019-03-23 18:20] nwang92 commented on #152
Is your requirement for the process within the container to listen on port <= 1024?

For example, you could open the port `1514` within the container, but expose it as `514` for external use:
[code]

[2019-03-25 01:41] abshkd opened #153 "CPU core count is misreported"
![cpu_count](https://user-images.githubusercontent.com/771356/54889953-0847a800-4ee2-11e9-8757-b94ef035cd84.JPG)
The actual CPU count is 32.

I have not changed default docker settings and it should be reporting all cores.

[2019-03-25 08:25] ccieliu commented on #152
@nwang92
Thanks for your reply.
Yes. requirement <=1024.
Not bypass the issue, just fix the issue.
as for now, the issue is , feature not work. rather then how to achieve.

[2019-03-27 23:23] mikedickey commented on #153
Are you running this on a Linux host machine or using "Docker for (Mac/Windows)" ? What do you get when running this?

`docker run --rm -it alpine sh -c 'nproc && cat /sys/fs/cgroup/cpu/cpu.cfs_quota_us && cat /sys/fs/cgroup/cpu/cpu.cfs_period_us'`

[2019-03-28 02:49] abshkd commented on #153
linux
output from command
[code]

[2019-03-30 00:18] ridvan70 opened #158 "splunk-debian-10 start fails"
### Starting splunk-debian-10 fails

### Docker version:

[code]
### Start with:

`docker run -it -p 8000:8000 --name splunk -e 'SPLUNK_PASSWORD' -e 'SPLUNK_START_ARGS=--accept-license' splunk-debian-10:latest start`

### Fails with:

[code]

[2019-04-01 01:19] halr9000 opened #159 "Docs table for exposed ports"
I'd like to see a mention in the docs (perhaps under setup or advanced) that explains the purpose of each of the exposed ports listed in the dockerfile. Seasoned Splunkers will recognize several (8000, 9997), but there are some that are not clear at all. I think having this in one place would be helpful.

[2019-04-01 17:58] lephino commented on #158
@mikedickey already caught this error, the fix is this line in his pr: https://github.com/splunk/docker-splunk/pull/127/files#diff-488f45c3dae94bae522c5e2d67b99048R35

[2019-04-02 17:38] #158 closed, assigned to nobody

[2019-04-02 17:40] arctan5x commented on #159
https://github.com/splunk/docker-splunk/pull/162 Resolves this ticket. Closing.

[2019-04-02 17:40] #159 closed, assigned to nwang92

[2019-04-02 17:41] #150 closed, assigned to nobody

[2019-04-02 17:42] arctan5x commented on #143
@mrw5641 Since it has been almost a month. Closing this issue for now. If you have an update after following through https://github.com/splunk/docker-splunk/issues/105, please reopen the issue.

[2019-04-02 17:42] #143 closed, assigned to nobody

[2019-04-02 21:51] diaznet commented on #105
Hello,

since change introduced in 7.2.3 (see comment in #96 ), we're unable to start up new version of container 7.2.5.
Driver is not aufs, but btrfs.

Any way to introduce a possibility to do like before 7.2.3 ?
Or support btrfs ?

[2019-04-05 02:18] jasonhue8183 opened #167 "Not able to install java"
Hi ,

I have problem to install java with below docker run command :

docker run -d -p 8000:8000 -p 8089:8089 -e JAVA_VERSION=openjdk:8  -e SPLUNK_START_ARGS=--accept-license -e SPLUNK_PASSWORD=P@ssw0rd123456  splunk/splunk:7.2.5.1

![failed to install java](https://user-images.githubusercontent.com/8756745/55599799-f5f42680-578b-11e9-8380-2bfba5c52d14.png)

Appreciate for any advice.
Thanks
Jason

[2019-04-05 17:48] nwang92 commented on #142
Added a new env var to control this behavior here: https://github.com/splunk/docker-splunk/pull/163.

This should be released in the next version bump of images (7.2.6), pending mid-April.

[2019-04-05 17:48] #142 closed, assigned to nobody

[2019-04-05 17:53] nwang92 commented on #167
Not able to reproduce this:
[code]

Could you provide some more details about the Docker version, environment, etc. you're running in?

[2019-04-08 02:34] jasonhue8183 commented on #167
Hi @nwang92 ,

My environment as below
- Docker version 18.06.1-ce-win73
- Windows 10 Enterprise
- behind company proxy

Appreciate for any advice
Best Regards
Jason

[2019-04-08 13:10] gibban69 opened #169 "Container restart fails when the admin user password has changed using Splunk WEB"
Steps to reproduce
1. `docker run --name splunk -d -p 8000:8000 -e "SPLUNK_PASSWORD=helloworld" -e "SPLUNK_START_ARGS=--accept-license" splunk/splunk:7.2.5`
1. Login to <http://<host>:8000> and change password for admin user
1. `docker stop splunk`
1. `docker start splunk`

Step 4 fails and container stops

`included: /opt/ansible/roles/splunk_standalone/tasks/../../splunk_common/tasks/check_for_r

[2019-04-08 19:34] arctan5x commented on #167
@jasonhue8183 We are currently not supporting Java installation on Windows through Ansible. We currently support Java in a debian based container.

[2019-04-08 23:57] nwang92 commented on #169
I don't believe this is something we support at this current time. Ideally, the password defined at container-start time is the expected password used throughout the lifetime of the container. As long as `/opt/splunk/etc` is not backed by any persistent volume, you should be able to change the password via the env var `SPLUNK_PASSWORD` or in your default.yml.

[2019-04-09 04:03] jasonhue8183 commented on #167
Hi @arctan5x ,

Sorry i kinda confused. You mean only support Java in a debian based **host** ?

Appreciate for any advice
Best Regards
Jason

[2019-04-09 12:51] gibban69 commented on #169
This blog post https://www.splunk.com/blog/2018/10/24/announcing-splunk-on-docker.html
and the release note https://docs.splunk.com/Documentation/Splunk/7.2.5/ReleaseNotes/MeetSplunk indicates that Splunk 7.2 docker deployment is production ready at least in the S1 setup.

Isn't a realistic scenario for production that /opt/splunk/etc and /opt/splunk/var are mounted on persistent storage and that

[2019-04-09 17:11] arctan5x commented on #167
@jasonhue8183 Debian container.

[2019-04-09 21:14] ridvan70 opened #170 "make splunk-debian-9 fails"
`make splunk-debian-9` fails with the error

[code]

**Docker Info:**

[code]

[2019-04-09 21:25] ridvan70 opened #171 "make splunk-debian-10 fails"
`make splunk-debian-10` fails with the error

[code]

**Docker Info:**

[code]

[2019-04-09 21:27] lephino commented on #170
Did you make the other base layers?  These specific build points are for the top layer, while using "make splunk" will build them all and build these on top.

[2019-04-10 01:50] jasonhue8183 commented on #167
Hi @arctan5x ,

we are using docker for windows but using linux container.
![image](https://user-images.githubusercontent.com/8756745/55845826-fae31c80-5b75-11e9-8f77-c628c4719c55.png)

Appreciate for any advice
Best Regards
Jason

[2019-04-10 13:47] sathwik076 opened #172 "anyone using CoreOS to run SPlunk on Containers."

[2019-04-11 00:02] arctan5x commented on #171
https://docs.docker.com/engine/reference/builder/#understand-how-arg-and-from-interact

Seems like the ARG first in Dockerfile is supported in more recent version. Would you check if you can upgrade to a newer version?

[2019-04-11 21:25] ridvan70 commented on #171
Yes, you're right.

I build the images for OpenShift platform and it's an older docker.

Thanks,
Ridvan

[2019-04-11 21:27] ridvan70 commented on #170
It's about the docker version I use, the same issue as in [171](https://github.com/splunk/docker-splunk/issues/171)

[2019-04-11 21:28] ridvan70 commented on #170
Unsupported docker version.

[2019-04-11 21:28] #170 closed, assigned to nobody

[2019-04-11 21:29] ridvan70 commented on #171
Unsupported docker version.

[2019-04-11 21:29] #171 closed, assigned to nobody

[2019-04-12 17:17] davjr96 opened #173 ""Conf" unsupported option with docker compose"
I'm trying to set some variables in the web.conf file using the "create custom configs" documentation as provided here. https://splunk.github.io/docker-splunk/ADVANCED.html#create-custom-configs

I'm getting the error
`ERROR: The Compose file './docker-compose.yml' is invalid because:
Unsupported config option for services.splunk-container: 'conf'
`

My docker-compose is

version: "3"
services:

[2019-04-12 18:01] nwang92 commented on #169
This is great feedback, thanks! For the security note you pointed out, the use of `SPLUNK_PASSWORD` as plaintext is mostly for the dev workflow. In practice, depending on your orchestrator, I do believe we recommend you roll with `docker secrets` or `kubectl secrets` to persist the default.yml or variables in a non-plaintext-manner.

For the password workflow, I suppose there are some differing id

[2019-04-12 18:09] nwang92 commented on #173
I think you're confusing some of the logic of `default.yml` with the `docker-compose.yml` (there's not enough yaml out there yet :P)

What you'd probably want is something like:
[code]

Then a separate `default.yml` to control your Splunk settings:
[code]

[2019-04-12 18:15] nwang92 commented on #167
That's interesting - I don't think we've tested this thoroughly on the Docker for Windows workflow, although it's surprising that there are large discrepancies like this. Are you able to start Splunk on Docker for Windows without the `JAVA_VERSION` option?

[2019-04-12 18:30] davjr96 commented on #173
Ah you are right, Thanks! Mistake on my part. I'm now getting this on startup but I am sure its something to do with my config.

splunk-container    | included: /opt/ansible/roles/splunk_common/tasks/set_config_file.yml for localhost => (item={'key': u'web', 'value': {u'directory': u'/opt/splunk/etc/system/local', u'content': {u'settings': {u'root_endpoint': u'/splunk'}}}})
splunk-container    | F

[2019-04-12 21:53] jasonhue8183 commented on #167
Hi @nwang92,

Yes, it's working fine without JAVA_VERSION option.

Jason

[2019-04-16 16:11] aegershman opened #177 "Future investigations into helm chart?"
I realize kubernetes is not an _officially_ supported deployment target, but [there is an entire folder of `test_scenarios` dedicated to kubernetes deployments](https://github.com/splunk/docker-splunk/tree/develop/test_scenarios/kubernetes).

For deploying heavy forwarders, we've taken the docker-splunk Concourse image and packaged it into a basic helm chart & use that to deploy the HEC in various

[2019-04-17 08:34] lephino commented on #177
I'll leave this one for @mikedickey to talk more on.  I'll say this much though, we're investigating several deployment methods for kubernetes.  As a feedback item, how do you feel about operators vs helm charts vs native deployment descriptors?

[2019-04-17 16:42] aegershman commented on #177
tl;dr, helm

- Operators are a bit mysterious to me (it feels very "fire-and-forget/hope-for-the-best", limited options for error-handling, unclear exactly what an operator is doing at any given point yet I've just handed it power to my cluster, they're all implemented as CRDs, etc.).

- Native deployment descriptors are fine when you're doing "pet deployments", but considering I have to stamp out

[2019-04-18 12:29] gibban69 opened #179 "splunk:http_port in default.yml ignored"
Trying to enable ssl in web.conf on port 8888 but http_port seems to be ignored.
The command

    docker run --rm -it splunk/splunk:latest create-defaults > default.yml

generates a **default.yml** including this config:

    splunk:
      http_enableSSL: 0
      http_enableSSL_cert: null
      http_enableSSL_privKey: null
      http_enableSSL_privKey_password: null
      http_port: 8000

Since th

[2019-04-23 13:17] neogeek83 commented on #96
Just a quick followup to my last post, I have been confirm at least in my case, that 'aufs' is still the default file system driver being used for a splunk install and @lephino comment and link to #105 helps. Just for completeness, I will go ahead and include how I fixed this here.

First, I confirmed that I was(by default I did NOT set it anywhere) in fact using aufs  I determined this by running

[2019-05-02 18:05] BertieW commented on #179
I raised an issue around this in the splunk-ansible repo as well.

https://github.com/splunk/splunk-ansible/issues/140

[2019-05-02 20:18] nwang92 commented on #173
Hmm you may want to do a `docker pull splunk/splunk` just to make sure this is indeed the latest version. I believe the custom conf addition was added in versions >= 7.2.4, but I'd need to double-check. In any case, I'm going to close this issue, but if you continue to see problems please feel free to reach out!

[2019-05-02 20:18] #173 closed, assigned to nobody

[2019-05-02 20:21] nwang92 commented on #172
You may have better luck reaching out in the #docker channel here: http://splunk-usergroups.slack.com/. Probably more likely to get some traction/feedback from other users or customers?

I'm going to close this issue since it's a little less code-related.

[2019-05-02 20:21] #172 closed, assigned to nobody

[2019-05-04 07:11] BertieW commented on #179
The issue has been resolved in the ansible splunk repo I think it is just a matter of waiting for it to be built into the container.

[2019-05-07 17:04] ghantakiran opened #184 "Unprivileged splunk docker image"
Any insights in creating an unprivileged Splunk docker image, as I have a customer who has restrictions deploying containers with root access. Any insights will be appreciated.

[2019-05-07 17:06] ghantakiran opened #185 "SHC not getting provisioned"
When I run docker-splunk/test_scenarios/kubernetes/3idxc3shc1cm1lm1dep-pvc/, SHC is not getting provisioned, might be ansible scripts needs to be updated.

[2019-05-09 15:41] mikedickey commented on #177
Published some of our thoughts on this topic yesterday in a blog article: https://www.splunk.com/blog/2019/05/08/an-insider-s-guide-to-splunk-on-containers-and-kubernetes.html

[2019-05-14 05:28] abshkd commented on #184
I had a similar issue see #118

[2019-05-15 13:01] sayeedc opened #186 "Running the universal forwarder as a sidercar on kubernetes"
Is there any information on how to run the UF as sidecar container to read logs from a file?

[2019-05-16 19:48] kurktchiev opened #187 "Snapshots not working"
Every time I install the kube 3idxc3shc1cm1lm1dep-pvc example. The search heads all throw the following error when and have the red flag against Snapshot Creation. Not sure how to fix it.

05-16-2019 19:44:19.834 +0000 WARN ConfReplication - downloadDeployableApps: Error listing baseline configuration: Non-200/201 status_code=401; {"messages":[{"type":"ERROR","text":"Unauthorized"}]}

[2019-05-16 20:12] #187 closed, assigned to nobody

[2019-05-20 19:46] bb03 opened #189 "Fix build warning"
[WARNING]: Empty continuation line found in:
    RUN sed -i -e 's/%!s(MISSING)udo\s\+ALL=(ALL\(:ALL\)\?)\s\+ALL/%!s(MISSING)udo ALL=NOPASSWD:ALL/g' /etc/sudoers     && sudo echo -e '\nansible ALL=(splunk)NOPASSWD:ALL' >> /etc/sudoers     && groupadd -r ${ANSIBLE_GROUP}     && useradd -r -m -g ${ANSIBLE_GROUP} ${ANSIBLE_USER}     && usermod -aG sudo ${ANSIBLE_USER}     && mkdir ${CONTAINER_ARTIFACT

[2019-05-21 02:19] jasonhue8183 commented on #167
Hi @nwang92,

Any fix for this ?

Jason

[2019-05-22 01:15] nwang92 commented on #167
Sorry dropped the ball on this - I'll spin up a Windows instances to test this out tonight and get back to you.

[2019-05-22 19:07] nwang92 commented on #167
K quick update, I'm trying to procure some Windows 10 environment. It seems like running Linux containers on Windows requires Hyper-V enabled, which isn't supported through our cloud provider.

Looking through our java setup plays, I wonder if this is some underlying problem with how linux containers run on Windows. Can you run the following `docker run` command in your environment and report what

[2019-05-24 05:39] jasonhue8183 commented on #167
Hi @nwang92,

Thank you for the update, I had the error below. Something not right.

![splunk](https://user-images.githubusercontent.com/8756745/58305012-2d489080-7e29-11e9-94fb-e5e166a82543.png)

Appreciate for any advice
Best Regards
Jason

[2019-05-28 22:04] nwang92 commented on #167
My guess is that command prompt/powershell threw up on the input given. I wonder if changing the command/args might make it happier?

Maybe something like one of the following:
[code]

Very strange that it doesn't work though. I'm still waiting on my Windows 10 box to get provisioned, but it seems like there's some disparity between running linux containers on linux vs. the promise of running linu

[2019-05-28 23:57] nwang92 commented on #186
I guess we don't have many docs around this - I can add that. There's a few articles out there that already do this, but you could start off with an example like:
[code]

Obviously, that's the most basic example - you'd probably also want another envvar on your `uf` container to send its internal + application logs somewhere more permanent. But you can take this pod template and put it in a higher

[2019-05-31 15:48] nwang92 commented on #179
We'll be pushing out a new release early next week which should incorporate this change. In the meantime, if you're using `splunk/splunk:edge` it should be in there.

I'm going to close this, but please feel free to reopen if you continue to see problems.

[2019-05-31 15:48] #179 closed, assigned to nobody

[2019-05-31 15:52] nwang92 commented on #153
I don't think splunkd is container aware, and thus it's reporting everything on the host that it's running on. However, any reservations/requests/limits will still be honored by the scheduler.

This is more of a product change, but I'll file a ticket internally to see if there's something we can do about this.

[2019-05-31 15:52] #153 closed, assigned to nobody

[2019-06-02 02:31] DeviantEng commented on #105
Like @diaznet, I'm running into the same thing but I'm specifically using the zfs driver for docker.  7.2.1 works, anything newer won't.  :(

[2019-06-05 14:03] matthewmodestino commented on #185
Hi @ghantakiran, apologies for the delay, I missed this issue.

Are you still facing challenges?

What flavor of Kubernetes are you running?

What is the state of the pods?

What is your storage provisioner?

Could be DNS resolution of the SHC daemonset and Captain deploy.

Happy to follow up.

[2019-06-06 13:42] matthewmodestino commented on #186
Hey @sayeedc,

I am preparing an update to the kubernetes test scenarios. I'll add standalone, sidecar and hec service configs. Any other requests?

[2019-06-11 13:02] ivohechmann commented on #118
Hi @abshkd sounds good, I have the same problem (container in OpenShift run as random user). What edits did you do to get splunk image running as non-root-container-user?

[2019-06-22 10:05] pgilad commented on #70
Can't get this to work with a `daemonset` and configmaps. Does anyone has any working example with `splunkforwarder:7.3.0` ?

[2019-06-24 16:25] SloshBurch opened #208 "7.3 image unable to install java"
I'm using Splunk's Docker image for developing [DBConnect ](https://splunkbase.splunk.com/app/2686/) solutions. This requires Java.

In images up through the current 7.2.6 image `d0e924f35601`, I've been able to install java 1.8 using the following command as root in a Splunk Enterprise container:

`apt update && mkdir -p /usr/share/man/man1 && apt install default-jre -y && java -version`

As of t

[2019-06-25 17:47] arctan5x commented on #208
Hi. You can set the environ variable "JAVA_HOME" as "openjdk:8" and it would install openjdk8 for you automatically.

[2019-06-25 21:42] SloshBurch commented on #208
Oh, I see what you mean in the documentation: [](https://splunk.github.io/splunk-ansible/ADVANCED.html#inventory-script)
I think you meant JAVA_VERSION:
`docker run --name java --hostname java -P -d -e SPLUNK_START_ARGS=--accept-license -e SPLUNK_PASSWORD=changeme -e JAVA_VERSION=openjdk:8 splunk/splunk:latest`

But no luck:
[code]
Same behavior on 7.2.6.

If it matters, I'm not using ansible but

[2019-06-26 21:32] arctan5x commented on #208
Yeah, I meant Java Version. You need to use ansible because we have logic in ansible to install the jdk for you.

I just ran below docker compose yml and found that java was installed correctly.
`services:
  so1:
    image: splunk/splunk:latest
    hostname: so1
    container_name: so1
    environment:
      - SPLUNK_START_ARGS=--accept-license
      - SPLUNK_PASSWORD=helloworld
      - DEBUG=true

[2019-06-26 21:38] SloshBurch commented on #208
Oh boy. So I will need to learn ansible and get that setup to see. I know our documentation has some material on it.

But nontheless, isn't that a workaround? I was told this issue should be considered a regression since the behavior has changed between versions.

[2019-06-26 21:45] arctan5x commented on #208
You don't have to learn anything. Just supplying that JAVA_VERSION should automatically install JAVA in your container. Would you mind posting end to end terminal outputs here? Since the operating system layer didn't change, the functionality to install Java never changed between 7.2.6 vs 7.3.0.

[2019-06-26 21:48] SloshBurch commented on #208
I'm not using Ansible. I'm using command line. I have to run out in a minute so I'll need to try tomorrow. But in the interim, I am pretty sure everything you'd be looking for is in the original post. I tried to put all the details but let me know if I missed anything. Up there is the command to start the container and the command I used to install java.

[2019-06-26 22:41] arctan5x commented on #208
I think that there is miscommunication. Ansible script is in the container that executes when you start a container. Unless you are specifically turning that layer off, there is that provisioning layer always running when you run the splunk container. Therefore, by the time you exec into the container, there should be Java installed and configured. I just verified it using both 7.3 and 7.2.6 conta

[2019-06-27 18:16] SloshBurch commented on #208
Oh wow. Less miscommunication and more me just being ignorant. I have been using the Splunk Docker container for a while now and it's come a long way so while familiar with the container, I'm ignorant of the new fun like Ansible. Lemme revert back and read that page in the documentation to get familiar with this and better consider if this is a regression or just my own misuse.

[2019-06-27 21:32] SloshBurch commented on #208
Ok, I spent a LOT of time reviewing this and I think there's an issue still.

I've learned about ansible and started using a default.yml successfuly. Yet, I see no option for controlling `JAVA_VERSION`, or an equivalent, with that method. Reference: [default.yml.spec](https://splunk.github.io/splunk-ansible/advanced/default.yml.spec.html#spec).

`JAVA_VERSION `appears to only be available as an en

[2019-06-28 21:25] mkinsley opened #209 "Upgrade 7.2.6 -> 7.3.0 fails"
**Expect**
I should be able to upgrade from 7.2.6 to 7.3.0 tags

**Observed**
Upgrades fail with permission denied when performing  stat on {{ splunk_home}}/etc/auth/splunk.secret

**Repro Steps**

1.  ```docker-compose up -d```
2. ```docker-compose logs splunkenterprise --follow```
3. Wait for splunkweb to be available
4. change image tag in compose to  ":7.3.0" or ":edge"
5. add env var SPLUNK_U

[2019-07-01 20:04] SloshBurch commented on #208
@arctan5x and I are investigating and have found that the Debian version changed between the 7.2.6 and 7.3 image:

**7.2.6** `cat /etc/os-release`
[code]

*7.3* `cat /etc/os-release`
[code]

Looks like the Dockerfile for 7.3 uses `base-debian-10` and we think 7.2.6 was `stretch-slim` which was Debian 9.

[2019-07-08 18:09] pinterl opened #210 "Please update the Installing Splunk Apps and Add-ons page"
A link in the Splunk Docker documentation took me to
https://splunk.github.io/docker-splunk/advanced/APP_INSTALL.html#splunkbase-apps

The page has lots of great information, please update the page when you have time:

The 'Multiple apps' link returns 404
The 'Apps in distributed environments' link does not go anywhere
The 'docker-compose.yml' code snippet examples at the bottom of the page are no

[2019-07-09 17:01] nwang92 commented on #209
This should be fixed in the latest `splunk/splunk:edge` images after https://github.com/splunk/splunk-ansible/pull/211 was merged. Closing this, but feel free to reopen.

[2019-07-09 17:01] nwang92 commented on #186
Closing due to inactivity + docs getting merged

[2019-07-09 17:01] #186 closed, assigned to nobody

[2019-07-09 17:53] nwang92 commented on #189
This looks to be a docker engine syntactical warning: https://github.com/moby/moby/issues/35387 which looks like we'd just need to cleaning our RUN commands

[2019-07-09 17:54] nwang92 commented on #189
I'm also not seeing this anymore, but I'm running Docker CE for Mac using edge versions:
[code]

[code]

[2019-07-09 18:35] bb03 commented on #189
Looks like its still happening on our circleci machines https://circleci.com/gh/splunk/docker-splunk/350 so lets change the focus of the ticket to update our build images

[2019-07-11 01:08] tomzheng opened #212 "Container didn't start ansible play"
Hi

I start docker run with below command:

docker run -d -p 8000:8000 -e "SPLUNK_START_ARGS=--accept-license" -e "SPLUNK_PASSWORD=password" -e "SPLUNK_HOME=/opt/splunk" -e "SPLUNK_DEFAULTS_URL=http://splunk-defaults/default.yml" -e "SPLUNK_ROLE=splunk_search_head"  -e "SPLUNK_CLUSTER_MASTER_URL=master" -e "SPLUNK_INDEXER_URL=indexer-0,indexer-1,indexer-2" -e "SPLUNK_SEARCH_HEAD_URL=search-0,searc

[2019-07-25 01:28] traytonwhite commented on #208
To contribute to this when I try

`docker run -d -p 5000:5000 -e "SPLUNK_START_ARGS=--accept-license" -e "SPLUNK_PASSWORD=pass1234" -e "JAVA_VERSION=openjdk:8" --name javalatest splunk/splunk:latest`

and check `docker logs` for the container, I see the below error:

`fatal: [localhost]: FAILED! => {"changed": false, "msg": "No package matching 'openjdk-8-jdk-headless' is available", "warnings": [

[2019-07-25 15:07] SloshBurch commented on #208
Yup, same thing as far as I can tell.

[2019-07-31 08:01] naggappan opened #214 "Create a new splunk container with pre-loaded indexes"
I tried the following and it works,
* Create a new splunk container
* push some logs into the splunk and that goes to separate index what I have created
* Now zip the entire /opt/splunk folder and copied to a new container and extracted in /opt/splunk
* Reports and data are available in the new splunk

Below is not working:
* I tried to do this copy of /opt/splunk into the container by creating a

[2019-07-31 11:28] matthewmodestino commented on #214
Instead of dealing with the entire opt directory, you should simply make a splunk app that can be loaded with the app install plays.

https://github.com/splunk/docker-splunk/blob/develop/docs/advanced/APP_INSTALL.md

Here is an example standalone yaml that I use, where I seed my apps in /tmp on the container build, so that on install they are ready to go.

https://github.com/matthewmodestino/conta

[2019-08-06 12:11] Firebass opened #219 "why can't i log in to Splunk?"
Hello, i installed Splunk on an Container on Debian but somehow i can't log in??
![grafik](https://user-images.githubusercontent.com/49242474/62538794-fabd0a00-b853-11e9-9d74-11cccc571b37.png)
i use my PassWD "MyNewSplunkPassword" and user "admin" but it won't work.
![grafik](https://user-images.githubusercontent.com/49242474/62538877-250ec780-b854-11e9-87a9-b88351fc8e4d.png)

[2019-08-06 12:23] matthewmodestino commented on #219
You left the brackets in your password.

With the above command your password is literally`<MyNewSplunkPassword>`

[2019-08-06 12:31] Firebass commented on #219
Oh LOL Thanks :'D

[2019-08-06 12:31] #219 closed, assigned to nobody

[2019-08-13 21:49] WafflesVonMaple commented on #118
Second @ivohechmann, @abshkd can you share the edits made?

[2019-08-14 07:16] ivohechmann commented on #118
Did not get it to work properly, so if there's a solution I'd be interested :)

[2019-08-16 15:09] PaleWooten commented on #208
Hi all,i've got exact same problem and as far as i can get it - due java license change at 16 april 2019, all packages is not available anymore for Debian 10. You still can download it via oracle site after login thougth.

Ive found some guides like that http://www.webupd8.org/2014/03/how-to-install-oracle-java-8-in-debian.html

But cant get it work yet.

Any updates on this issue?

[2019-08-16 23:31] mikedickey commented on #184
Please see https://github.com/splunk/docker-splunk/pull/222

[2019-08-17 02:14] bb03 commented on #212
@tomzheng  Does the problem still exist?  Also, can you send us the ```docker logs``` output from the container if this happens again.  Thanks

[2019-08-17 02:17] bb03 commented on #208
@PaleWooten We'll be looking into this.  Java will probably need to go through some adjustments.  There might be some new issues as well, or changes to java installation, stemming from this PR https://github.com/splunk/docker-splunk/pull/222 . Please take a look and let us know if you have any comments.

[2019-08-18 22:20] PrymalInstynct opened #223 "No Argument to enable SSL WebGUI"
I have been unable to create an SSL enabled WebGUI on a Heavy Forwarder container from the point of deployment. I noticed that there is an splunk-ansible [playbook](https://github.com/splunk/splunk-ansible/blob/08baad3a233d6c65f2d90f4d90950f85b4d00ad0/roles/splunk_common/tasks/enable_ssl_on_gui.yml) to enable HTTPS but there is no argument to turn it do do when deploying a container. This seems li

[2019-08-19 19:15] nwang92 commented on #223
We have some automation that runs a test with SSL enabled on the web UI for standalone Splunk instances: https://github.com/splunk/docker-splunk/blob/develop/tests/test_docker_splunk.py#L1090

I suppose we haven't tested this on the heavy forwarder role specifically, but it should work if you follow the correct `docker run ...` environment variables and parameters (and by providing your own SSL ce

[2019-08-20 00:03] arctan5x commented on #208
This issue is addressed by https://github.com/splunk/splunk-ansible/pull/244.

[2019-08-20 00:03] #208 closed, assigned to nobody

[2019-08-20 00:25] arctan5x commented on #167
Closing this. We have Java 9 Support on windows actually so feel free to check it out.

[2019-08-20 00:25] #167 closed, assigned to nobody

[2019-08-20 19:11] mikedickey commented on #184
Resolved by https://github.com/splunk/docker-splunk/pull/222. Please see https://github.com/splunk/docker-splunk/blob/develop/docs/SECURITY.md for more info.

[2019-08-20 19:11] #184 closed, assigned to nobody

[2019-08-21 12:19] PrymalInstynct commented on #223
Ok, great I will test this out. Maybe get it added somewhere in the documentation that this in a valid environment argument.

[2019-08-22 21:11] johan1252 commented on #209
I am still seeing this issue when upgrading from 7.2.4 to splunk:7.3, splunk:7.3.1 or splunk:edge.

[code]

@nwang92 Anything that I can do to figure out why this is happening still?

[2019-08-22 21:13] bb03 commented on #209
@johan1252 Can you give us your reproduction steps?

[2019-08-22 22:06] johan1252 commented on #209
@bb03
Stopped container running splunk:7.2.4.
I launched the new 7.3.1 docker container like so, where /splunk-data was the same volume used with old container running 7.2.4.
[code]
Then to get the above log output using `docker logs`

[2019-08-24 08:59] 2gavy opened #224 "How do I disable SSLconfig?"
I have to manually remove
[sslconfig] section in server.conf for my docker image to work properly.

Is there a way to turn off ssl / a way to not generate this config?

[2019-08-26 20:18] johan1252 commented on #209
Was able to get around the issue by doing `chmod 777 auth/ ; chmod 777 auth/splunk.secret`.

[2019-08-29 17:01] kundeng opened #226 "Can a container be configured with multiple SPLUNK_ROLE s?"
I configured a deployer with role splunk_deployer but it does not seem it is configured to as a searchhead of an index cluster by default.

[2019-08-30 03:57] kundeng opened #227 "Is there a way to stop ansible from reprovisioning the container?"
I was able to create a test environment with  docker-compose.  The details are not important, it contains a 3 node search head cluster, 4 node index cluster, 1 cm, 1 lm, and 1 deployer.

I noticed that the deployer is not configured to be a search head.  This was filed as an issue at #226

After that, I made some changes to the environment.  My goal is to manually converting this environment into

[2019-09-02 19:36] modevops opened #228 "Trying to provision kubernetes splunk fails on create ui login"
master container continuously restarting and is failing at 2019-09-02T19:18:21.829182823Z TASK [splunk_common : Create .ui_login] ****************************************
2019-09-02T19:18:21.829753967Z fatal: [localhost]: FAILED! => {"changed": false, "checksum": "da39a3ee5e6b4b0d3255bfef95601890afd80709", "msg": "Source /var/tmp/ansible-tmp-1567451901.53-126113864975833/source not found"}

ansibl

[2019-09-03 13:31] PaleWooten commented on #208
@arctan5x ,Hi! Changes already in image,or not? my latest splunk image is still cannot install JAVA

[2019-09-03 17:08] bb03 commented on #208
@PaleWooten This is not already in the image, it's in the latest develop branch.  When we push a new master, then this will work.  You are welcome to use splunk/splunk:edge to try things out.  Just keep in mind that this version has not gone through rigorous testing and may be unstable in some areas.

[2019-09-03 20:00] arctan5x commented on #226
We do not have a support for multiple SPLUNK_ROLE for an instance. In your case, your deployer won't act as a search head.

[2019-09-03 20:01] arctan5x commented on #228
Seems like password is missing. Are you passing in an env var "SPLUNK_PASSWORD"?

[2019-09-03 20:10] arctan5x commented on #227
We have logic to skip a lot of provisioning scripts through an Ansible check. If you look here (https://github.com/splunk/splunk-ansible/blob/develop/roles/splunk_common/tasks/main.yml), first_run is a variable that controls whether the provisioning scripts execute or not. "first_run" variable is set through get_facts.yml where it checks if your splunk secret folder exists. With this context, what

[2019-09-03 21:42] kundeng commented on #227
It seems that the first_run variable is only skipping some of the tasks but not every task?

I think the logic should be setting a provisioned flag or variable after the completion of the first run.

I have described a concrete scenario in the above.  My use case may not be the most representative example of why people make changes to the environment after it is setup but here it is:

I set up a s

[2019-09-03 21:51] kundeng commented on #226
Thanks for confirming this.  There is another github project based on vagrant which supports virtualbox and AWS and will support docker in the future.  It solves those 2 issues that I have encountered: 1. multiple-role 2.  do not re-provision after first-run unless forced.

It is here:  https://github.com/splunkenizer/Splunkenizer

[2019-09-04 07:31] jeffmeager commented on #208
My testing shows the debian :edge branch is now working to install java on a CLEAN install. It won't however add it into an existing deployment where /var and /etc is redirected. When I create a new :edge deployment mapping back to my old data folders above, it ignores the java install command. I've tried using SPLUNK_UPGRADE=true FWIW to no effect.
In the end I deployed a clean install to get jav

[2019-09-04 07:53] PaleWooten commented on #208
@megajeff75 ,as workaround - maybe just install in clean,and then copy old stuff to etc and var? its pretty dumb way though

[2019-09-04 07:54] PaleWooten commented on #208
@bb03 ,ok,i'll try edge image. Can ypu pls tell me when changes will be pushed to splunk:latest?

[2019-09-04 07:55] jeffmeager commented on #208
Yep cheers, what I ended up doing and it worked fine. Edited my original post above.

[2019-09-04 08:16] PaleWooten commented on #208
Still have problems,even on edge image:

fatal: [localhost]: FAILED! => {
    "changed": false,
    "cmd": "apt-get install --no-install-recommends python-apt -y -q",
    "rc": 100,
    "warnings": [
        "Updating cache and auto-installing missing dependency: python-apt"
    ]
}

STDOUT:

Reading package lists...
Building dependency tree...
Reading state information...
Package python-apt is no

[2019-09-04 08:59] PaleWooten commented on #208
Ok,my bad. It was proxy issue.

[2019-09-05 22:39] bb03 commented on #224
@2gavy Can you provide us with a bit more detail on this.  Why did you need to manually remove the sslconfig section?

There is a way to do what you ask.  If you look at the splunk-ansible project on this line https://github.com/splunk/splunk-ansible/blob/develop/site.yml#L18 we will run any "pre-setup" plays that you want, before starting splunk.  These can be controlled through the environment v

[2019-09-08 14:39] modevops commented on #228
here is my deployment yaml and password is there {
  "kind": "Deployment",
  "apiVersion": "extensions/v1beta1",
  "metadata": {
    "name": "master",
    "namespace": "splunk",
    "selfLink": "/apis/extensions/v1beta1/namespaces/splunk/deployments/master",
    "uid": "0f4a2992-d245-11e9-a771-025bc0ee750a",
    "resourceVersion": "727652",
    "generation": 1,
    "creationTimestamp": "2019-09-08

[2019-09-08 14:40] modevops commented on #228
this is my default.yaml
---
ansible_post_tasks: null
ansible_pre_tasks: null
cert_prefix: https
config:
  baked: default.yml
  defaults_dir: /tmp/defaults
  env:
    headers: null
    var: SPLUNK_DEFAULTS_URL
    verify: true
  host:
    headers: null
    url: null
    verify: true
  max_delay: 60
  max_retries: 3
  max_timeout: 1200
hide_password: false
retry_num: 50
shc_bootstrap_delay: 30
splun

[2019-09-11 11:00] stephenmuss commented on #209
I've also had this issue upgrading from 7.2.4 to anything above 7.2.4.

Using Kubernetes statefulsets. After updating the image tag in the statefulsets and redeploying the recreated pods immediately fail with this error.

I'm also not very comfortable with the workaround above with `chmod 777`.

Currently the `/opt/splunk/etc/auth` directory looks like this

[code]

The `/opt/splunk/etc/auth/splun

[2019-09-11 17:26] jmeixensperger commented on #228
@jonathan-vega-splunk this looks similar to the issue we were seeing on the new ucp cluster. I believe this is a [splunk-ansible](https://github.com/splunk/splunk-ansible) issue that needs to be fixed.

[2019-09-16 07:42] lindsjan opened #231 "Splunk does not log to systemout"
Running Splunk as HEC in Kubernetes. Works otherwise fine, except that occasionally my fluentd- daemonset gets 503 - errors from the HEC container, with message "Server is busy".  To my surprise, the Hec- container itself is not printing anything to systemout, that is to container log -  apart from the installation time Ansible rows. After that, no logging.. :

`
splunk-hec-86db94d796-292kw:splunk

[2019-09-16 21:05] nwang92 commented on #231
You may have better luck by logging into Splunk and running an `index=_internal` search to see exactly what's happening. My guess is you may be overwhelming whatever default queue settings are defined for the HEC endpoint or you may be hitting open file handler limits.

But for your original ask, from https://splunk.github.io/splunk-ansible/ADVANCED.html#environment-variables-for-splunk-instance,

[2019-09-16 21:20] nwang92 commented on #228
I believe this is addressed with https://github.com/splunk/splunk-ansible/pull/255/files so I'm tentatively closing this for now. We published `splunk/splunk:7.2.8` with this change, so please let me know if this looks fixed. Otherwise, feel free to re-open this issue.

[2019-09-16 21:20] #228 closed, assigned to nobody

[2019-09-17 00:14] nwang92 commented on #227
In general, we've tried to make the combination of settings in the default.yml + env vars to be as idempotent as possible - I think there are still a few edge cases, but the goal is to make the application configuration as declarative as possible.

For your specific case, since you're using these containers as full playground instances, I would actually recommend you run `docker run ... splunk/spl

[2019-09-17 11:47] lindsjan commented on #231
thanks, checking the internal index. Seems there is something wrong with SPLUNK_TAIL_FILE.  Before tuning, there were rows in splunkd_stderr.log but none came to systemout.  After setting SPLUNK_TAIL_FILE to splunkd.log,  no difference, nothing in systemout.

Maybe SPLUNK_TAIL_FILE is not obeyed. In container can see my value set:

SPLUNK_TAIL_FILE=splunkd.log

but ansible install still writes to

[2019-09-17 14:32] 2gavy commented on #224
Hey @bb03, apologies for the late reply! Let me share a bit on the setup.

I'm running multiple microservices on my k8 cluster through the sidecar approach. Pretty much similar to https://github.com/splunk/docker-splunk/issues/186.

The docker universal forwarder image I'm using can be found here, https://hub.docker.com/r/splunk/universalforwarder/tags

Splunk Enterprise is has been setup (and man

[2019-09-18 04:36] nwang92 commented on #231
I believe you'll need to pass in the full file path, something like:
[code]

Or for multiple files and/or the universal forwarder image, you can refer to the env vars we have for the tests over this:
https://github.com/splunk/docker-splunk/blob/develop/tests/test_docker_splunk.py#L690
https://github.com/splunk/docker-splunk/blob/develop/tests/test_docker_splunk.py#L726

[2019-09-18 09:28] lindsjan commented on #231
Strange, the env variable is set correctly...

ansible@splunk-hec:/$ printenv | grep TAIL
SPLUNK_TAIL_FILE=/opt/splunk/var/log/splunk/splunkd.log

..but when looking at containers processes, can see there is tail with command line
ansible@splunk-hec:/$ cat /proc/1263/cmdline
tail-n0-f/opt/splunk/var/log/splunk/splunkd_stderr.log

so its not obeying entrypoint.sh ?

[2019-09-18 16:20] LorenKeagle opened #237 "Splunk 7.3.1 missing"
We've been running 7.3.1 for several weeks now, and the image has since disappeared from dockerhub, breaking our build process and forcing us to revert to 7.3.0.  I see that two days ago there was a checking to 'revert 7.3.1', but no explanation or bugs files against it (that I can see).

Was this intentional to remove an existing image without replacing it?  Was there some bug or security vulnera

[2019-09-18 17:06] bb03 commented on #237
@LorenKeagle This post might best answer your question.  Let me know if you have additional questions.

https://answers.splunk.com/answers/771315/where-did-splunk-731-go.html

[2019-09-20 17:35] arctan5x commented on #237
We are in the process of releasing 7.3.1.1. Closing this ticket.

[2019-09-20 17:35] #237 closed, assigned to nobody

[2019-09-23 17:25] nwang92 commented on #231
Are you using the `splunk/splunk` image or the `splunk/universalforwarder` image? I'm looking back on the timeline of this change, and it looks like this `SPLUNK_TAIL_FILE` feature was added April of this year. So this should be available in the >=7.2.7 tags of the above images.

[2019-09-23 18:01] #169 closed, assigned to nobody

[2019-09-23 20:58] #223 closed, assigned to nobody

[2019-09-23 21:05] nwang92 commented on #214
Additionally, there is also a way to add your own custom config file - which in this case would be a indexes.conf with the proper content: https://github.com/splunk/docker-splunk/blob/develop/docs/ADVANCED.md#create-custom-configs

Closing issue as there's multiple workarounds (apps, custom confs, downstream images) provided.

[2019-09-23 21:05] #214 closed, assigned to nobody

[2019-09-23 21:11] nwang92 commented on #226
Although this is probably possible, our thinking here was that "containers are cheap" so it should be fairly inexpensive to include an additional container in your deployment to act as a specific role. On bare-metal or cloud, you might want to condense some roles in order to reduce cost and overhead, however even then only specific role combinations are supported or even recommended.

In any case,

[2019-09-23 21:11] #226 closed, assigned to nobody

[2019-09-23 21:36] nwang92 commented on #212
I think the problem here is the env var `SPLUNK_DEFAULTS_URL=http://splunk-defaults/default.yml`.

This needs to be a resolvable host, and upon startup our dynamic inventory script will try to download the `default.yml` from this URL. If this host does not exist (which I'm guessing is the case because it looks like it's coming from our on the k8s examples) or there are errors fetching the file, it

[2019-09-23 21:36] #212 closed, assigned to nobody

[2019-09-23 21:57] nwang92 opened #241 "SplunkBase apps no longer support starting with >=7.2.8"
Reproduced with:
[code]

Error:
[code]

[2019-09-24 00:33] #189 closed, assigned to nwang92

[2019-09-24 00:45] nwang92 commented on #227
Closing this, but feel free to re-open if you want to continue the discussion!

[2019-09-24 00:45] #227 closed, assigned to nobody

[2019-09-24 00:46] nwang92 commented on #185
Closing due to inactivity, but please re-open if you continue to see problems arise.

[2019-09-24 00:46] #185 closed, assigned to nobody

[2019-09-24 05:49] lindsjan commented on #231
Thanks, that explained - had splunk:7.2.5.1 in use. Now after updating works fine!

[2019-09-24 18:28] #231 closed, assigned to nobody

[2019-09-24 20:05] #241 closed, assigned to nwang92

[2019-09-30 21:34] nwang92 opened #248 "Support java for redhat 8"
Support java installations for the redhat UBI image

[2019-10-10 14:18] yjo opened #251 "How to select free license for dev purposes?"
I'd like to configure docker-splunk to start up with the 'Free' license group on first start up. The use case is for developers running a dockerised version of our application infrastructure on their machines.

Is there a sensible way of doing this with the current implementation?  Once the container has started using the enterprise trial license I can add
[code]
to /opt/splunk/etc/system/local/se

[2019-10-16 03:34] JamesRiley opened #254 "Support for ARM"
I am trying to install the Universal Forwarder on a RaspberryPi 3 device running Ubuntu-Core.
Therefore I can only use snaps or docker containers.
There does not appear to be a docker container for Universal Forwarder for Linux/armv7l. Can one be created please?

TIA
James

[2019-10-18 09:45] azilbersteinSFDC opened #257 "Can you provide an example yml file showing non-clustered indexers?"
Hi,

I'd like to experiment with a Splunk cluster that contains: 3 searchheads in a cluster; 1 license master; 3 non-clustered indexers (without data replication). Can you provide an example of how to set it up? I went through the examples (in https://github.com/splunk/docker-splunk/tree/develop/test_scenarios) and couldn't find anything - the `SPLUNK_INDEXER_URL` parameter is used only with clust

[2019-10-18 16:33] nwang92 commented on #254
cc @mikedickey

[2019-10-18 16:39] nwang92 commented on #257
That parameter is used for both clustered and non-clustered indexer tiers. You can refer to either https://github.com/splunk/docker-splunk/blob/develop/test_scenarios/1sh2idx2hf.yaml (minus the forwarders) or https://github.com/splunk/docker-splunk/blob/develop/test_scenarios/2idx2sh.yaml.

When `SPLUNK_CLUSTER_MASTER_URL` is supplied, the search heads will add the cluster master as a search peer.

[2019-10-18 16:41] nwang92 commented on #251
Hmm this does seem to be a bit of a gap at the moment - currently not specifying `SPLUNK_LICENSE_URI` just gives you the trial license. Maybe we can add a special condition for `SPLUNK_LICENSE_URI=Free`?

[2019-10-18 16:52] azilbersteinSFDC commented on #257
Thank you @nwang92 . I think that in order to achieve my desired setup (3 independent indexers with no replication) all I need to do is to define `replication_factor: 1` in the `default.yml` file.

[2019-10-18 17:23] nwang92 commented on #251
For a workaround, you could do any of the following:
- Use a `default.yml` and specify the setting yourself in `server.conf` using the custom conf file: https://github.com/splunk/docker-splunk/blob/develop/docs/ADVANCED.md#create-custom-configs
- Use a custom playbook, mount/add it to your container, and wire it up with the `SPLUNK_ANSIBLE_POST_TASKS` env var
- Do it manually through the web UI/RE

[2019-10-18 18:14] nwang92 commented on #257
That replication factor is actually only used for indexer clusters (through the cluster master) - by default, if you peer indexers directly to search heads, the indexers won't be sharing data between themselves because they have no central master. So they will naturally have a "replication" factor of 1. If an indexer goes down, you'd lose search access to any data that indexer would've held.

[2019-10-18 18:50] azilbersteinSFDC commented on #257
I see @nwang92 . So it is the presence of the Cluster Master node that decides if the Indexers are clustered - if it's present then they form a cluster otherwise they're independent. And anyway you choose, you should still configure all your indexers to know about all of them (e.g. `SPLUNK_INDEXER_URL=idx1,idx2`). Did I get it right?

And a follow up question: does the Cluster Master have any othe

[2019-10-21 08:52] yjo commented on #251
Thanks @nwang92.  I tried your first option, but that (or adding a `/opt/splunk/etc/system/local/server.conf` file in the Dockerfile) didn't seem to work - the changes were reverted by some process or other on first run of the container.  What did work for me was adding the config to `/opt/splunk-etc/system/local/server.conf`:
[code]

But I agree that the ideal solution would be special handling o

[2019-10-21 20:58] nwang92 commented on #257
Yeah, that's correct.

Outside of coordinating pools of indexers and handling indexer discovery when things go in and out of service, the cluster master can also be used to distribute apps/bundles of configs to your indexers. Say you have a fleet of 100 indexers that all require the same props + transforms to mold your data, it can be tedious to manually set them all up. If you instruct the cluste

[2019-10-21 20:58] #257 closed, assigned to nwang92

[2019-10-22 01:38] azilbersteinSFDC commented on #257
Awesome. Thank you so much @nwang92 .

[2019-10-24 14:53] rlewkowicz opened #264 "The container is painful to use"
So coming into this, I'm just looking for the inputs.conf. I expect it to be somewhere in the container already. There's no find. But there's also no apt, no yum, no apk. I can't trouble shoot or debug this thing, some of your TOC links don't work.

I need to mount a path into the container, but I can't figure out where and I can't explore the container, because it's aggressively minimal

[2019-10-24 19:37] rlewkowicz commented on #264
It also drops you into a shell as the ansible user which appears to not have permission to access most things

[2019-10-29 17:54] neogeek83 opened #265 "How to specify the UID/GID inside the container that Splunk uses?"
So I need to have my Splunk data stored outside the container(for easier data ingest,backup, and config updates), and used via a volume. Okay, no worries, that's working fine. The next issue is I need to change the ownership of the files, so need to change the UID/GID of the `splunk` user inside the container to `uid=404 gid=404`. Why? The default `splunk` user with `uid=999 guid=999` conflicts wi

[2019-10-29 18:17] nwang92 commented on #251
I added support for `SPLUNK_LICENSE_URI=Free` as part of https://github.com/splunk/splunk-ansible/pull/281. This should be available in `splunk/splunk:edge` which gets built nightly, and it'll likely be available in the next release of Splunk images (at the time of this post, we're currently on 8.0.0).

[2019-10-29 18:17] #251 closed, assigned to nwang92

[2019-10-30 13:23] neogeek83 commented on #265
I presume using volumes like this is the preferred/suggested way we're supposed to be making updates to the configs  dashboards and such... If I'm missing something and doing it wrong, that'd be good to know as well. Thanks!

[2019-10-30 15:04] SloshBurch commented on #208
I just tried on the new 8.0 image and something else appears to be up as I can't even su to root to debug.

`[ansible@latest splunk]$ su -
bash: su: command not found`

[2019-10-31 20:36] kuroiokami opened #268 "Volume mounting with Docker Compose"
From command line, it works for the most part as you would expect. Loads the apps in the mounted volume.
`-v /path/to/app:/opt/splunk/etc/apps/`

In docker compose if it put
`      volumes:
        - /path/to/app:/opt/splunk/etc/apps/`

For some reason when splunk is loading it seems like I doesn't see? the apps and doesn't load correctly. I think this user was describing the same issue here https

[2019-11-01 04:40] nwang92 commented on #268
Are you seeing exactly the same error message as described in that Splunk Answers post? Even if it's slightly different or if it's an ansible failure, can you add that to this post?

Additionally it would be helpful to have the full `docker-compose.yml` you're using just to make sure everything else is set as expected.

[2019-11-01 13:05] kuroiokami commented on #268
What is the best way to get the logs that you need. When I try to mount it in docker compose, the ansible script finishes but splunk doesn't even start. If I remove the volume declaration it atleast starts up clean.

[2019-11-01 20:38] bb03 commented on #264
Hi Ryan.  Let me give you some more overview.  We have three users
* ansible - super-user, runs ansible plays for configuration
* splunk - owns the contents of /opt/splunk and has restricted access to other parts of the container
* root

We default to the ansible account, so to do the things in the /opt/splunk you'll need to sudo to the splunk user.  For the new container, we use microdnf as the p

[2019-11-01 20:45] bb03 commented on #265
We'll start investigating what integrating this into our environment variables would look like.  In the meantime, you might want to check out the ansible_pre_tasks variable https://github.com/splunk/splunk-ansible/blob/develop/site.yml#L21.  This should allow you to run custom ansible plays before executing our main role configuration.